<div id='page'>
  <main>
    {{!--prettier-ignore--}}
    <style>
      html{
        background-color:#ffffd4;
      }
      main section{
        position:relative;
        margin-top:50px;
        margin-bottom:50px;
      }
      main section .FixedShell{
        position:relative !important;
      }
      .LoadingModal_1{
        position:relative;
      }
    </style>
    <div class='H1'>Component Guide</div>
    <br />
    {{#EACH window.HBS_DATA.component}}
      <section>
        <div class='H3'>
          <input style='display:inline-block; width:100%; outline:none; border:none;' readonly type='text' value='{{obj.path}}' onclick='this.select();' />
        </div>
        <br />
        <script>Include('/{{obj.path}}');</script>
      </section>
    {{/EACH}}
  </main>
</div>