<div id='page'>
  <main>
    <ul class="divide-y-[10px] divide-[red] divide-solid">
      <li class="bg-amber-300">a</li>
      <li class="bg-amber-300">a</li>
      <li class="bg-amber-300">a</li>
      <li class="bg-amber-300">a</li>
    </ul>
  </main>
</div>