<div id='page'>
  <main>
    {{!--prettier-ignore--}}
    <style>
      main section{
        margin-top:50px;
        margin-bottom:50px;
      }
    </style>
    <div class="H1">Swiper Guide</div>
    {{#EACH window.HBS_DATA.swiper}}
      <section>
        <div class="H3">
          <input style="display:inline-block; width:100%; outline:none; border:none;" readonly type="text" value="{{obj.path}}" onclick="this.select();"/>
        </div>
        <br/>
        <script>Include('{{obj.path}}');</script>
      </section>
    {{/EACH}}
  </main>
</div>