<div id='page'>
  <main>
    <section data-seq='20230809145812946'>
      <img src='https://gifpng.com/560x1315/ffd4d4/ff4444' alt='' />
    </section>
    <section data-seq='20230809145826908' style='position:sticky; top:0;'>
      <div style='background-color:#fff980;'>CSS sticky</div>
    </section>
    <section data-seq='20230809145812946'>
      <img src='https://gifpng.com/560x1315/ffd4d4/ff4444' alt='' />
    </section>
  </main>
  <footer>
    <div class='FixedBox'>
      <div class='FixedShell Bottom'>
        <footer class='Footer_1-a'>
          <div style='background-color:#00b2ff;'>JS sticky Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </footer>
      </div>
    </div>
  </footer>
</div>