<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <!-- 검색 조건 -->
            <div class='tit-box'><h3>검색 조건</h3></div>
            <div class='tbl-box'>
              <table class='table' >

                <colgroup>
                  <col style='width:15%' />
                  <col style='width:85%' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>게시판</th>
                    <td>
                      <select class='select-wrap' name=''>
                        <option value=''>선택</option>
                        <option value=''>1:1 문의</option>
                        <option value=''>상품후기</option>
                        <option value=''>상품문의</option>
                        <option value=''>공지사항</option>
                        <option value=''>이벤트 게시판</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>게시판 분류</th>
                    <td>
                      <select class='select-wrap' name=''>
                        <option value=''>선택</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>검색어</th>
                    <td>
                      <select class='select-wrap' name=''>
                        <option value=''>선택</option>
                        <option value=''>제목</option>
                        <option value=''>내용</option>
                        <option value=''>아이디</option>
                        <option value=''>이름</option>
                        <option value=''>닉네임</option>
                        <option value=''>이메일</option>
                        <option value=''>휴대폰번호</option>
                      </select>
                      <input type='text' class='input-wrap' placeholder='placeholder' />
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>작성일</th>
                    <td>
                      <span class='input-calendar-wrap'>
                        <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                        <input type='text' class='inline-block float-right w-[76px] h-[38px]' />
                      </span>
                      <span class='inline-block px-1'>~</span>
                      <span class='input-calendar-wrap'>
                        <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                        <input type='text' class='inline-block float-right w-[76px] h-[38px]' />
                      </span>
                    </td>
                  </tr></tbody>
              </table>
            </div>
            <div class='text-center mt-6'>
              <button type='button' class='btn-m'>검색</button>
              <button type='button' class='btn-white-m'>초기화</button>
            </div>
            <!-- //검색 조건 -->
            <!-- 갤러리리스트 -->
            <div class='tit-box mt-10'><h3>갤러리 리스트</h3></div>
            <div class='sorting-box text-right'>
              <select class='select-wrap' name=''>
                <option value=''>10개씩 보기</option>
                <option value=''>20개씩 보기</option>
                <option value=''>30개씩 보기</option>
                <option value=''>50개씩 보기</option>
                <option value=''>100개씩 보기</option>
                <option value=''>150개씩 보기</option>
                <option value=''>200개씩 보기</option>
                <option value=''>300개씩 보기</option>
                <option value=''>500개씩 보기</option>
                <option value=''>1000개씩 보기</option>
                <option value=''>5000개씩 보기</option>
              </select>
            </div>
            <div class='flex justify-start flex-wrap mt-1'>
              <div class='w-[calc(20%-8px)] min-h-[388px] p-2 mr-2 mb-2 border'>
                <label class='label inline-block'>
                  <input type='checkbox' name='' />
                  <span class='label-text'></span>
                  <a href='javascript:void(0)' class='btn-post-detail-view'>
                    <img class='min-w-[255px] min-h-[255px]' src='' alt='' />
                  </a>
                </label>
                <div class='flex justify-between mt-2 py-2 border-t border-t-sub-blue-200'>
                  <p class='w-3/4 truncate'>[이벤트게시판 &gt; 룩북][이벤트게시판 &gt; 룩북][이벤트게시판 &gt; 룩북][이벤트게시판 &gt; 룩북][이벤트게시판 &gt; 룩북]</p>
                  <span class='w-1/4 inline-block text-right'><i class='fa-solid fa-eye'></i> 1,220</span>
                </div>
                <p class='w-3/4 truncate'>
                  <span class='inline-block px-1 border border-[#92E7E1] text-[#00B0A5] rounded h-[20px] leading-[20px]'>N</span>
                  게시글 입니다. 테스트 입니다… (<span class='text-red'>1</span>)
                </p>
                <div class='flex justify-between mt-3'>
                  <span class='w-1/2 truncate'>아이디/닉네임</span>
                  <span class='w-1/2 inline-block text-right'>2022-06-22 11:22:33</span>
                </div>
              </div>
              <div class='w-[calc(20%-8px)] min-h-[388px] p-2 mr-2 mb-2 border'>
                <label class='label inline-block'>
                  <input type='checkbox' name='' />
                  <span class='label-text'></span>
                  <a href='javascript:void(0)' class='btn-post-detail-view'>
                    <img class='min-w-[255px] min-h-[255px]' src='' alt='' />
                  </a>
                </label>
                <div class='mt-2 border-t border-t-sub-blue-200'>
                  <div class='flex justify-between mt-2'>
                    <p class='w-3/4 truncate'>[이벤트게시판 &gt; 룩북][이벤트게시판 &gt; 룩북][이벤트게시판 &gt; 룩북][이벤트게시판 &gt; 룩북][이벤트게시판 &gt; 룩북]</p>
                    <span class='w-1/4 inline-block text-right'><i class='fa-solid fa-eye'></i> 1,220</span>
                  </div>
                  <p class='w-3/4 truncate mt-2'>
                    <span class='inline-block px-1 border border-[#F5BFCC] text-[#E54E73] rounded h-[20px] leading-[20px]'>H</span>
                    게시글 입니다. 테스트 입니다… (<span class='text-red'>1</span>)
                  </p>
                  <div class='flex justify-between mt-3'>
                    <span class='w-1/2 truncate'>아이디/닉네임</span>
                    <span class='w-1/2 inline-block text-right'>2022-06-22 11:22:33</span>
                  </div>
                </div>
              </div>
              <div class='w-[calc(20%-8px)] min-h-[388px] p-2 mr-2 mb-2 border'>
                <label class='label inline-block'>
                  <input type='checkbox' name='' />
                  <span class='label-text'></span>
                  <a href='javascript:void(0)' class='btn-post-detail-view'>
                    <img class='min-w-[255px] min-h-[255px]' src='' alt='' />
                  </a>
                </label>
                <div class='mt-2 border-t border-t-sub-blue-200'>
                  <div class='flex justify-between mt-2'>
                    <p class='w-3/4 truncate'><span><i class='fa-solid fa-lock'></i></span> 게시글 입니다. 테스트 입니다… (<span class='text-red'>1</span>)</p>
                    <span class='w-1/4 inline-block text-right'><i class='fa-solid fa-eye'></i> 1,220</span>
                  </div>
                  <div class='flex justify-between mt-3'>
                    <span class='w-1/2 truncate'>아이디/닉네임</span>
                    <span class='w-1/2 inline-block text-right'>2022-06-22 11:22:33</span>
                  </div>
                </div>
              </div>
            </div>
            <div class='mt-1'>
              <span class='inline-block mr-1'>* 선택 게시글</span>
              <button type='button' class='btn-post-modify btn-m'>수정</button>
              <button type='button' class='btn-post-delete btn-warning-m'>삭제</button>
            </div>
            <!-- //갤러리리스트 -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>