<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <!-- 기본정보 -->
            <div>
              <div class='tit-box'><h3>기본 정보</h3></div>
              <table class='table mt-1' >

                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[85%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>배너 구분</th>
                    <td>
                      <label class='label'>
                        <input type='radio' />
                        <span class='label-text'>PC</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' />
                        <span class='label-text'>Mobile</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>배너 그룹</th>
                    <td>
                      <select class='select-wrap'>
                        <option>전체</option>
                        <option>메인 배너 그룹 1</option>
                        <option>메인 배너 그룹 2</option>
                        <option>애트니 특화 매거진 배너</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>배너 이름</th>
                    <td>
                      <input type='text' class='input-wrap w-1/2' placeholder='placeholder' />
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>배너 링크 URL</th>
                    <td>
                      <label class='label'>
                        <input type='radio' />
                        <span class='label-text'>현재 창</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' />
                        <span class='label-text'>새 창</span>
                      </label>
                      <div class='mt-1'>
                        <input type='text' class='input-wrap w-1/2' placeholder='placeholder' />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>배너 이미지 설명</th>
                    <td>
                      <div>
                        <input type='text' class='input-wrap w-1/2' placeholder='placeholder' />
                        <span class='ml-1'><span class='text-red'>0</span>/50</span>
                      </div>
                      <div class='mt-1 text-red'>* 배너 이미지의 alt와 title 속성의 내용이며, 최대 50자 입니다.</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>배너 이미지</th>
                    <td>
                      <input class='bg-main-lightblue leading-[38px] pl-2 text-sub-blue-500 border border-sub-blue-200 rounded-sm' value='파일 선택' disabled='disabled' />
                      <label for='pc_file' class='rounded-sm bg-main-blue h-[40px] text-white inline-block px-4 leading-[40px] align-top cursor-pointer'>파일 첨부</label>
                      <input type='file' id='pc_file' class='absolute left-[-99999px]' />
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>사용 여부</th>
                    <td>
                      <label class='label'>
                        <input type='radio' />
                        <span class='label-text'>사용</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' />
                        <span class='label-text'>미사용</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>노출 기간</th>
                    <td>
                      <label class='label'>
                        <input type='radio' />
                        <span class='label-text'>상시 노출</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' />
                        <span class='label-text'>기간 노출</span>
                      </label>
                      <div class='inline-block ml-1'>
                        <span class='input-calendar-wrap'>
                          <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                          <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                        </span>
                        <span>~</span>
                        <span class='input-calendar-wrap'>
                          <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                          <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //기본정보 -->

            <!-- ForATNY -->
            <div class='mt-7'>
              <div class='tit-box'><h3>For ATNY</h3></div>
              <div class='tbl-box'>
                <table class='table mt-1' >

                  <colgroup>
                    <col class='w-[15%]' />
                    <col class='w-[85%]' />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope='row'>전시 카테고리 선택</th>
                      <td>
                        <label class='label'>
                          <input type='checkbox' />
                          <span class='label-text'>전체</span>
                        </label>
                        <label class='label ml-5'>
                          <input type='checkbox' />
                          <span class='label-text'>남성</span>
                        </label>
                        <label class='label ml-5'>
                          <input type='checkbox' />
                          <span class='label-text'>여성</span>
                        </label>
                        <label class='label ml-5'>
                          <input type='checkbox' />
                          <span class='label-text'>주니어</span>
                        </label>
                        <label class='label ml-5'>
                          <input type='checkbox' />
                          <span class='label-text'>라이프</span>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- //ForATNY -->
            <div class='text-center mt-7'>
              <button type='button' class='btn-blue'>등록</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>