<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <script>
    Include('/hbs/component/FloatingUtil.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <!-- 기본정보 -->
            <div>
              <div class='tit-box'>
                <h3>기본 정보</h3>
              </div>
              <table class='table mt-1' >

                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[85%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>노출 브랜드 <span class='text-red'>*</span></th>
                    <td>
                      <label class='label'>
                        <input type='checkbox' />
                        <span class='label-text'>TBH 글로벌(기본)</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' />
                        <span class='label-text'>마인드 브릿지 맨</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' />
                        <span class='label-text'>마인드 브릿지 위민</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' />
                        <span class='label-text'>쥬시쥬디</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' />
                        <span class='label-text'>베이직 하우스</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' />
                        <span class='label-text'>아큐아스큐텀</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' />
                        <span class='label-text'>아울렛</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>팝업 구분 <span class='text-red'>*</span></th>
                    <td>
                      <label class='label'>
                        <input type='radio' checked='' />
                        <span class='label-text'>일반</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' />
                        <span class='label-text'>동영상</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>노출 환경 <span class='text-red'>*</span></th>
                    <td>
                      <label class='label'>
                        <input type='checkbox' />
                        <span class='label-text'>PC</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' />
                        <span class='label-text'>Mobile</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>팝업 제목 <span class='text-red'>*</span></th>
                    <td><input type='text' class='input-wrap w-1/2' placeholder='placeholder' /></td>
                  </tr>
                  <tr>
                    <th scope='row'>사용 여부 <span class='text-red'>*</span></th>
                    <td>
                      <label class='label'>
                        <input type='radio' checked='' />
                        <span class='label-text'>사용안함</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' />
                        <span class='label-text'>사용</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>팝업 노출 기간 <span class='text-red'>*</span></th>
                    <td>
                      <div class='H-BOX'>
                        <span class='input-calendar-wrap'>
                          <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                          <input type='text' class='inline-block float-right w-[76px] h-[38px]' />
                        </span>
                        <select class='select-wrap'>
                          <option>시간</option>
                          <option>00</option>
                          <option>01</option>
                        </select>
                        <select class='select-wrap'>
                          <option>분</option>
                          <option>00</option>
                          <option>01</option>
                        </select>
                        <span class='inline-block px-1'>~</span>
                        <span class='input-calendar-wrap'>
                          <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                          <input type='text' class='inline-block float-right w-[76px] h-[38px]' />
                        </span>
                        <select class='select-wrap'>
                          <option>시간</option>
                          <option>00</option>
                          <option>01</option>
                        </select>
                        <select class='select-wrap'>
                          <option>분</option>
                          <option>00</option>
                          <option>01</option>
                        </select>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>오늘 하루 열지 않기 <span class='text-red'>*</span></th>
                    <td>
                      <label class='label'>
                        <input type='radio' checked='' />
                        <span class='label-text'>사용안함</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' />
                        <span class='label-text'>사용</span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //기본정보 -->

            <!-- PC일반팝업추가정보 -->
            <div class='mt-7'>
              <div class='tit-box'>
                <h3>PC 일반 팝업 추가 정보</h3>
              </div>
              <table class='table mt-1' >

                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[85%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>팝업 크기 <span class='text-red'>*</span></th>
                    <td>
                      <input type='text' class='input-wrap text-sub-blue-500 bg-main-lightblue' value='400' readonly='' />
                      <select class='select-wrap bg-main-lightblue' disabled=''>
                        <option>px</option>
                        <option>%</option>
                      </select>
                      <span class='mx-1'>X</span>
                      <input type='text' class='input-wrap text-sub-blue-500 bg-main-lightblue' value='250' readonly='' />
                      <select class='select-wrap bg-main-lightblue' disabled=''>
                        <option>px</option>
                        <option>%</option>
                      </select>
                      <div class='mt-1 text-red'>
                        * 팝업 크기는 400 X 250으로 고정됩니다.
                        <br />
                        * 에디터에 등록된 이미지를 가로 팝업 크기(width)에 맞게끔 자동 조정 합니다. 높이(height)는 이미지 크기에 따라 스크롤 또는 여백이 발생될 수 있습니다.
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>팝업 위치 <span class='text-red'>*</span></th>
                    <td>
                      <div>
                        <span>상단</span>
                        <input type='text' class='input-wrap mx-1' />
                        <span>px</span>
                      </div>
                      <div class='mt-1'>
                        <span>좌측</span>
                        <input type='text' class='input-wrap mx-1' />
                        <span>px</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>동영상 파일 업로드 <span class='text-red'>*</span></th>
                    <td>
                      <div class='H-BOX'>
                        <div class='border-sub-blue-200 rounded-sm relative overflow-hidden'>
                          <input class='bg-main-lightblue leading-[38px] pl-2 text-sub-blue-500 border border-sub-blue-200 rounded-sm' value='test.mp4' disabled='disabled' />
                          <label for='pc_file' class='rounded-sm bg-main-blue h-[40px] text-white inline-block px-4 leading-[40px] align-top cursor-pointer'>파일 첨부</label>
                          <input type='file' id='pc_file' class='absolute left-[-99999px]' />
                        </div>
                        <label class='label ml-5'>
                          <input type='checkbox' />
                          <span class='label-text'>루프 기능 사용</span>
                        </label>
                      </div>
                      <div class='mt-1 text-main-blue'>파일 크기 (00mb/??)</div>
                      <div class='mt-1 text-red'>* 동영상 팝업 내에서 등록된 영상이 자동재생 됩니다.</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>동영상 링크 <span class='text-red'>*</span></th>
                    <td>
                      <input type='text' class='input-wrap w-1/2' value="<iframe width='560' height='315' src=''><iframe>" readonly='' />
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>
                      <div>
                        구성 1
                        <span class='text-red'>*</span>
                      </div>
                      <div class='mt-1'>
                        <button class='btn-s'>추가</button>
                        <button class='btn-warning-s'>삭제</button>
                      </div>
                    </th>
                    <td>
                      <table class='border-table w-full' >
                        <colgroup>
                          <col class='w-1/5' />
                          <col class='w-4/5' />
                        </colgroup>
                        <tbody>
                          <tr>
                            <th>추가 타이틀</th>
                            <td>
                              <input type='text' class='input-wrap w-1/3' placeholder='placeholder' />
                            </td>
                          </tr>
                          <tr>
                            <th>추가 서브 타이틀</th>
                            <td>
                              <input type='text' class='input-wrap w-1/3' placeholder='placeholder' />
                            </td>
                          </tr>
                          <tr>
                            <th>내용</th>
                            <td>
                              <div id='app2'></div>
                              <div class='mt-1 text-red'>
                                * 팝업내 이미지 등록을 원하시는 경우 권장 사이즈는 1200 X 750, 800 X 500, 400 X 250 입니다.
                                <br />
                                * 멀티팝업을 사용하길 원하시는 경우 내용을 추가하여 등록해주세요. 멀티팝업으로 사용이 가능합니다.
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope='row'>팝업 배경 색상 <span class='text-red'>*</span></th>
                            <td>
                              <input type='text' class='input-wrap bg-[#D9001B] cursor-default' value='#D9001B' readonly='' />
                            </td>
                          </tr>
                          <tr>
                            <th scope='row'>타임세일 카운트다운 연동하기 <span class='text-red'>*</span></th>
                            <td>
                              <select class='select-wrap'>
                                <option>선택</option>
                                <option>타임세일 이벤트 1</option>
                              </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //PC일반팝업추가정보 -->

            <!-- MOBILE팝업추가정보 -->
            <div class='mt-7'>
              <div class='tit-box'>
                <h3>MOBILE 팝업 추가 정보</h3>
              </div>
              <table class='table mt-1' >

                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[85%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>팝업 크기 <span class='text-red'>*</span></th>
                    <td>
                      <input type='text' class='input-wrap text-sub-blue-500 bg-main-lightblue' value='300' readonly='' />
                      <select class='select-wrap bg-main-lightblue' disabled=''>
                        <option>px</option>
                        <option>%</option>
                      </select>
                      <span class='mx-1'>X</span>
                      <input type='text' class='input-wrap text-sub-blue-500 bg-main-lightblue' value='300' readonly='' />
                      <select class='select-wrap bg-main-lightblue' disabled=''>
                        <option>px</option>
                        <option>%</option>
                      </select>
                      <div class='mt-1 text-red'>
                        * 팝업 크기는 300 X 300으로 고정됩니다.
                        <br />
                        * 에디터에 등록된 이미지를 가로 팝업 크기(width)에 맞게끔 자동 조정 합니다. 높이(height)는 이미지 크기에 따라 스크롤 또는 여백이 발생될 수 있습니다.
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>팝업 위치 <span class='text-red'>*</span></th>
                    <td>
                      <div>
                        <span>상단</span>
                        <input type='text' class='input-wrap mx-1' />
                        <span>px</span>
                      </div>
                      <div class='mt-1'>
                        <span>좌측</span>
                        <input type='text' class='input-wrap mx-1' />
                        <span>px</span>
                      </div>
                      <div class='mt-2'>
                        <label class='label'>
                          <input type='checkbox' />
                          <span class='label-text'>중앙 정렬</span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>동영상 파일 업로드 <span class='text-red'>*</span></th>
                    <td>
                      <div class='H-BOX'>
                        <div class='border-sub-blue-200 rounded-sm relative overflow-hidden'>
                          <input class='bg-main-lightblue leading-[38px] pl-2 text-sub-blue-500 border border-sub-blue-200 rounded-sm' value='test.mp4' disabled='disabled' />
                          <label for='pc_file2' class='rounded-sm bg-main-blue h-[40px] text-white inline-block px-4 leading-[40px] align-top cursor-pointer'>파일 첨부</label>
                          <input type='file' id='pc_file2' class='absolute left-[-99999px]' />
                        </div>
                        <label class='label ml-5'>
                          <input type='checkbox' />
                          <span class='label-text'>루프 기능 사용</span>
                        </label>
                      </div>
                      <div class='mt-1 text-main-blue'>파일 크기 (00mb/??)</div>
                      <div class='mt-1 text-red'>* 동영상 팝업 내에서 등록된 영상이 자동재생 됩니다.</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>동영상 링크 <span class='text-red'>*</span></th>
                    <td>
                      <input type='text' class='input-wrap w-1/2' value="<iframe width='560' height='315' src=''><iframe>" readonly='' />
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>
                      <div>
                        구성 1
                        <span class='text-red'>*</span>
                      </div>
                      <div class='mt-1'>
                        <button class='btn-s'>추가</button>
                        <button class='btn-warning-s'>삭제</button>
                      </div>
                    </th>
                    <td>
                      <table class='border-table w-full' >
                        <colgroup>
                          <col class='w-1/5' />
                          <col class='w-4/5' />
                        </colgroup>
                        <tbody>
                          <tr>
                            <th>추가 타이틀</th>
                            <td>
                              <input type='text' class='input-wrap w-1/3' placeholder='placeholder' />
                            </td>
                          </tr>
                          <tr>
                            <th>추가 서브 타이틀</th>
                            <td>
                              <input type='text' class='input-wrap w-1/3' placeholder='placeholder' />
                            </td>
                          </tr>
                          <tr>
                            <th>내용</th>
                            <td>
                              <div id='app3'></div>
                              <div class='mt-1 text-red'>
                                * 팝업내 이미지 등록을 원하시는 경우 권장 사이즈는 900 X 900, 600 X 600, 300 X 300 입니다.
                                <br />
                                * 멀티팝업을 사용하길 원하시는 경우 내용을 추가하여 등록해주세요. 멀티팝업으로 사용이 가능합니다.
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope='row'>팝업 배경 색상 <span class='text-red'>*</span></th>
                            <td>
                              <input type='text' class='input-wrap bg-[#D9001B] cursor-default' value='#D9001B' readonly='' />
                            </td>
                          </tr>
                          <tr>
                            <th scope='row'>타임세일 카운트다운 연동하기 <span class='text-red'>*</span></th>
                            <td>
                              <select class='select-wrap'>
                                <option>선택</option>
                                <option>타임세일 이벤트 1</option>
                              </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //MOBILE팝업추가정보 -->
            <div class='text-center mt-7'>
              <button type='button' class='btn-white-l'>배너 리스트</button>
              <button type='button' class='btn-blue'>등록</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>