<style>
  html{ background-color:#ffffd4; }
  .H3 { background-color: #fff; }
</style>

<div id='page'>
  <main>
    <section class='p-7'>
      <div class='H1'>Component Guide</div>
      <br />      
      <div class='H3'>Flag</div>
      <br />      
      <article class='CenterLeft' style='gap:8px;'>
        <div class='inline-flex items-center justify-center min-w-[48px] h-[18px] px-[3px] text-[11px] font-[400] text-white bg-[#161616] border-[1px] border-solid border-[#161616]'>주문폭주</div>
        <div class='inline-flex items-center justify-center min-w-[48px] h-[18px] px-[3px] text-[11px] font-[400] text-[#161616] bg-white border-[1px] border-solid border-[#161616]'>뉴시즌</div>
        <div class='inline-flex items-center justify-center min-w-[48px] h-[18px] px-[3px] text-[11px] font-[400] text-white bg-[#161616] border-[1px] border-solid border-[#F59A23]'>주문<span class='text-[#00ccff]'>폭주</span></div>
      </article>
    </section>
  </main>
</div>