<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <script>
    Include('/hbs/component/FloatingUtil.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <div class='tit-box'><h3>기본 정보</h3></div>
            <div class='tbl-box'>
              <table class='table'>
                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[35%]' />
                  <col class='w-[15%]' />
                  <col class='w-[35%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>등급</th>
                    <td colspan='3'>
                      <select class='select-wrap !w-[147px]'>
                        <option>선택</option>
                        <option>브론즈</option>
                        <option>실버</option>
                        <option>골드</option>
                        <option>플래티넘</option>
                        <option>다이아</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>이름 <span class='text-red'>*</span></th>
                    <td>
                      <input type='text' class='input-wrap' placeholder='placeholder' />
                    </td>
                    <th scope='row'>닉네임</th>
                    <td>
                      <input type='text' class='input-wrap' placeholder='placeholder' />
                      <button type='button' class='btn-m'>중복확인</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>아이디 <span class='text-red'>*</span></th>
                    <td>
                      <input type='text' class='input-wrap' placeholder='placeholder' />
                    </td>
                    <th scope='row'>휴대전화번호 <span class='text-red'>*</span></th>
                    <td>
                      <input type='text' class='input-wrap' placeholder='placeholder' />
                      <label class='label block mt-2'>
                        <input type='checkbox' />
                        <p class='label-text'>
                          정보/이벤트 SMS 수신에 동의합니다.<br />
                          <span class='text-red'>* 수신동의설정 안내 메일의 자동발송여부에 따라 회원정보의 수신동의설정 변경 시 해당 회원에게 SMS가 자동 발송됩니다.</span>
                        </p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>메일</th>
                    <td>
                      <div class='email-inp'>
                        <input type='text' class='input-wrap' placeholder='placeholder' />
                        <span class='inline-block mx-1'>@</span>
                        <input type='text' class='input-wrap' placeholder='placeholder' />
                        <select class='select-wrap !w-[147px]'>
                          <option>선택</option>
                          <option>naver.com</option>
                          <option>nate.com</option>
                          <option>kakao.com</option>
                          <option>직접입력</option>
                        </select>
                        <button type='button' class='btn-m mt-2'>중복확인</button>
                      </div>
                      <label class='label block mt-2'>
                        <input type='checkbox' />
                        <p class='label-text'>
                          정보/이벤트 MAIL 수신에 동의합니다.<br />
                          <span class='text-red'>* 수신동의설정 안내 메일의 자동발송여부에 따라 회원정보의 수신동의설정 변경 시 해당 회원에게 안내 메일이 자동 발송됩니다.</span>
                        </p>
                      </label>
                    </td>
                    <th scope='row'>본인인증수단 및 CI 보유 여부</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope='row'>비밀번호 <span class='text-red'>*</span></th>
                    <td>
                      <input type='password' class='input-wrap mr-1' placeholder='placeholder' />
                      <input type='password' class='input-wrap' placeholder='placeholder' />
                      <p class='text-red mt-1'>* 영문, 숫자, 특수문자 중 2종류 이상을 조합하여 최소 10자리 이상</p>
                    </td>
                    <th scope='row'>성별</th>
                    <td>
                      <label class='label mr-5'><input type='radio' name='sex' /><span class='label-text'>남성</span></label>
                      <label class='label'><input type='radio' name='sex' /><span class='label-text'>여성</span></label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>가입경로</th>
                    <td>
                      <label class='label mr-5'>
                        <input type='radio' name='join_path' />
                        <span class='label-text'>PC</span>
                      </label>
                      <label class='label'>
                        <input type='radio' name='join_path' />
                        <span class='label-text'>Mobile</span>
                      </label>
                    </td>
                    <th scope='row'>생일</th>
                    <td>
                      <span class='input-calendar-wrap'>
                        <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                        <input type='text' class='inline-block float-right w-[76px] h-[38px]' />
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>추천인</th>
                    <td>
                      <input type='text' class='input-wrap' placeholder='placeholder' />
                    </td>
                    <th scope='row'>휴면회원 방지기간</th>
                    <td>
                      <label class='label mr-5'>
                        <input type='radio' name='dormancy' />
                        <span class='label-text'>1년</span>
                      </label>
                      <label class='label mr-5'>
                        <input type='radio' name='dormancy' />
                        <span class='label-text'>3년</span>
                      </label>
                      <label class='label mr-5'>
                        <input type='radio' name='dormancy' />
                        <span class='label-text'>5년</span>
                      </label>
                      <label class='label'>
                        <input type='radio' name='dormancy' />
                        <span class='label-text'>탈퇴시</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>주소</th>
                    <td>
                      <input type='text' class='input-wrap mr-1' placeholder='placeholder' />
                      <button type='button' class='btn-m'>주소 찾기</button>
                      <input type='text' class='input-wrap w-full block mt-1' placeholder='placeholder' />
                      <input type='text' class='input-wrap w-full block mt-1' placeholder='placeholder' />
                    </td>
                    <th scope='row'>기념일</th>
                    <td>
                      <span class='input-calendar-wrap'>
                        <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                        <input type='text' class='inline-block float-right w-[76px] h-[38px]' />
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- 부가 정보 -->
            <div class='tit-box mt-10'><h3>부가 정보</h3></div>
            <div class='tbl-box'>
              <table class='table'>
                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[35%]' />
                  <col class='w-[15%]' />
                  <col class='w-[35%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>주소</th>
                    <td colspan='3'>서울특별시 마포구 양화로</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //부가 정보 -->
            <div class='mt-7 text-right'>
              <button type='button' class='h-[44px] px-10 text-white text-center text-xs bg-main-blue border border-main-blue rounded-sm hover:bg-main-blue hover:bg-opacity-70 hover:border-opacity-70 active:bg-main-darkblue active:border-main-darkblue'>저장</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>