<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <div class='tab mb-2'>
              <ul>
                <li class='on'>사방넷</li>
              </ul>
            </div>
            <div class='flex border border-sub-blue-200'>
              <div class='w-52'>
                <div class='h-[40px] leading-[40px] px-3 bg-sub-blue-100'><span class='font-bold'>판매자 아이디</span></div>
                <ul>
                  <li class='leading-9 h-9 px-6 cursor-pointer border-b border-sub-blue-100'><span class="text-main-blue font-bold block pr-10 bg-[url('../images/ico-arrow-down.svg')] bg-no-repeat bg-right-center">apple123</span></li>
                  <li>
                    <a href='sabangnet-account.html' class='block leading-9 h-9 px-6 bg-main-blue text-white'>계정 설정</a>
                  </li>
                  <li>
                    <a href='sabangnet-info-setting.html' class='block leading-9 h-9 px-6'>필수정보 설정</a>
                  </li>
                  <li>
                    <a href='sabangnet-category.html' class='block leading-9 h-9 px-6'>카테고리 매칭</a>
                  </li>
                </ul>
              </div>
              <div class='grow pb-5 border-l border-sub-blue-200'>
                <div class='h-[40px] leading-[40px] font-bold bg-sub-blue-100 px-5'>계정설정</div>
                <div class='tbl-box p-5'>
                  <table  class='table'>

                    <colgroup>
                      <col width='10%' />
                      <col width='90%' />
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope='row'>마켓 이름</th>
                        <td>사방넷</td>
                      </tr>
                      <tr>
                        <th scope='row'>아이디</th>
                        <td>apple123</td>
                      </tr>
                      <tr>
                        <th scope='row'>인증정보<br />API Key</th>
                        <td><input type='password' class='input-wrap' /></td>
                      </tr>
                      <tr>
                        <th scope='row'>판매가격</th>
                        <td>
                          <div class='mb-2'>
                            <label class='label mr-5'>
                              <input type='radio' name='' />
                              <span class='label-text'>원상품 판매가격과 동일하게 전송</span>
                            </label>
                          </div>
                          <div class='mb-2'>
                            <label class='label mr-5'>
                              <input type='radio' name='' />
                              <span class='label-text !bg-left-center'>
                                <input type='text' class='input-wrap' />
                                <select class='select-wrap'>
                                  <option>%</option>
                                  <option>원</option>
                                </select>
                                <select class='select-wrap'>
                                  <option>+조정</option>
                                  <option>-조정</option>
                                </select>
                                로 일괄 전송
                              </span>
                            </label>
                          </div>
                          <div>
                            <label class='label mr-5'>
                              <input type='radio' name='' />
                              <span class='label-text !bg-left-center !leading-[40px]'>
                                조정된 가격을
                                <select class='select-wrap'>
                                  <option>일원 단위</option>
                                  <option>십원 단위</option>
                                  <option>백원 단위</option>
                                </select>
                                <select class='select-wrap'>
                                  <option>버림</option>
                                  <option>올림</option>
                                  <option>반올림</option>
                                </select>
                                하여 절사 처리합니다.
                              </span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope='row'>재고수량 설정</th>
                        <td>
                          <div class='mb-2'>
                            <label class='label mr-5'>
                              <input type='radio' name='' />
                              <span class='label-text'>원상품 판매가격과 동일하게 전송</span>
                            </label>
                          </div>
                          <div>
                            <label class='label mr-5'>
                              <input type='radio' name='' />
                              <span class='label-text !bg-left-center !leading-[40px]'>재고수량을 <input type='text' class='input-wrap' /> 개로 일괄 전송</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope='row'>사방넷 입점<br /> 매장 설정</th>
                        <td>
                          <div class='mb-2'>
                            <select class='select-wrap'>
                              <option>매장선택</option>
                              <option>무신사</option>
                            </select>
                            <input type='text' class='input-wrap' placeholder='placeholder' />
                            <input type='text' class='input-wrap' placeholder='placeholder' />
                            <button type='button' class='btn-blue-m'>추가</button>
                          </div>
                          <div class='bg-main-lightblue border border-sub-blue-100 py-1 px-4 overflow-auto max-h-96'>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                            <div class='mb-1'>무신사 / 무신사1 / aoao_11
                              <button type='button' class='btn-m px-2 h-8 leading-8'><i class='fa-solid fa-xmark'></i> 삭제</button>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope='row'>사용 설정</th>
                        <td>
                          <label class='toggle-button'>
                            <input type='checkbox' />
                            <span class='label-text'></span>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class='py-5 text-center'>
                  <button type='button' class='btn-m'>수정</button>
                </div>
                <div class='px-5'>
                  <textarea class='w-full border border-sub-blue-200 p-3 h-28'></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>