<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <script>
    Include('/hbs/component/FloatingUtil.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <div class='grid grid-cols-[2fr_1fr] gap-2'>
              <div>
                <div class='flex justify-between items-center'>
                  <div class='H-BOX'>
                    <div class='tit-box'><h3>등록 대기 리스트</h3></div>
                    <div class='ml-1'>
                      <button type='button' class='btn-m'>(임시) 필수 정보 수정</button>
                      <button type='button' class='btn-m'>상품 추가</button>
                      <button type='button' class='btn-warning-m'>삭제</button>
                    </div>
                  </div>
                  <div>
                    <button type='button' class='btn-m'>배포 시작</button>
                  </div>
                </div>
                <div id='app' class='mt-1'></div>
                <!-- paging -->
                <!-- START : Handlebars.component : ../components/paging.hbs --><div class='PAGING' data-cpntid='a935ab07-ab94-42ba-9ee5-fc5af804b70b'>
                  <div class='paging new'>
                    <a href='#' class='first btn-paging'><span class='icon-arrow-prev-first inline-block w-[25px] h-[25px] bg-icon-arrow-prev-first bg-center bg-no-repeat'></span></a>
                    <a href='#' class='prev btn-paging w-[50px]'>
                      <span class='icon-arrow-prev inline-block w-[25px] h-[25px] bg-icon-arrow-prev bg-center bg-no-repeat'></span>
                      <span class='inline-block h-full leading-[26px] float-left text-sub-blue-900'>이전</span>
                    </a>
                    <span class='now btn-paging leading-[26px]'>1</span>
                    <a href='#' class='btn-paging leading-[26px]'>2</a>
                    <a href='#' class='btn-paging leading-[26px]'>3</a>
                    <a href='#' class='btn-paging leading-[26px]'>4</a>
                    <a href='#' class='next btn-paging w-[50px]'>
                      <span class='icon-arrow-next inline-block w-[25px] h-[25px] bg-icon-arrow-next bg-center bg-no-repeat'></span>
                      <span class='inline-block h-full leading-[26px] float-right text-sub-blue-900'>다음</span>
                    </a>
                    <a href='#' class='last btn-paging'><span class='icon-arrow-next-last inline-block w-[25px] h-[25px] bg-icon-arrow-next-last bg-center bg-no-repeat'></span></a>
                  </div>
                </div><!-- // END : Handlebars.component : ../components/paging.hbs -->
                <!-- //paging -->
              </div>
              <div>
                <div class='flex justify-between items-center'>
                  <div class='tit-box'><h3>등록 결과</h3></div>
                  <div>
                    <button type='button' class='btn-m'>일시 중지</button>
                    <button type='button' class='btn-m'>배포 중지</button>
                  </div>
                </div>
                <div id='app' class='mt-1'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>