<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <div class='tit-box relative'>
              <h3>상품정보제공고시 목록</h3>
            </div>
            <div class='text-right pb-1'>
              <button type='button' class='btn-blue btn-item-info-reg'>추가</button>
            </div>
            <div class='tbl-box'>
              <table class='table' >

                <colgroup>
                  <col width='10%' />
                  <col width='30%' />
                  <col width='30%' />
                  <col width='30%' />
                </colgroup>
                <thead>
                  <tr>
                    <th scope='col' class='text-center'>
                      <label class='label'>
                        <input type='checkbox' />
                        <span class='label-text'></span>
                      </label>
                    </th>
                    <th scope='col' class='text-center'>상품군</th>
                    <th scope='col' class='text-center'>등록일시</th>
                    <th scope='col' class='text-center'>관리</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-key='0'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>패션잡화(모자/벨트/악세서리) 1</td>
                    <td class='text-center'>2022-04-11</td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m'>수정</button>
                      <button type='button' class='btn-warning-m'>삭제</button>
                    </td>
                  </tr>
                  <tr data-key='1'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>패션잡화(모자/벨트/악세서리) 2</td>
                    <td class='text-center'>2022-04-11</td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m'>수정</button>
                      <button type='button' class='btn-warning-m'>삭제</button>
                    </td>
                  </tr>
                  <tr data-key='2'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>패션잡화(모자/벨트/악세서리) 3</td>
                    <td class='text-center'>2022-04-11</td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m'>수정</button>
                      <button type='button' class='btn-warning-m'>삭제</button>
                    </td>
                  </tr>
                  <tr data-key='3'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>패션잡화(모자/벨트/악세서리) 4</td>
                    <td class='text-center'>2022-04-11</td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m'>수정</button>
                      <button type='button' class='btn-warning-m'>삭제</button>
                    </td>
                  </tr>
                  <tr data-key='4'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>패션잡화(모자/벨트/악세서리) 5</td>
                    <td class='text-center'>2022-04-11</td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m'>수정</button>
                      <button type='button' class='btn-warning-m'>삭제</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class='pt-2 pb-5'>
              <button type='button' class='btn-m'>복사</button>
              <button type='button' class='btn-white-m'>삭제</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>