<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <div class='tit-box'>
              <h3>카테고리 편집</h3>
            </div>
            <div class='mb-2'>※ 위치 선택 후 마우스 우측 버튼 클릭시 카테고리 생성 및 수정 편집 가능</div>
            <div class='flex border-t border-sub-blue-200 border-b'>
              <div class='category-list pt-5 pr-20'>
                <ul class='closed'>
                  <li>
                    <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>카테고리</a>
                    <ul class='closed'>
                      <li>
                        <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>FASHION</a>
                        <ul class='closed'>
                          <li>
                            <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>MEN</a>
                            <ul>
                              <li><i class='fa-solid fa-folder mr-2 ml-1'></i><input type='text' class='input-wrap p-1 h-6 w-20' value='TOP' /></li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>PANTS</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>ACC</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>WOMEN</a>
                            <ul>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>TOP</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>PANTS</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>ACC</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>LUXURY</a>
                        <ul class='closed'>
                          <li>
                            <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>MEN</a>
                            <ul>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>TOP</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>PANTS</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>ACC</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>WOMEN</a>
                            <ul>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>TOP</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>PANTS</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>ACC</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>GOLF</a>
                        <ul class='closed'>
                          <li>
                            <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>MEN</a>
                            <ul>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>TOP</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>PANTS</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>ACC</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>WOMEN</a>
                            <ul>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>TOP</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>PANTS</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>ACC</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>OUTDOOR</a>
                        <ul class='closed'>
                          <li>
                            <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>MEN</a>
                            <ul>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>TOP</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>PANTS</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>ACC</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>WOMEN</a>
                            <ul>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>TOP</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>PANTS</a>
                              </li>
                              <li>
                                <a href='#'><i class='fa-solid fa-folder mr-2 ml-1'></i>ACC</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class='border-l border-sub-blue-200 p-5 grow'>
                <div class='pb-2'>
                  <button type='button' class='btn-blue-m'><i class='fa-solid fa-plus'></i> 카테고리 신규 등록</button>
                  <button type='button' class='btn-blue-m'>선택 카테고리의 상품 진열 페이지로 바로가기</button>
                </div>
                <div class='pb-2'>
                  <span>OUTDOOR&gt;TREKKING&gt;EQUIPMENT</span>
                </div>
                <div class='tbl-box'>
                  <table  class='table'>

                    <colgroup>
                      <col width='10%' />
                      <col width='40%' />
                      <col width='10%' />
                      <col width='40%' />
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope='row'>카테고리 이름 <span class='text-red'>*</span></th>
                        <td>
                          <input type='text' class='input-wrap' placeholder='placeholder' />
                          <span class='leading-[40px]'><span class='text-red'>0</span>/30</span>
                        </td>
                        <th scope='row'>상품 수</th>
                        <td>1,000개
                          <a href='#' class='btn-link ml-5'>상품리스트 바로가기 <i class='fa-solid fa-arrow-right-long'></i></a>
                        </td>
                      </tr>
                      <tr>
                        <th scope='row'>카테고리 수동 관리코드</th>
                        <td>
                          <input type='text' class='input-wrap' placeholder='placeholder' />
                          <span class='leading-[40px]'><span class='text-red'>0</span>/30</span>
                        </td>
                        <th scope='row'>카테고리 자동 생성코드</th>
                        <td>001002</td>
                      </tr>
                      <tr>
                        <th scope='row'>카테고리 노출 여부</th>
                        <td colspan='3'>
                          <label class='label mr-5'>
                            <input type='radio' name='' />
                            <span class='label-text'>노출함</span>
                          </label>
                          <label class='label'>
                            <input type='radio' name='' />
                            <span class='label-text'>노출안함</span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <th scope='row'>키워드</th>
                        <td colspan='3'>
                          <input type='text' class='input-wrap' />
                          <span class='leading-[40px]'><span class='text-red'>0</span>/250</span>
                          <div class='text-xs text-sub-blue-500 mt-1'>입력시 키워드별 쉼표입력(ex:나이키,뉴발란스,런닝화)</div>
                        </td>
                      </tr>
                      <tr>
                        <th scope='row'>PC 쇼핑몰<br />카테고리 이미지 등록</th>
                        <td colspan='3'>
                          <!-- START : Handlebars.component : ../components/file_input.hbs --><div class='FILE-INPUT border-sub-blue-200 rounded-sm relative overflow-hidden' data-cpntid='da9675f9-fe7d-4a69-aa4f-da758e995c83'>
                            <input class='bg-main-lightblue leading-[38px] pl-2 border border-sub-blue-200 rounded-sm' value='파일선택' disabled='disabled' />
                            <label for='pc_file' class='rounded-sm bg-main-blue h-[40px] text-white inline-block px-4 leading-[40px] align-top'>찾아보기</label>
                            <input type='file' id='pc_file' class='absolute left-[-99999px]' />
                          </div><!-- // END : Handlebars.component : ../components/file_input.hbs -->
                        </td>
                      </tr>
                      <tr>
                        <th scope='row'>MOBILE 쇼핑몰<br />카테고리 이미지 등록</th>
                        <td colspan='3'>
                          <!-- START : Handlebars.component : ../components/file_input.hbs --><div class='FILE-INPUT border-sub-blue-200 rounded-sm relative overflow-hidden' data-cpntid='fde7e6cf-4a29-4ad5-a3bc-55186c06d8d3'>
                            <input class='bg-main-lightblue leading-[38px] pl-2 border border-sub-blue-200 rounded-sm' value='파일선택' disabled='disabled' />
                            <label for='pc_file' class='rounded-sm bg-main-blue h-[40px] text-white inline-block px-4 leading-[40px] align-top'>찾아보기</label>
                            <input type='file' id='pc_file' class='absolute left-[-99999px]' />
                          </div><!-- // END : Handlebars.component : ../components/file_input.hbs -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class='mt-5 text-center'>
                  <button type='button' class='btn-blue-m'>저장</button>
                  <button type='button' class='btn-white-m'>삭제</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>