<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <!-- 이벤트검색 -->
            <div class='tbl-box'>
              <div class='tit-box'><h3>이벤트 검색</h3></div>
              <table class='table' >

                <colgroup>
                  <col style='width:15%' />
                  <col style='width:85%' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>이벤트 검색</th>
                    <td>
                      <select class='select-wrap' name=''>
                        <option value=''>선택</option>
                        <option value=''>이벤트명</option>
                        <option value=''>상품명</option>
                        <option value=''>공급사명</option>
                        <option value=''>등록 아이디</option>
                      </select>
                      <input type='text' class='input-wrap' placeholder='placeholder' />
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>이벤트 유형</th>
                    <td>
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>전체</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>[응모] 이벤트</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>[일반] 이벤트</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>타임세일</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>기간 검색</th>
                    <td>
                      <select class='select-wrap align-middle' name=''>
                        <option value=''>선택</option>
                        <option value=''>등록일</option>
                        <option value=''>시작일</option>
                        <option value=''>종료일</option>
                      </select>
                      <span class='input-calendar-wrap'>
                        <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                        <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                      </span>
                      <span class='inline-block px-1'>~</span>
                      <span class='input-calendar-wrap'>
                        <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                        <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                      </span>
                      <div class='period-tab'>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>오늘</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' checked='' />
                          <span class='label-text'>7일</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>15일</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>1개월</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>3개월</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>1년</span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>상품 구분</th>
                    <td>
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>전체</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>브랜드</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>카테고리</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>상품</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>승인 상태</th>
                    <td>
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>전체</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>승인 요청</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>승인 완료</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>반려</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>요청 철회</span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //이벤트검색 -->
            <div class='text-center mt-6'>
              <button type='button' class='btn-m'>검색</button>
              <button type='button' class='btn-white-m'>초기화</button>
            </div>
            <!-- 탭메뉴 -->
            <div class='tab-event-list tabmenu mt-6'>
              <div class='tab'>
                <ul>
                  <li class='on'>전체 (10)</li>
                  <li>대기 (3)</li>
                  <li>진행 (3)</li>
                  <li>종료 (4)</li>
                </ul>
              </div>
              <div class='tab-cont-section'>
                <!-- 탭메뉴(1) - 전체 -->
                <div class='pt-5 hidden on'>
                  <div class='sorting-box flex justify-between'>
                    <div class='left-box'>
                      <span class='inline-block mt-6'>조회 <span class='text-red'>0</span>건 / 전체 <span class='text-red'>0</span>건</span>
                    </div>
                    <div class='right-box'>
                      <select class='select-wrap' name=''>
                        <option value=''>최근 등록 날짜</option>
                        <option value=''>오래된 등록 날짜</option>
                      </select>
                      <select class='select-wrap' name=''>
                        <option value=''>10개씩 보기</option>
                        <option value=''>20개씩 보기</option>
                        <option value=''>30개씩 보기</option>
                        <option value=''>50개씩 보기</option>
                        <option value=''>100개씩 보기</option>
                        <option value=''>150개씩 보기</option>
                        <option value=''>200개씩 보기</option>
                        <option value=''>300개씩 보기</option>
                        <option value=''>500개씩 보기</option>
                        <option value=''>1000개씩 보기</option>
                        <option value=''>5000개씩 보기</option>
                      </select>
                    </div>
                  </div>
                  <div id='app' class='mt-1'>
                    <button type='button' class='btn-apply-product btn-m'>등록상품수 (레이어 테스트 버튼 입니다.)</button>
                    <button type='button' class='btn-memo btn-m relative'>메모 (레이어 테스트 버튼 입니다.)</button>
                  </div>
                  <div class='flex justify-between'>
                    <div class='sorting-box mt-1'>
                      <span class='inline-block mr-1'>* 선택 항목</span>
                      <button type='button' class='btn-warning-m'>삭제</button>
                    </div>
                    <div class='mt-1'>
                      <span>* 선택한 상품을</span>
                      <select class='select-wrap mx-1' name=''>
                        <option value=''>선택</option>
                        <option value=''>승인대기</option>
                        <option value=''>승인완료</option>
                        <option value=''>반려</option>
                      </select>
                      <span>로 승인 상태를 변경합니다.</span>
                      <button type='button' class='btn-approval-state btn-m ml-1'>변경</button>
                    </div>
                  </div>
                </div>
                <!-- //탭메뉴(1) - 전체 -->
              </div>
            </div>
            <!-- //탭메뉴 -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>