<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <!-- 기본정보 -->
            <div class='tbl-box'>
              <div class='tit-box'><h3>기본 정보</h3></div>
              <table class='table' >

                <colgroup>
                  <col style='width:15%' />
                  <col style='width:85%' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>이벤트명</th>
                    <td>
                      <input type='text' class='input-wrap w-1/2' />
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>이벤트 기간</th>
                    <td>
                      <div>
                        <span class='input-calendar-wrap'>
                          <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                          <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                        </span>
                        <span class='input-calendar-wrap'>
                          <button type='button' class='btn-calender'><i class='fa-solid fa-clock text-sub-blue-700'></i></button>
                          <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                        </span>
                        <span class='inline-block px-1'>~</span>
                        <span class='input-calendar-wrap'>
                          <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                          <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                        </span>
                        <span class='input-calendar-wrap'>
                          <button type='button' class='btn-calender'><i class='fa-solid fa-clock text-sub-blue-700'></i></button>
                          <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                        </span>
                      </div>
                      <label class='label inline-block mt-2'>
                        <input type='checkbox' name='' />
                        <span class='label-text'>특정 요일</span>
                      </label>
                      <div class='mt-1 pl-7'>
                        <label class='label'>
                          <input type='checkbox' name='' />
                          <span class='label-text'>월요일마다</span>
                        </label>
                        <label class='label ml-5'>
                          <input type='checkbox' name='' />
                          <span class='label-text'>화요일마다</span>
                        </label>
                        <label class='label ml-5'>
                          <input type='checkbox' name='' />
                          <span class='label-text'>수요일마다</span>
                        </label>
                        <label class='label ml-5'>
                          <input type='checkbox' name='' />
                          <span class='label-text'>목요일마다</span>
                        </label>
                        <label class='label ml-5'>
                          <input type='checkbox' name='' />
                          <span class='label-text'>금요일마다</span>
                        </label>
                        <label class='label ml-5'>
                          <input type='checkbox' name='' />
                          <span class='label-text'>토요일마다</span>
                        </label>
                        <label class='label ml-5'>
                          <input type='checkbox' name='' />
                          <span class='label-text'>일요일마다</span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>노출 설정</th>
                    <td>
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>즉시 노출</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>시작일자/시간에 맞춰 노출</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>노출 안함</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>전시 카테고리</th>
                    <td>
                      <label class='label'>
                        <input type='checkbox' />
                        <span class='label-text'>전체</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' name='' />
                        <span class='label-text'>WOMEN</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' name='' />
                        <span class='label-text'>MEN</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' name='' />
                        <span class='label-text'>JUNIOR</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='checkbox' name='' />
                        <span class='label-text'>LIFE</span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //기본정보 -->
            <!-- 이벤트구성 -->
            <div class='flex justify-between mt-6'>
              <div class='tit-box'><h3>이벤트 구성 1</h3></div>
              <div>
                <button type='button' class='h-[30px] px-2 text-white bg-sub-blue-900 border border-sub-blue-900 rounded-sm hover:bg-sub-blue-500 hover:border-sub-blue-500 active:bg-sub-blue-700 active:border-sub-blue-700'>항목 추가</button>
                <button type='button' class='h-[30px] px-2 text-white bg-red border border-red rounded-sm'>항목 삭제</button>
              </div>
            </div>
            <div class='tbl-box'>
              <table class='table' >

                <colgroup>
                  <col style='width:15%' />
                  <col style='width:85%' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>적용 공급사</th>
                    <td>
                      <button type='button' class='btn-m btn-supplier'>공급사 선택</button>
                      <div class='mt-1 flex justify-start'>
                        <p class='!min-w-[75px] text-sub-blue-700 font-bold'>선택된 공급사 : </p>
                        <div class='w-full'>
                          <span class='inline-block cursor-default'>공급사A <button type='button' class='w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1'><i class='fa-solid fa-xmark'></i></button></span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>상품 구분</th>
                    <td>
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>상품</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>적용 상품</th>
                    <td>
                      <div class='sorting-box flex justify-between'>
                        <div class='left-box'>
                          <button type='button' class='btn-product btn-m'>상품 선택</button>
                        </div>
                        <div class='right-box'>
                          <select class='select-wrap' name=''>
                            <option value=''>10개씩 보기</option>
                            <option value=''>20개씩 보기</option>
                            <option value=''>30개씩 보기</option>
                            <option value=''>50개씩 보기</option>
                            <option value=''>100개씩 보기</option>
                            <option value=''>150개씩 보기</option>
                            <option value=''>200개씩 보기</option>
                            <option value=''>300개씩 보기</option>
                            <option value=''>500개씩 보기</option>
                            <option value=''>1000개씩 보기</option>
                            <option value=''>5000개씩 보기</option>
                          </select>
                        </div>
                      </div>
                      <div id='app' class='mt-1'></div>
                      <div class='mt-1'>
                        <span class='inline-block mr-1'>* 선택 항목 </span>
                        <button type='button' class='btn-warning-m'>삭제</button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>이벤트 혜택 상세</th>
                    <td>
                      <div class='tbl-box w-1/2'>
                        <table class='border-table' >

                          <colgroup>
                            <col style='width:20%' />
                            <col style='width:80%' />
                          </colgroup>
                          <tbody>
                            <tr>
                              <th scope='row' class='text-center'>상품</th>
                              <td>
                                <div>
                                  <label class='label'>
                                    <input type='radio' name='' checked='' />
                                    <span class='label-text'>{상품할인가(판매가) X 수량}의</span>
                                    <input type='text' class='input-wrap w-20 ml-1 text-right' />
                                    <select class='select-wrap' name=''>
                                      <option value=''>원</option>
                                      <option value=''>%</option>
                                    </select>
                                    <span>할인</span>
                                  </label>
                                  <p class='mt-1 pl-7 text-sub-blue-500'>예시) (정가) 10,000원 → (판매가) 9,000원 → 10% 할인 = (상품 판매 가격) 8,100원</p>
                                </div>
                                <div class='mt-3'>
                                  <label class='label'>
                                    <input type='radio' name='' />
                                    <span class='label-text'>{상품정가 X 수량}을 기준으로</span>
                                    <input type='text' class='input-wrap w-20 ml-1 text-right' />
                                    <select class='select-wrap' name=''>
                                      <option value=''>원</option>
                                      <option value=''>%</option>
                                    </select>
                                    <span>할인</span>
                                  </label>
                                  <p class='mt-1 pl-7 text-sub-blue-500'>예시) (정가) 10,000원 → 10% 할인 = (상품 판매 가격) 9,000원</p>
                                </div>
                                <div class='mt-3'>
                                  <label class='label'>
                                    <input type='radio' name='' />
                                    <span class='label-text'>{상품할인가(판매가) X 수량}에서 { </span>
                                    <input type='text' class='input-wrap w-20 ml-1 text-right' />
                                    <span>원 X 수량} 추가 할인</span>
                                  </label>
                                  <p class='mt-1 pl-7 text-sub-blue-500'>예시) (판매가) 9,000원 X 1개 → 1,000원 X 1개 할인 = (상품 판매 가격) 8,000원</p>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope='row' class='text-center'>포인트</th>
                              <td>
                                <label class='label'>
                                  <input type='radio' name='' />
                                  <span class='label-text'>포인트는 {상품 실 결제 금액}의</span>
                                  <input type='text' class='input-wrap w-20 ml-1 text-right' />
                                  <span>% 지급</span>
                                </label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>혜택 부담률 설정</th>
                    <td>
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>설정</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>설정안함</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>본사 부담률</th>
                    <td>
                      <input type='text' class='input-wrap w-20' />
                      <span>%</span>
                      <span class='ml-5'>[자동입력] 입점사 부담률</span>
                      <input type='text' class='input-wrap w-20 ml-1' />
                      <span>%</span>
                      <span class='ml-1 text-red'>* 공란으로 둘 경우, 기본 수수료(계약 수수료)로 적용됩니다.</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //이벤트설정 -->
            <!-- 이벤트요약정보 -->
            <div class='flex justify-start mt-6'>
              <div class='tit-box'><h3>이벤트 요약 정보</h3></div>
              <div class='ml-3'>
                <button type='button' class='h-[30px] px-2 text-white bg-red border border-red rounded-sm'>반영하기</button>
              </div>
            </div>
            <div class='tbl-box'>
              <table class='table' >

                <colgroup>
                  <col style='width:12.5%' />
                  <col style='width:12.5%' />
                  <col style='width:12.5%' />
                  <col style='width:12.5%' />
                  <col style='width:12.5%' />
                  <col style='width:12.5%' />
                  <col style='width:12.5%' />
                  <col style='width:12.5%' />
                </colgroup>
                <thead>
                  <tr>
                    <th scope='col' class='text-center'>브랜드 수</th>
                    <th scope='col' class='text-center'>상품 수 (SKU)</th>
                    <th scope='col' class='text-center'>총 재고</th>
                    <th scope='col' class='text-center'>소비자가 합계</th>
                    <th scope='col' class='text-center'>판매가 합계</th>
                    <th scope='col' class='text-center'>이벤트가 합계</th>
                    <th scope='col' class='text-center'>할인율<br />(정가 대비)</th>
                    <th scope='col' class='text-center'>할인율<br />(판매가 대비)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class='text-center'>1</td>
                    <td class='text-center'><button class='btn-product-list underline text-main-blue'>30</button></td>
                    <td class='text-center'>100</td>
                    <td class='text-center'>32,000</td>
                    <td class='text-center'>29,000</td>
                    <td class='text-center'>19,000</td>
                    <td class='text-center'>40.6</td>
                    <td class='text-center'>34.5</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //이벤트요약정보 -->
            <!-- 제한조건설정 -->
            <div class='tbl-box'>
              <div class='tit-box mt-6'><h3>제한 조건 설정</h3></div>
              <table class='table' >

                <colgroup>
                  <col style='width:15%' />
                  <col style='width:85%' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>쿠폰</th>
                    <td>
                      <div>
                        <label class='label'>
                          <input type='radio' name='' checked='' />
                          <span class='label-text'>사용 불가</span>
                        </label>
                        <p class='mt-1 pl-7 text-sub-blue-500'>- 이벤트 기간에 구매시 보유하고 있는 쿠폰은 사용할 수 없습니다.</p>
                        <p class='mt-1 pl-7 text-sub-blue-500'>- 해당 이벤트 상품의 상세 페이지에서 쿠폰은 노출되지 않습니다.</p>
                      </div>
                      <div class='mt-3'>
                        <label class='label'>
                          <input type='radio' name='' />
                          <span class='label-text'>사용 가능</span>
                        </label>
                        <p class='mt-1 pl-7 text-sub-blue-500'>- 쿠폰 적용이 가능할 경우, 마진율이 감소할 수 있습니다.</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>할인 코드</th>
                    <td>
                      <div>
                        <label class='label'>
                          <input type='radio' name='' checked='' />
                          <span class='label-text'>사용 불가</span>
                        </label>
                        <p class='mt-1 pl-7 text-sub-blue-500'>- 이벤트 기간에 구매시 보유하고 있는 쿠폰은 사용할 수 없습니다.</p>
                        <p class='mt-1 pl-7 text-sub-blue-500'>- 해당 이벤트 상품의 상세 페이지에서 쿠폰은 노출되지 않습니다.</p>
                      </div>
                      <div class='mt-3'>
                        <label class='label'>
                          <input type='radio' name='' />
                          <span class='label-text'>사용 가능</span>
                        </label>
                        <p class='mt-1 pl-7 text-sub-blue-500'>- 쿠폰 적용이 가능할 경우, 마진율이 감소할 수 있습니다.</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //제한조건설정 -->
            <!-- 이벤트결과 -->
            <div class='tbl-box'>
              <div class='tit-box mt-6'><h3>이벤트 결과</h3></div>
              <table class='table' >

                <colgroup>
                  <col class='w-1/2' />
                  <col class='w-1/2' />
                </colgroup>
                <thead>
                  <tr>
                    <th scope='col' class='text-center'>수량 (주문수량)</th>
                    <th scope='col' class='text-center'>집계 (매출)</th>
                  </tr>
                </thead>
                <tbody><tr>
                    <td class='text-center'>1</td>
                    <td class='text-center'>341,000</td>
                  </tr>
                </tbody></table>
            </div>
            <!-- //이벤트결과 -->
            <div class='text-center mt-7'>
              <button type='button' class='btn-blue'>등록</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>