<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <script>
    Include('/hbs/component/FloatingUtil.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <!-- 기획전검색 -->
            <div class='tit-box'><h3>기획전 검색</h3></div>
            <div class='tbl-box'>
              <table class='table'>
                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[85%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>기획전 검색</th>
                    <td>
                      <select class='select-wrap' name=''>
                        <option value=''>선택</option>
                        <option value=''>기획전명</option>
                        <option value=''>등록자</option>
                      </select>
                      <input type='text' class='input-wrap' placeholder='placeholder' />
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>기간 검색</th>
                    <td>
                      <select class='select-wrap align-middle' name=''>
                        <option value=''>선택</option>
                        <option value=''>등록일</option>
                        <option value=''>진행일</option>
                        <option value=''>종료일</option>
                      </select>
                      <span class='input-calendar-wrap'>
                        <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                        <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                      </span>
                      <span class='inline-block px-1'>~</span>
                      <span class='input-calendar-wrap'>
                        <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                        <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                      </span>
                      <div class='period-tab'>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>오늘</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' checked='' />
                          <span class='label-text'>7일</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>15일</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>1개월</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>3개월</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>1년</span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>적용 대상</th>
                    <td>
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>전체</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>회원그룹별</span>
                      </label>
                      <select class='select-wrap ml-1' name=''>
                        <option value=''>선택</option>
                        <option value=''>일반회원</option>
                        <option value=''>브론즈</option>
                        <option value=''>실버</option>
                        <option value=''>골드</option>
                        <option value=''>다이아</option>
                        <option value=''>임원</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>노출 범위</th>
                    <td>
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>전체</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>PC</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>Mobile</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>APP</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>진행 상태</th>
                    <td>
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>전체</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>대기</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>진행중</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>종료</span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //기획전검색 -->
            <div class='text-center mt-6'>
              <button type='button' class='btn-m'>검색</button>
              <button type='button' class='btn-white-m'>초기화</button>
            </div>
            <!-- 기획전리스트 -->
            <div class='tit-box mt-6'><h3>기획전 리스트</h3></div>
            <div class='sorting-box flex justify-between'>
              <div class='left-box'>
                <span class='inline-block mt-6'>조회 <span class='text-red'>0</span>건 / 전체 <span class='text-red'>0</span>건</span>
              </div>
              <div class='right-box'>
                <select class='select-wrap' name=''>
                  <option value=''>최근 등록 날짜</option>
                  <option value=''>오래된 등록 날짜</option>
                  <option value=''>할인 혜택 높은 순</option>
                  <option value=''>할인 혜택 낮은 순</option>
                  <option value=''>발급 수 높은 순</option>
                  <option value=''>발급 수 낮은 순</option>
                </select>
                <select class='select-wrap' name=''>
                  <option value=''>10개씩 보기</option>
                  <option value=''>20개씩 보기</option>
                  <option value=''>30개씩 보기</option>
                  <option value=''>50개씩 보기</option>
                  <option value=''>100개씩 보기</option>
                  <option value=''>150개씩 보기</option>
                  <option value=''>200개씩 보기</option>
                  <option value=''>300개씩 보기</option>
                  <option value=''>500개씩 보기</option>
                  <option value=''>1000개씩 보기</option>
                  <option value=''>5000개씩 보기</option>
                </select>
              </div>
            </div>
            <div id='app' class='mt-1'></div>
            <div class='mt-1'>
              <span class='inline-block mr-1'>* 선택 항목 </span>
              <button type='button' class='btn-warning-m'>삭제</button>
            </div>
            <!-- //기획전리스트 -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>