<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <div class='tit-box'><h3>반품/교환/환불 사유 검색</h3></div><!-- 2022-11-17-수정 -->
            <div class='tbl-box'>
              <table class='table' >

                <colgroup><!-- 2022-11-17-수정 -->
                  <col style='width:15%' />
                  <col style='width:85%' />
                </colgroup>
                <tbody>
                  <tr><!-- 2022-11-17-수정 -->
                    <th scope='row'>사유</th>
                    <td>
                      <input type='text' class='input-wrap w-full' placeholder='placeholder' />
                    </td>
                  </tr>
                  <tr>
                    <th scope='col'>사유 분류</th>
                    <td><!-- 2022-11-17-수정 -->
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>전체 사용</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>관리자 전용</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope='col'>귀책 대상</th>
                    <td><!-- 2022-11-17-수정 -->
                      <label class='label'>
                        <input type='radio' name='' checked='' />
                        <span class='label-text'>판매자</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' name='' />
                        <span class='label-text'>구매자</span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class='text-center mt-6'><!-- 2022-11-17-수정 -->
              <button type='button' class='btn-m'>검색</button>
              <button type='button' class='btn-white-m'>초기화</button>
            </div>
            <div class='tit-box mt-6'><h3>반품/교환/환불 사유 리스트</h3></div>
            <div class='tbl-box'>
              <table class='table' >

                <colgroup>
                  <col style='width:10%' />
                  <col style='width:10%' />
                  <col style='width:20%' />
                  <col style='width:40%' />
                  <col style='width:20%' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='col' class='text-center'>
                      <label class='label'>
                        <input type='checkbox' name='' />
                        <span class='label-text'></span>
                      </label>
                    </th>
                    <th scope='col' class='text-center'>번호</th>
                    <th scope='col' class='text-center'>사유 분류</th>
                    <th scope='col' class='text-center'>사유</th>
                    <th scope='col' class='text-center'>관리</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr data-key='0'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' name='' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>1</td>
                    <td class='text-center'>전체 사용</td>
                    <td class='text-center'>
                      상품불량
                    </td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m' onclick="location.href='setting-return_registration.html'">수정</button>
                    </td>
                  </tr>
                  <tr data-key='1'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' name='' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>2</td>
                    <td class='text-center'>전체 사용</td>
                    <td class='text-center'>
                      배송 지연
                    </td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m' onclick="location.href='setting-return_registration.html'">수정</button>
                    </td>
                  </tr>
                  <tr data-key='2'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' name='' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>3</td>
                    <td class='text-center'>전체 사용</td>
                    <td class='text-center'>
                      단순 변심
                    </td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m' onclick="location.href='setting-return_registration.html'">수정</button>
                    </td>
                  </tr>
                  <tr data-key='3'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' name='' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>4</td>
                    <td class='text-center'>전체 사용</td>
                    <td class='text-center'>
                      단순 변심
                    </td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m' onclick="location.href='setting-return_registration.html'">수정</button>
                    </td>
                  </tr>
                  <tr data-key='4'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' name='' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>5</td>
                    <td class='text-center'>전체 사용</td>
                    <td class='text-center'>
                      단순 변심
                    </td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m' onclick="location.href='setting-return_registration.html'">수정</button>
                    </td>
                  </tr>
                  <tr data-key='5'>
                    <td class='text-center'>
                      <label class='label'>
                        <input type='checkbox' name='' />
                        <span class='label-text'></span>
                      </label>
                    </td>
                    <td class='text-center'>6</td>
                    <td class='text-center'>전체 사용</td>
                    <td class='text-center'>
                      단순 변심
                    </td>
                    <td class='text-center'>
                      <button type='button' class='btn-white-m' onclick="location.href='setting-return_registration.html'">수정</button>
                    </td>
                  </tr>

                </tbody>
              </table>
              <div class='mt-1'><!-- 2022-11-17-수정 -->
                <span>* 선택 이용 안내</span>
                <button type='button' class='btn-delete btn-warning-m ml-1'>삭제</button>
              </div>
              <!-- START : Handlebars.component : ../components/paging.hbs --><div class='PAGING' data-cpntid='70f2062a-ec6b-4148-89b3-9ea5f6194860'>
                <div class='paging new'>
                  <a href='#' class='first btn-paging'><span class='icon-arrow-prev-first inline-block w-[25px] h-[25px] bg-icon-arrow-prev-first bg-center bg-no-repeat'></span></a>
                  <a href='#' class='prev btn-paging w-[50px]'>
                    <span class='icon-arrow-prev inline-block w-[25px] h-[25px] bg-icon-arrow-prev bg-center bg-no-repeat'></span>
                    <span class='inline-block h-full leading-[26px] float-left text-sub-blue-900'>이전</span>
                  </a>
                  <span class='now btn-paging leading-[26px]'>1</span>
                  <a href='#' class='btn-paging leading-[26px]'>2</a>
                  <a href='#' class='btn-paging leading-[26px]'>3</a>
                  <a href='#' class='btn-paging leading-[26px]'>4</a>
                  <a href='#' class='next btn-paging w-[50px]'>
                    <span class='icon-arrow-next inline-block w-[25px] h-[25px] bg-icon-arrow-next bg-center bg-no-repeat'></span>
                    <span class='inline-block h-full leading-[26px] float-right text-sub-blue-900'>다음</span>
                  </a>
                  <a href='#' class='last btn-paging'><span class='icon-arrow-next-last inline-block w-[25px] h-[25px] bg-icon-arrow-next-last bg-center bg-no-repeat'></span></a>
                </div>
              </div><!-- // END : Handlebars.component : ../components/paging.hbs -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>