<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <section data-seq='20230818143910921'>
              <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'공통 SEO 태그 설정'});</script>
              <script>Include('/hbs/component/TabBtnBox_1-a.hbs');</script>

              <div class='mt-[20px]'>
                <div>
                  <div class='inline-block text-red'>* Lorem Ipsum is simply dummy text.</div>
                  <button class='btn-m ml-1'>Button</button>
                </div>
                <div class='tbl-box mt-2'>
                  <table class='table'>
                    <colgroup>
                      <col style='width:15%' />
                      <col style='width:85%' />
                    </colgroup>
                    <tbody>
                      {{#LOOP 4}}
                        <tr>
                          <th scope='row'>Label</th>
                          <td>
                            <article class='CenterBetween' style='gap:4px;'>
                              <div style='flex:1;'>
                                <input type='text' class='input-wrap w-full' placeholder='placeholder' />
                              </div>
                              <div>
                                <span><span class='text-red'>0</span>/200</span>
                              </div>
                            </article>
                            <script>Include('/hbs/component/MsgRed_1-a.hbs');</script>
                          </td>
                        </tr>
                      {{/LOOP}}
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
            <section data-seq='20230818145259587'>
              <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'검색 BOT 수집 정보 설정'});</script>
              <div class='tbl-box'>
                <table class='table'>
                  <colgroup>
                    <col style='width:15%' />
                    <col style='width:85%' />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope='row'>Label</th>
                      <td>
                        <article class='CenterBetween' style='gap:4px;'>
                          {{#LOOP 2}}
                            <div class='p-2 border' style='flex:1;'>
                              <div class='font-bold'>Label</div>
                              <textarea class='block w-full h-[100px] overflow-y-auto mt-1 p-2 border border-sub-blue-200 rounded-sm'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                              </textarea>
                              <div class='mt-1 text-red'>* 검색엔진의 검색로봇이 내 쇼핑몰의 정보를 수집하도록 허용여부와 범위를 설정할 수 있습니다.</div>
                              <script>Include('/hbs/component/MsgRed_1-a.hbs');</script>
                            </div>
                          {{/LOOP}}
                        </article>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <section data-seq='20230818145534618'>
              <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'오픈 그래프 (Open Graph)'});</script>
              <script>Include('/hbs/component/TitleBox_4-a.hbs', {txt1:'기본'});</script>
              <div class='tbl-box'>
                <table class='table'>
                  <colgroup>
                    <col width='15%' />
                    <col width='85%' />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope='row'>Label</th>
                      <td><input type='text' class='input-wrap w-1/3' placeholder='placeholder' /></td>
                    </tr>
                    <tr>
                      <th scope='row'>Label</th>
                      <td>
                        <input type='text' class='input-wrap w-1/3' placeholder='placeholder' />
                        <script>Include('/hbs/component/MsgRed_1-a.hbs');</script>
                      </td>
                    </tr>
                    <tr>
                      <th scope='row'>Label</th>
                      <td><input type='text' class='input-wrap w-1/3' placeholder='placeholder' /></td>
                    </tr>
                    <tr>
                      <th scope='row'>Label</th>
                      <td>
                        <script>Include('/hbs/component/ImgUploader_1-a.hbs');</script>
                      </td>
                    </tr>
                    {{#LOOP 3}}
                      <tr>
                        <th scope='row'>Label</th>
                        <td><input type='text' class='input-wrap w-1/3' placeholder='placeholder' /></td>
                      </tr>
                    {{/LOOP}}
                    <tr>
                      <th scope='row'>Label</th>
                      <td>
                        <input type='text' class='input-wrap w-1/3' placeholder='placeholder' />
                        <script>Include('/hbs/component/MsgRed_1-a.hbs');</script>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <section data-seq='20230818150049188'>
              <script>Include('/hbs/component/TitleBox_4-a.hbs', {txt1:'기타'});</script>
              <div class='tbl-box'>
                <table class='table'>
                  <colgroup>
                    <col width='15%' />
                    <col width='85%' />
                  </colgroup>
                  <tbody>
                    <script>Include('/hbs/component/TR_1-a.hbs');</script>
                  </tbody>
                </table>
              </div>
            </section>
            <section data-seq='20230818150351075'>
              <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'사이트맵 설정'});</script>
              <div class='tbl-box'>
                <table class='table'>
                  <colgroup>
                    <col width='15%' />
                    <col width='85%' />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope='row'>Label</th>
                      <td>
                        <script>Include('/hbs/component/FileUploader_1-a.hbs');</script>
                        <script>Include('/hbs/component/MsgRed_1-a.hbs');</script>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <section data-seq='20230818150938843'>
              <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'구글 사이트 인증 정보 설정'});</script>
              <div class='tbl-box'>
                <table class='table'>

                  <colgroup>
                    <col width='15%' />
                    <col width='85%' />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope='row'>Label</th>
                      <td><input type='text' class='input-wrap w-1/3' placeholder='placeholder' /></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <section data-seq='20230818151015552'>
              <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'네이버 사이트 인증 정보 설정'});</script>
              <div class='tbl-box'>
                <table class='table'>
                  <colgroup>
                    <col width='15%' />
                    <col width='85%' />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope='row'>Label</th>
                      <td><input type='text' class='input-wrap w-1/3' placeholder='placeholder' /></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>

            <section data-seq='20230818151101277'>
              <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'JSON-LD 설정'});</script>
              <script>Include('/hbs/component/TitleBox_4-a.hbs', {txt1:'SAME AS'});</script>
              <div>
                <div class='H-BOX'>
                  <input type='text' class='input-wrap inline-block w-[220px]' placeholder='placeholder' />
                  <input type='text' class='input-wrap inline-block w-[440px]' placeholder='placeholder' />
                  <button class='btn-m'>Button</button>
                </div>
                <div class='H-BOX mt-1'>
                  <input type='text' class='input-wrap inline-block w-[220px]' placeholder='placeholder' />
                  <input type='text' class='input-wrap inline-block w-[440px]' placeholder='placeholder' />
                  <button class='btn-warning-m'>Button</button>
                </div>
              </div>
            </section>
            <script>Include('/hbs/component/BtnBox_1-a.hbs');</script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>