<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <script>
    Include('/hbs/component/FloatingUtil.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <!-- 기본설정// -->
            <div>
              <div class='tit-box'>
                <h3>기본설정</h3>
              </div>
              <table class='table mt-1' summary='기본설정'>
                <caption>기본설정</caption>
                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[85%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>페이코 설정 <span class='text-red'>*</span></th>
                    <td>
                      <script>Include('/hbs/component/RadioBox_1-a.hbs');</script>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>페이코 결제 선택 <span class='text-red'>*</span></th>
                    <td>
                      <script>Include('/hbs/component/RadioBox_1-a.hbs');</script>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>페이코 결제 설정 <span class='text-red'>*</span></th>
                    <td>
                      <article class='flex items-center gap-[4px]'>
                        <div class='min-w-[60px]'>
                          가맹점 코드
                        </div>
                        <input type='text' class='input-wrap w-[300px]' placeholder='placeholder' />
                      </article>
                      <article class='mt-[4px] flex items-center gap-[4px]'>
                        <div class='min-w-[60px]'>
                          상점 ID
                        </div>
                        <input type='text' class='input-wrap w-[300px]' placeholder='placeholder' />
                      </article>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>결제 수단 설정 <span class='text-red'>*</span></th>
                    <td>
                      <script>Include('/hbs/component/CheckBox_1-a.hbs');</script>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>기본사용 설정 <span class='text-red'>*</span></th>
                    <td>
                      <script>Include('/hbs/component/RadioBox_1-a.hbs');</script>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //기본설정 -->
            <!-- 페이코 결제 이용 설정// -->
            <div class='mt-7'>
              <div class='tit-box'>
                <h3>페이코 결제 이용 설정</h3>
              </div>
              <table class='table mt-1' summary='페이코 결제 이용 설정'>
                <caption>페이코 결제 이용 설정</caption>
                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[85%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>페이코 바로구매 버튼 <span class='text-red'>*</span></th>
                    <td>
                      <script>Include('/hbs/component/RadioBox_1-a.hbs');</script>
                      <!--A TYPE-->
                      <div class='mt-3'>
                        <div>
                          <label class="label TYPE2">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_1.png' alt='' />
                          </label>
                          <label class="label TYPE2 ml-[20px]">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_2.png' alt='' />
                          </label>
                        </div>
                        <div class='mt-3'>
                          <label class="label TYPE2">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_3.png' alt='' />
                          </label>
                          <label class="label TYPE2 ml-[20px]">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_4.png' alt='' />
                          </label>
                        </div>
                        <div class='mt-3'>
                          <label class="label TYPE2">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_5.png' alt='' />
                          </label>
                          <label class="label TYPE2 ml-[20px]">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_6.png' alt='' />
                          </label>
                        </div>
                      </div>
                      <!--B TYPE-->
                      <div class='mt-3'>
                        <div>
                          <label class="label TYPE2">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_7.png' alt='' />
                          </label>
                          <label class="label TYPE2 ml-[20px]">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_8.png' alt='' />
                          </label>
                        </div>
                        <div class='mt-3'>
                          <label class="label TYPE2">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_9.png' alt='' />
                          </label>
                          <label class="label TYPE2 ml-[20px]">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_10.png' alt='' />
                          </label>
                        </div>
                        <div class='mt-3'>
                          <label class="label TYPE2">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_11.png' alt='' />
                          </label>
                          <label class="label TYPE2 ml-[20px]">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_12.png' alt='' />
                          </label>
                        </div>
                      </div>
                      <!--C TYPE-->
                      <div class='mt-3'>
                        <div>
                          <label class="label TYPE2">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_13.png' alt='' />
                          </label>
                          <label class="label TYPE2 ml-[20px]">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_14.png' alt='' />
                          </label>
                        </div>
                        <div class='mt-3'>
                          <label class="label TYPE2">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_15.png' alt='' />
                          </label>
                          <label class="label TYPE2 ml-[20px]">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_16.png' alt='' />
                          </label>
                        </div>
                        <div class='mt-3'>
                          <label class="label TYPE2">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_17.png' alt='' />
                          </label>
                          <label class="label TYPE2 ml-[20px]">
                            <input type="radio" class='RadioBoxUi Style1'>
                            <img src='../images/2310311517_18.png' alt='' />
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>페이코 간편결제 버튼 선택 <span class='text-red'>*</span></th>
                    <td>
                      <label class="label TYPE2">
                        <input type="radio" class='RadioBoxUi Style1'>
                        <img src='../images/2310311646_1.png' alt='' />
                      </label>
                      <label class="label TYPE2 ml-[20px]">
                        <input type="radio" class='RadioBoxUi Style1'>
                        <img src='../images/2310311646_2.png' alt='' />
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //페이코 결제 이용 설정 -->
            <!-- 페이코 예외상품 설정// -->
            <div class='mt-7'>
              <div class='tit-box'>
                <h3>페이코 예외상품 설정</h3>
              </div>
              <table class='table mt-1' summary='페이코 예외상품 설정'>
                <caption>페이코 예외상품 설정</caption>
                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[85%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>예외 조건 <span class='text-red'>*</span></th>
                    <td>
                      <table class='mt-1 border-table w-1/2' summary='예외 카테고리'>
                        <caption>예외 카테고리</caption>
                        <tbody>
                          <tr>
                            <th scope='row'>예외 상품</th>
                          </tr>
                          <tr>
                            <td>
                              <button class='btn-m'>
                                상품 선택
                              </button>
                              <article class='mt-1 flex justify-start'>
                                <div class='text-sub-blue-700 font-bold'>
                                  선택된 상품 :
                                </div>
                                <article class='ml-1 flex-1 flex flex-wrap items-start gap-x-3 gap-y-1'>
                                  <div class='CenterLeft'>
                                    <div>
                                      테스트 상품
                                    </div>
                                    <button type='button' class='ml-1 w-4 h-4 text-center border border-sub-blue-300 text-sub-blue-700'>
                                      <i class='fa-solid fa-xmark'></i>
                                    </button>
                                  </div>
                                  <div class='CenterLeft'>
                                    <div>
                                      테스트 상품
                                    </div>
                                    <button type='button' class='ml-1 w-4 h-4 text-center border border-sub-blue-300 text-sub-blue-700'>
                                      <i class='fa-solid fa-xmark'></i>
                                    </button>
                                  </div>
                                </article>
                              </article>
                            </td>
                          </tr>
                          <tr>
                            <th scope='row'>예외 카테고리</th>
                          </tr>
                          <tr>
                            <td>
                              <button class='btn-m'>
                                카테고리 선택
                              </button>
                              <article class='mt-1 flex justify-start'>
                                <div class='text-sub-blue-700 font-bold'>
                                  선택된 카테고리 :
                                </div>
                                <article class='ml-1 flex-1 flex flex-wrap items-start gap-x-3 gap-y-1'>
                                  <div class='CenterLeft'>
                                    <div>
                                      테스트 카테고리
                                    </div>
                                    <button type='button' class='ml-1 w-4 h-4 text-center border border-sub-blue-300 text-sub-blue-700'>
                                      <i class='fa-solid fa-xmark'></i>
                                    </button>
                                  </div>
                                  <div class='CenterLeft'>
                                    <div>
                                      테스트 카테고리
                                    </div>
                                    <button type='button' class='ml-1 w-4 h-4 text-center border border-sub-blue-300 text-sub-blue-700'>
                                      <i class='fa-solid fa-xmark'></i>
                                    </button>
                                  </div>
                                </article>
                              </article>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //페이코 예외상품 설정 -->
            <div class='mt-7'>
              <script>Include('/hbs/component/BtnBox_1-a.hbs');</script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>