<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <div class='p-7'>
            <section data-seq='20230818151237243'>
              <div class='w-[750px] my-0 mx-auto text-center px-20 py-40'>
                <div class='w-20 float-left text-red text-[70px]'><i class='fa-solid fa-xmark'></i></div>
                <div class='float-left text-left text-[30px] pt-2.5'>
                  <p>죄송합니다.</p>
                  <br />
                  <p class='mt-1'>요청하신 페이지에 접근 권한이 없습니다.</p>
                </div>
              </div>
            </section>
            <div class='mt-7'>
              <article class='CenterCenter' style='gap:4px;'>
                <button type='button' class='btn-l'>Button</button>
                <button type='button' class='btn-white-l'>Button</button>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>