<div id='wrap'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <div class='wrap'>
    <div class='content flex justify-between'>
      <script>Include('/hbs/layout/Lnb_1-a.hbs');</script>
      <div class='content-wrap'>
        <div class='content-inner text-xs shadow-lg'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs');</script>
          <div class='p-7'>
            <!-- 검색조건 -->
            <div>
              <div class='tit-box'><h3>세금계산서 발행 검색</h3></div>
              <table class='table mt-1' >

                <colgroup>
                  <col class='w-[15%]' />
                  <col class='w-[85%]' />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope='row'>업체 구분</th>
                    <td>
                      <label class='label'>
                        <input type='radio' />
                        <span class='label-text'>전체</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' />
                        <span class='label-text'>본사</span>
                      </label>
                      <label class='label ml-5'>
                        <input type='radio' checked='' />
                        <span class='label-text'>공급사</span>
                      </label>
                      <button type='button' class='btn-m ml-1'>공급사 선택</button>
                      <div class='inline-grid grid-cols-[75px_1fr] mt-1'>
                        <span class='text-sub-blue-700 font-semibold'>선택된 공급사 :</span>
                        <div class='flex flex-wrap gap-[4px_8px]'>
                          <div class='cursor-default'>
                            <span class='align-text-bottom'>테스트 공급사</span>
                            <button type='button' class='w-4 h-4 text-center border border-sub-blue-300 text-sub-blue-700 mb-0.5'><i class='fa-solid fa-xmark'></i></button>
                          </div>
                          <div class='cursor-default'>
                            <span class='align-text-bottom'>테스트 공급사</span>
                            <button type='button' class='w-4 h-4 text-center border border-sub-blue-300 text-sub-blue-700 mb-0.5'><i class='fa-solid fa-xmark'></i></button>
                          </div>
                          <div class='cursor-default'>
                            <span class='align-text-bottom'>테스트 공급사</span>
                            <button type='button' class='w-4 h-4 text-center border border-sub-blue-300 text-sub-blue-700 mb-0.5'><i class='fa-solid fa-xmark'></i></button>
                          </div>
                          <div class='cursor-default'>
                            <span class='align-text-bottom'>테스트 공급사</span>
                            <button type='button' class='w-4 h-4 text-center border border-sub-blue-300 text-sub-blue-700 mb-0.5'><i class='fa-solid fa-xmark'></i></button>
                          </div>
                          <div class='cursor-default'>
                            <span class='align-text-bottom'>테스트 공급사</span>
                            <button type='button' class='w-4 h-4 text-center border border-sub-blue-300 text-sub-blue-700 mb-0.5'><i class='fa-solid fa-xmark'></i></button>
                          </div>
                          <div class='cursor-default'>
                            <span class='align-text-bottom'>테스트 공급사</span>
                            <button type='button' class='w-4 h-4 text-center border border-sub-blue-300 text-sub-blue-700 mb-0.5'><i class='fa-solid fa-xmark'></i></button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope='row'>기간 검색<br /><span class='font-normal'>(지급 완료일)</span></th>
                    <td>
                      <span class='input-calendar-wrap'>
                        <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                        <input type='text' class='inline-block float-right w-[76px] h-[38px]' />
                      </span>
                      <span>~</span>
                      <span class='input-calendar-wrap'>
                        <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                        <input type='text' class='inline-block float-right w-[76px] h-[38px]' />
                      </span>
                      <div class='period-tab'>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>오늘</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' checked='' />
                          <span class='label-text'>7일</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>1개월</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>3개월</span>
                        </label>
                        <label class='label'>
                          <input type='radio' name='period' />
                          <span class='label-text'>1년</span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class='text-center mt-1'>
                <button type='button' class='btn-m'>검색</button>
                <button type='button' class='btn-white-m'>초기화</button>
              </div>
            </div>
            <!-- //검색조건 -->

            <!-- 세금계산서리스트 -->
            <div class='mt-10'>
              <div class='tit-box'><h3>세금계산서 리스트</h3></div>
              <div class='flex justify-between items-end'>
                <div>조회 <span class='text-red'>0</span>건 / 전체 <span class='text-red'>0</span>건</div>
                <div class='text-sub-blue-500'>* 세금계산서 발행을 원치 않는 주문건은 정산 관리 페이지에서 해당 상태값을 지급 완료 → 미지급으로 수정하세요.</div>
              </div>
              <div id='app' class='mt-1'></div>
              <div class='flex justify-between items-start mt-1'>
                <div>
                  <div>* 선택한 업체들의 공급가 합계/수수료 합계액 기준 일괄 세금계산서 발행합니다.</div>
                  <div class='H-BOX mt-1 pl-2'>
                    <span class='mr-1 font-bold'>발급할 날짜</span>
                    <span class='input-calendar-wrap'>
                      <button type='button' class='btn-calender'><span class='icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat'></span></button>
                      <input type='text' class='inline-block float-right w-[76px] h-[38px]' placeholder='placeholder' />
                    </span>
                    <button type='button' class='btn-m'>확인</button>
                  </div>
                  <div class='mt-1 text-sub-blue-500'>* 본 세금계산서는 국세청 전자 세금계산서 전송으로 처리되지 않습니다. (수기 신고 필요)</div>
                </div>
                <div>
                  <button type='button' class='btn-white-m'>
                    <span>상세 정산 내역 엑셀 다운로드</span>
                    <span class='icon-download inline-block w-[16px] h-[16px] align-sub bg-icon-download bg-center bg-no-repeat'></span>
                  </button>
                  <button type='button' class='btn-white-m'>
                    <span>요약 정산 내역 엑셀 다운로드</span>
                    <span class='icon-download inline-block w-[16px] h-[16px] align-sub bg-icon-download bg-center bg-no-repeat'></span>
                  </button>
                </div>
              </div>
            </div>
            <!-- //세금계산서리스트 -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>