<article class='CenterLeft' style='gap:20px;'>
  {{#LOOP 3}}
    <label class='label'>
      <input type='checkbox' {{ON 1 'checked'}} />
      <span class='label-text'>Check {{number}}</span>
    </label>
  {{/LOOP}}
</article>