<div class='FileUploader_1 relative overflow-hidden'>
  <input class='bg-main-lightblue leading-[38px] pl-2 border border-sub-blue-200 rounded-sm' value='파일 선택' disabled='disabled' />
  <label for='pc_file' class='rounded-sm bg-main-blue h-[40px] text-white inline-block px-4 leading-[40px] align-top'>파일 첨부</label>
  <input type='file' id='pc_file' class='absolute left-[-99999px]' />
</div>