<article class='FloatingUtil fixed bottom-[88px] right-[106px] z-[100]'>
  <article class='flex flex-col items-end justify-start gap-[12px]'>
    <button class="group w-[42px] aspect-square duration-300 ease-out will-change-auto [[data-scroll-top='0']_&]:hidden">
      <img class='group-hover:hidden' src='/icon/2401161524_1.svg' alt='' />
      <img class='hidden group-hover:block' src='/icon/2401161524_1_on.svg' alt='' />
    </button>
    <button id='Btn-1dd937890' class='group w-[42px] aspect-square duration-300 ease-out will-change-auto'>
      <img class='group-hover:hidden' src='/icon/2401161524_2.svg' alt='' />
      <img class='hidden group-hover:block' src='/icon/2401161524_2_on.svg' alt='' />
    </button>
  </article>
</article>