<div class='mt-1 p-5 bg-sub-blue-100'>
  <p class='mb-3'>Lorem Ipsum is simply dummy</p>
  <p class='mb-3'>
    <span class='font-bold'>
      <span class='text-red'>(Lorem)</span>
      Lorem Ipsum
    </span>
    <br />
    (22031)
    <br />
    Lorem Ipsum has been the industry's
    <br />
    031 - 111 - 2222
  </p>
  <p>
    <span class='font-bold'>Lorem Ipsum</span>
    <br />
    (13120)
    <br />
    Lorem Ipsum has been the industry's
    <br />
    031 - 222 - 1111
  </p>
</div>