<div class='LoadingModal_1 flex items-center justify-center z-[9999] fixed top-[0] left-[0] bg-black/50 w-full h-full'>
  <img class='w-[100px] select-none' src='../images/loading.svg' alt='' />
  <img class='w-[100px] select-none' src='../images/loading2.svg' alt='' />
  <img class='w-[100px] select-none' src='../images/loading3.svg' alt='' />
  <img class='w-[100px] select-none' src='../images/loading4.svg' alt='' />
  <img class='w-[100px] select-none' src='../images/loading5.svg' alt='' />
</div>