<div class="PAGING">
  <div class="paging new">
    <a href="#" class="first btn-paging"><span class="icon-arrow-prev-first inline-block w-[25px] h-[25px] bg-icon-arrow-prev-first bg-center bg-no-repeat"></span></a>
    <a href="#" class="prev btn-paging w-[50px]">
      <span class="icon-arrow-prev inline-block w-[25px] h-[25px] bg-icon-arrow-prev bg-center bg-no-repeat"></span>
      <span class="inline-block h-full leading-[26px] float-left text-sub-blue-900">이전</span>
    </a>
    <span class="now btn-paging leading-[26px]">1</span>
    <a href="#" class="btn-paging leading-[26px]">2</a>
    <a href="#" class="btn-paging leading-[26px]">3</a>
    <a href="#" class="btn-paging leading-[26px]">4</a>
    <a href="#" class="next btn-paging w-[50px]">
      <span class="icon-arrow-next inline-block w-[25px] h-[25px] bg-icon-arrow-next bg-center bg-no-repeat"></span>
      <span class="inline-block h-full leading-[26px] float-right text-sub-blue-900">다음</span>
    </a>
    <a href="#" class="last btn-paging"><span class="icon-arrow-next-last inline-block w-[25px] h-[25px] bg-icon-arrow-next-last bg-center bg-no-repeat"></span></a>
  </div>
</div>