{{!-- <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'관리자 검색'});</script> --}}
{{#DV}}
  {{SAFE 'txt1'}}
  {{!--{{SAFE 'array' '1|2|3'}}--}}
{{/DV}}
<div class='tit-box'>
  <h3>{{txt1}}</h3>
</div>