<div class='cont-nav StickyBox' data-sticky-offset='80'>
  <div class='FixedShell z-[200] CenterBetween px-7 bg-white border-b-[1px] border-solid border-b-sub-blue-100'>
    <div class='cont-nav-left'>
      <h2 class='inline-block mr-4 text-lg font-bold'>Page Title</h2>
      <span class='inline-block text-sub-blue-400 bg-main text-xs'>
        Depth 1
        <i class='fa-solid fa-angle-right'></i>
        Depth 2
        <i class='fa-solid fa-angle-right'></i>
        Depth 3
      </span>
    </div>
    <div class='cont-nav-right'>
      <button type='button' class='btn-blue'>
        <i class='fa-solid fa-plus'></i>
        Button
      </button>
    </div>
  </div>
</div>