<tr>
  <th scope='row'>Label</th>
  <td>
    <select class='select-wrap'>
      <option>SelectBox</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
  </td>
</tr>