<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>얼럿 타이틀 3</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <!-- 반려사유// -->
      <div>
        <h2 class="text-sub-blue-500">반려 사유</h2>
        <div class="mt-1">
          <textarea class="block w-full h-[100px] overflow-y-auto p-2 border border-sub-blue-200 rounded-sm" placeholder="placeholder"></textarea>
        </div>
        <p class="mt-1">얼럿 추가 코멘트를 입력해주세요.</p>
      </div>
      <!-- //반려사유 -->
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
      <button type="button" class="btn-white-l">취소</button>
    </div>
  </div>
</div>