<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1><span class="text-red">($GNB)</span> 스킨 노출 설정</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div><span class="text-red">($GNB)</span>의 노출 영역을 수정할 수 있습니다.</div>
      <!-- 노출메뉴// -->
      <div class="mt-6">
        <h2 class="text-sub-blue-500">노출 메뉴</h2>
        <table class="table mt-1" summary="노출 메뉴">

          <colgroup>
            <col style="width:20%">
            <col style="width:80%">
          </colgroup>
          <tbody>
            <tr>
              <th scope="row">카테고리</th>
              <td>
                <label class="label">
                  <input type="radio" checked="">
                  <span class="label-text">노출</span>
                </label>
                <label class="label">
                  <input type="radio">
                  <span class="label-text">미노출</span>
                </label>
                <div class="mt-1 pl-7">
                  <table class="border-table" summary="하위 메뉴 노출 방법">

                    <colgroup>
                      <col style="width:30%">
                      <col style="width:70%">
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">하위 메뉴 노출 방법</th>
                        <td>
                          <label class="label">
                            <input type="radio" checked="">
                            <span class="label-text">마우스 클릭</span>
                          </label>
                          <label class="label">
                            <input type="radio">
                            <span class="label-text">마우스 오버</span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <!-- 카테고리리스트 -->
                          <div class="category-list">
                            <ul class="closed">
                              <li>
                                <a href="javascript:void(0)">
                                  <i class="fa-solid fa-folder mr-2"></i>
                                  <span class="inline-block w-[160px]">기본 설정</span>
                                  <span class="font-normal">
                                    <label class="label">
                                      <input type="radio" checked>
                                      <span class="label-text">노출</span>
                                    </label>
                                    <label class="label">
                                      <input type="radio">
                                      <span class="label-text">미노출</span>
                                    </label>
                                  </span>
                                </a>
                                <ul class="closed">
                                  <li>
                                    <a href="javascript:void(0)">
                                      <i class="fa-solid fa-folder mr-2 ml-1"></i>
                                      <span class="inline-block w-[150px]">회원 관리</span>
                                      <span class="font-normal">
                                        <label class="label">
                                          <input type="radio" checked>
                                          <span class="label-text">노출</span>
                                        </label>
                                        <label class="label">
                                          <input type="radio">
                                          <span class="label-text">미노출</span>
                                        </label>
                                      </span>
                                    </a>
                                    <ul>
                                      <li>
                                        <a href="javascript:void(0)">
                                          <i class="fa-solid fa-minus mx-1"></i>
                                          <span class="inline-block w-[150px]">카카오알림톡 발송 내역 관리</span>
                                          <span class="font-normal">
                                            <label class="label">
                                              <input type="radio" checked>
                                              <span class="label-text">노출</span>
                                            </label>
                                            <label class="label">
                                              <input type="radio">
                                              <span class="label-text">미노출</span>
                                            </label>
                                          </span>
                                        </a>
                                      </li>
                                      <li>
                                        <a href="javascript:void(0)">
                                          <i class="fa-solid fa-minus mx-1"></i>
                                          <span class="inline-block w-[150px]">3depth</span>
                                          <span class="font-normal">
                                            <label class="label">
                                              <input type="radio" checked>
                                              <span class="label-text">노출</span>
                                            </label>
                                            <label class="label">
                                              <input type="radio">
                                              <span class="label-text">미노출</span>
                                            </label>
                                          </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li>
                                    <a href="javascript:void(0)">
                                      <i class="fa-solid fa-folder mr-2 ml-1"></i>
                                      <span class="inline-block w-[150px]">회원 가입 정책</span>
                                      <span class="font-normal">
                                        <label class="label">
                                          <input type="radio" checked>
                                          <span class="label-text">노출</span>
                                        </label>
                                        <label class="label">
                                          <input type="radio">
                                          <span class="label-text">미노출</span>
                                        </label>
                                      </span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="javascript:void(0)">
                                      <i class="fa-solid fa-folder mr-2 ml-1"></i>
                                      <span class="inline-block w-[150px]">회원 가입 항목</span>
                                      <span class="font-normal">
                                        <label class="label">
                                          <input type="radio" checked>
                                          <span class="label-text">노출</span>
                                        </label>
                                        <label class="label">
                                          <input type="radio">
                                          <span class="label-text">미노출</span>
                                        </label>
                                      </span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="javascript:void(0)">
                                      <i class="fa-solid fa-folder mr-2 ml-1"></i>
                                      <span class="inline-block w-[150px]">회원 등급 관리</span>
                                      <span class="font-normal">
                                        <label class="label">
                                          <input type="radio" checked>
                                          <span class="label-text">노출</span>
                                        </label>
                                        <label class="label">
                                          <input type="radio">
                                          <span class="label-text">미노출</span>
                                        </label>
                                      </span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="javascript:void(0)">
                                      <i class="fa-solid fa-folder mr-2 ml-1"></i>
                                      <span class="inline-block w-[150px]">휴면 회원 관리</span>
                                      <span class="font-normal">
                                        <label class="label">
                                          <input type="radio" checked>
                                          <span class="label-text">노출</span>
                                        </label>
                                        <label class="label">
                                          <input type="radio">
                                          <span class="label-text">미노출</span>
                                        </label>
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <!-- //카테고리리스트 -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- //노출메뉴 -->
      
      <!-- 노출항목// -->
      <div class="mt-6">
        <h2 class="text-sub-blue-500">노출 항목</h2>
        <table class="table mt-1" summary="노출 항목">

                <colgroup>
                  <col style="width:20%">
                  <col style="width:80%">
                </colgroup>
                <tbody>
                  <tr>
                    <th scope="row">회원</th>
                    <td>
                      <table class="border-table" summary="회원 노출 항목">
                        <colgroup>
                          <col style="width:30%">
                          <col style="width:70%">
                        </colgroup>
                        <tbody>
                          <tr>
                            <th scope="row">마이페이지</th>
                            <td>
                              <label class="label">
                                <input type="radio" checked="">
                                <span class="label-text">노출</span>
                              </label>
                              <label class="label">
                                <input type="radio">
                                <span class="label-text">미노출</span>
                              </label>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">로그아웃</th>
                            <td>
                              <label class="label">
                                <input type="radio" checked="">
                                <span class="label-text">노출</span>
                              </label>
                              <label class="label">
                                <input type="radio">
                                <span class="label-text">미노출</span>
                              </label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">비회원</th>
                    <td>
                      <table class="border-table" summary="비회원 노출 항목">
                        <colgroup>
                          <col style="width:30%">
                          <col style="width:70%">
                        </colgroup>
                        <tbody>
                          <tr>
                            <th scope="row">로그인</th>
                            <td>
                              <label class="label">
                                <input type="radio" checked="">
                                <span class="label-text">노출</span>
                              </label>
                              <label class="label">
                                <input type="radio">
                                <span class="label-text">미노출</span>
                              </label>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">회원가입</th>
                            <td>
                              <label class="label">
                                <input type="radio" checked="">
                                <span class="label-text">노출</span>
                              </label>
                              <label class="label">
                                <input type="radio">
                                <span class="label-text">미노출</span>
                              </label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">사이트 로고</th>
                    <td>
                      <label class="label">
                        <input type="radio" checked="">
                        <span class="label-text">노출</span>
                      </label>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">미노출</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">장바구니</th>
                    <td>
                      <label class="label">
                        <input type="radio" checked="">
                        <span class="label-text">노출</span>
                      </label>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">미노출</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">검색</th>
                    <td>
                      <label class="label">
                        <input type="radio" checked="">
                        <span class="label-text">노출</span>
                      </label>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">미노출</span>
                      </label>
                    </td>
                  </tr>
                </tbody>
        </table>
      </div>
      <!-- //노출항목 -->
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">저장</button>
      <button type="button" class="btn-white-l">미리보기</button>
    </div>
  </div>
</div>