<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1>SMS 발송내역 상세보기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table class="table" summary="SMS 발송내역 상세보기">

        <colgroup>
          <col style="width:20%">
          <col style="width:80%">
        </colgroup>
        <tbody>
          <tr>
            <th scope="row">발송유형</th>
            <td>자동</td>
          </tr>
          <tr>
            <th scope="row">발송상태</th>
            <td>발송성공</td>
          </tr>
          <tr>
            <th scope="row">구분</th>
            <td>SMS</td>
          </tr>
          <tr>
            <th scope="row">사용 포인트</th>
            <td>1P</td>
          </tr>
          <tr>
            <th scope="row">발송일시</th>
            <td>2024-01-01 11:12:42</td>
          </tr>
          <tr>
            <th scope="row">내용</th>
            <td>
              안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
    </div>
  </div>
</div>