<div class="ToolTip_1" style="width: 172px">
  <div class="CenterRight">
    <button>
      <img src="/icon/2307241608.svg" alt=""/>
    </button>
  </div>
  <div class="t-241766bd">
    랭킹 노출 기준
  </div>
  <div class="t-11f79241">
    브랜드 및 쿠폰 별 최근 판매횟수가 높은 순으로 정렬합니다.
  </div>
</div>