<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1>가격 수정 로그</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table summary="가격 수정 로그" class="table">

        <thead>
        <tr>
          <th scope="col" class="text-center">수정자</th>
          <th scope="col" class="text-center">소비자가</th>
          <th scope="col" class="text-center">판매가</th>
          <th scope="col" class="text-center">통합 회원가</th>
          <th scope="col" class="text-center">네이버 EP가</th>
          <th scope="col" class="text-center">수정 일자/위치</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">admin11</td>
          <td class="text-center">500,000</td>
          <td class="text-center">250,000</td>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
          <td class="text-center">2022-04-01 / 직접 수정</td>
        </tr>
        <tr>
          <td class="text-center">admin11</td>
          <td class="text-center">500,000</td>
          <td class="text-center">250,000</td>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
          <td class="text-center">2022-04-01 / 직접 수정</td>
        </tr>
        <tr>
          <td class="text-center">admin11</td>
          <td class="text-center">500,000</td>
          <td class="text-center">250,000</td>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
          <td class="text-center">2022-04-01 / 직접 수정</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
    </div>
  </div>
</div>