<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[1300px]">
    <div class="layer-header">
      <h1>개인정보 처리방침 상세보기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table class="table" summary="개인정보 처리방침 상세보기">

        <colgroup>
          <col style="width: 15%">
          <col style="width: 85%">
        </colgroup>
        <tbody>
          <tr>
            <th scope="row">약관명</th>
            <td>이용약관_개정판2</td>
          </tr>
          <tr>
            <th scope="row">수정일</th>
            <td>2022-02-22 22:22:22</td>
          </tr>
          <tr>
            <th scope="row">약관 내용</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
    </div>
  </div>
</div>