<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1>검색어 설정</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="tbl-box">
        <table class="table" summary="검색어 설정">

          <colgroup>
            <col style="width:20%">
            <col style="width:80%">
          </colgroup>
          <tbody>
            <tr>
              <th scope="row">기간</th>
              <td>
                <div class="grid grid-cols-5">
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">주문일</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">입금일</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">배송일</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">배송완료일</span>
                    </label>
                  </span>
                </div>
                <div class="mt-6">
                  <label class="label">
                    <input type="checkbox">
                    <span class="label-text">전체기간</span>
                  </label>
                  <div class="grid grid-cols-5 gap-y-1 mt-1">
                    <span>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">1주일</span>
                      </label>
                    </span>
                    <span>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">15일</span>
                      </label>
                    </span>
                    <span>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">1개월</span>
                      </label>
                    </span>
                    <span>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">3개월</span>
                      </label>
                    </span>
                    <span>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">6개월</span>
                      </label>
                    </span>
                    <span>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">1년</span>
                      </label>
                    </span>
                    <span>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">2년</span>
                      </label>
                    </span>
                    <span>
                      <label class="label">
                        <input type="radio">
                        <span class="label-text">3년</span>
                      </label>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">주문상태</th>
              <td>
                <div class="grid grid-cols-5 gap-y-1">
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">전체</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">입금대기</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">결제완료</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">상품준비중</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">배송준비중</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">배송중</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">배송완료</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">구매확정</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">취소요청</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">취소완료</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">환불보류</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">반품요청</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">반품승인</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">반품회수중</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">반품회수완료</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">반품확정</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">반품보류</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">교환요청</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">교환승인</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">교환회수중</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">교환보류</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">교환완료</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">재배송중</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">반송중</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">결제취소</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">결제실패</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">반품완료</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">환불요청</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">환불보류</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="checkbox">
                      <span class="label-text">환불완료</span>
                    </label>
                  </span>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">결제수단</th>
              <td>
                <div class="grid grid-cols-5 gap-y-1">
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">전체</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">무통장</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">신용카드</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">계좌이체</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">마일리지</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">포인트</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">가상계좌</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">휴대폰</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">에스크로</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">네이버페이</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">카카오페이</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">페이코</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">토스</span>
                    </label>
                  </span>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">검색필드</th>
              <td>
                <div class="grid grid-cols-5 gap-y-1">
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">주문번호</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">회원아이디</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">주문자/입금자/수령인</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">주문자 연락처</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">주문자 이메일</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">송장번호</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">상품명</span>
                    </label>
                  </span>
                  <span>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">배송지주소</span>
                    </label>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-1 text-red">* 검색 시 자주 사용하는 필드를 기본으로 선택되도록 할 수 있습니다.</div>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
      <button type="button" class="btn-white-l">취소</button>
    </div>
  </div>
</div>