<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[1300px]">
    <div class="layer-header">
      <h1>게시글 상세보기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div>
        <h2 class="text-sub-blue-500">기본 정보</h2>
        <table class="table mt-1" summary="기본 정보">

          <colgroup>
            <col class="w-[15%]">
            <col class="w-[35%]">
            <col class="w-[15%]">
            <col class="w-[35%]">
          </colgroup>
          <tbody>
            <tr>
              <th scope="row">게시판 분류</th>
              <td>이벤트</td>
              <th scope="row">작성자</th>
              <td>홍** / 골드 <span class="text-sub-blue-500 text-[11px]">(106.241.28.3)</span></td>
            </tr>
            <tr>
              <th scope="row">이메일</th>
              <td>test@test.com</td>
              <th scope="row">휴대폰번호</th>
              <td>010-1234-5678</td>
            </tr>
            <tr>
              <th scope="row">작성일시</th>
              <td>2022-11-25 13:23:00</td>
              <th scope="row">조회수</th>
              <td>2,202회</td>
            </tr>
            <tr>
              <th scope="row">제목</th>
              <td>
                <span class="C-LABEL HOT">H</span>
                <span>테스트 제목 입니다.</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2 class="text-sub-blue-500 mt-6 mb-2">기획전</h2>
        <table class="table" summary="기획전">

          <colgroup>
            <col style="width:20%">
            <col style="width:80%">
          </colgroup>
          <tbody>
            <tr>
              <th scope="row">기획전명</th>
              <td>테스트 기획전</td>
            </tr>
            <tr>
              <th scope="row">매거진 대표 썸네일</th>
              <td><div class="w-1/2 h-auto overflow-hidden"><img class="w-full" src="https://gifpng.com/560x320/685CCD/FFEAB8/" alt=""/></div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2 class="text-sub-blue-500 mt-6 mb-2">게시글 내용</h2>
        <table class="table" summary="게시글 내용">

          <colgroup>
            <col style="width:20%">
            <col style="width:80%">
          </colgroup>
          <tbody>
            <tr>
              <th scope="row">내용</th>
              <td>
                <div>
                  안녕하세요 고객님,<br />
                  코웰패션닷컴 방문에 감사드리며 안내 말씀 드립니다.<br />
                  주문 폭주로 인해 배송이 지연되고 있습니다.<br />
                  순차적 발송 예정이니 양해 부탁드립니다.<br />
                  감사합니다.
                </div>
                <!-- swiper :: START -->
                <div>
                  <div class="w-full min-h-[220px] overflow-hidden mt-3 border border-sub-blue-200 relative" id="ranking-item">
                    <div class="h-full absolute top-0 right-0 left-0">
                      <div class="h-full px-10 overflow-visible relative">
                        <div class="swiper h-full">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide mt-1.5">
                              <span class="w-6 h-6 text-xs leading-6 text-center bg-sub-blue-100 absolute top-[5px] left-[5px] z-10">1</span>        
                              <div class="h-[137px] overflow-hidden relative">
                                <a href="javascript:;" class="absolute left-0 top-0 right-0 bottom-0 z-10">
                                  <img src="//img.atny.com/data/goods/ATNY/57/1830857/1830857_1_list1_rb.png" alt="여성 토트/탑핸들백" class="max-w-[90%] max-h-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                </a>
                              </div>
                              <div class="pt-[10px]">
                                <p class="truncate">PRADA</p>
                                <p class="mt-1 truncate">여성 토트/탑핸들백</p>
                                <p class="mt-1 truncate">
                                  <span class="font-bold">2,679,000</span>
                                  <span class="text-[11px] text-main-blue">31%</span>
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide mt-1.5">
                              <span class="w-6 h-6 text-xs leading-6 text-center bg-sub-blue-100 absolute top-[5px] left-[5px] z-10">2</span>        
                              <div class="h-[137px] overflow-hidden relative">
                                <a href="javascript:;" class="absolute left-0 top-0 right-0 bottom-0 z-10">
                                  <img src="//img.atny.com/data/goods/ATNY/98/1695898/1695898_0_list1_rb.png" alt="남성 롱 다운/패딩" class="max-w-[90%] max-h-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                </a>
                              </div>
                              <div class="pt-[10px]">
                                <p class="truncate">THOM BROWNE</p>
                                <p class="mt-1 truncate">남성 롱 다운/패딩</p>
                                <p class="mt-1 truncate">
                                  <span class="font-bold">2,696,000</span>
                                  <span class="text-[11px] text-main-blue">47%</span>
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide mt-1.5">
                              <span class="w-6 h-6 text-xs leading-6 text-center bg-sub-blue-100 absolute top-[5px] left-[5px] z-10">3</span>        
                              <div class="h-[137px] overflow-hidden relative">
                                <a href="javascript:;" class="absolute left-0 top-0 right-0 bottom-0 z-10">
                                  <img src="//img.atny.com/data/goods/ATNY/57/1830857/1830857_1_list1_rb.png" alt="여성 토트/탑핸들백" class="max-w-[90%] max-h-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                </a>
                              </div>
                              <div class="pt-[10px]">
                                <p class="truncate">PRADA</p>
                                <p class="mt-1 truncate">여성 토트/탑핸들백</p>
                                <p class="mt-1 truncate">
                                  <span class="font-bold">2,679,000</span>
                                  <span class="text-[11px] text-main-blue">31%</span>
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide mt-1.5">
                              <span class="w-6 h-6 text-xs leading-6 text-center bg-sub-blue-100 absolute top-[5px] left-[5px] z-10">4</span>        
                              <div class="h-[137px] overflow-hidden relative">
                                <a href="javascript:;" class="absolute left-0 top-0 right-0 bottom-0 z-10">
                                  <img src="//img.atny.com/data/goods/ATNY/98/1695898/1695898_0_list1_rb.png" alt="남성 롱 다운/패딩" class="max-w-[90%] max-h-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                </a>
                              </div>
                              <div class="pt-[10px]">
                                <p class="truncate">THOM BROWNE</p>
                                <p class="mt-1 truncate">남성 롱 다운/패딩</p>
                                <p class="mt-1 truncate">
                                  <span class="font-bold">2,696,000</span>
                                  <span class="text-[11px] text-main-blue">47%</span>
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide mt-1.5">
                              <span class="w-6 h-6 text-xs leading-6 text-center bg-sub-blue-100 absolute top-[5px] left-[5px] z-10">5</span>        
                              <div class="h-[137px] overflow-hidden relative">
                                <a href="javascript:;" class="absolute left-0 top-0 right-0 bottom-0 z-10">
                                  <img src="//img.atny.com/data/goods/ATNY/57/1830857/1830857_1_list1_rb.png" alt="여성 토트/탑핸들백" class="max-w-[90%] max-h-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                </a>
                              </div>
                              <div class="pt-[10px]">
                                <p class="truncate">PRADA</p>
                                <p class="mt-1 truncate">여성 토트/탑핸들백</p>
                                <p class="mt-1 truncate">
                                  <span class="font-bold">2,679,000</span>
                                  <span class="text-[11px] text-main-blue">31%</span>
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide mt-1.5">
                              <span class="w-6 h-6 text-xs leading-6 text-center bg-sub-blue-100 absolute top-[5px] left-[5px] z-10">6</span>        
                              <div class="h-[137px] overflow-hidden relative">
                                <a href="javascript:;" class="absolute left-0 top-0 right-0 bottom-0 z-10">
                                  <img src="//img.atny.com/data/goods/ATNY/98/1695898/1695898_0_list1_rb.png" alt="남성 롱 다운/패딩" class="max-w-[90%] max-h-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                </a>
                              </div>
                              <div class="pt-[10px]">
                                <p class="truncate">THOM BROWNE</p>
                                <p class="mt-1 truncate">남성 롱 다운/패딩</p>
                                <p class="mt-1 truncate">
                                  <span class="font-bold">2,696,000</span>
                                  <span class="text-[11px] text-main-blue">47%</span>
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide mt-1.5">
                              <span class="w-6 h-6 text-xs leading-6 text-center bg-sub-blue-100 absolute top-[5px] left-[5px] z-10">7</span>        
                              <div class="h-[137px] overflow-hidden relative">
                                <a href="javascript:;" class="absolute left-0 top-0 right-0 bottom-0 z-10">
                                  <img src="//img.atny.com/data/goods/ATNY/57/1830857/1830857_1_list1_rb.png" alt="여성 토트/탑핸들백" class="max-w-[90%] max-h-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                </a>
                              </div>
                              <div class="pt-[10px]">
                                <p class="truncate">PRADA</p>
                                <p class="mt-1 truncate">여성 토트/탑핸들백</p>
                                <p class="mt-1 truncate">
                                  <span class="font-bold">2,679,000</span>
                                  <span class="text-[11px] text-main-blue">31%</span>
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide mt-1.5">
                              <span class="w-6 h-6 text-xs leading-6 text-center bg-sub-blue-100 absolute top-[5px] left-[5px] z-10">8</span>        
                              <div class="h-[137px] overflow-hidden relative">
                                <a href="javascript:;" class="absolute left-0 top-0 right-0 bottom-0 z-10">
                                  <img src="//img.atny.com/data/goods/ATNY/98/1695898/1695898_0_list1_rb.png" alt="남성 롱 다운/패딩" class="max-w-[90%] max-h-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                </a>
                              </div>
                              <div class="pt-[10px]">
                                <p class="truncate">THOM BROWNE</p>
                                <p class="mt-1 truncate">남성 롱 다운/패딩</p>
                                <p class="mt-1 truncate">
                                  <span class="font-bold">2,696,000</span>
                                  <span class="text-[11px] text-main-blue">47%</span>
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide mt-1.5">
                              <span class="w-6 h-6 text-xs leading-6 text-center bg-sub-blue-100 absolute top-[5px] left-[5px] z-10">9</span>        
                              <div class="h-[137px] overflow-hidden relative">
                                <a href="javascript:;" class="absolute left-0 top-0 right-0 bottom-0 z-10">
                                  <img src="//img.atny.com/data/goods/ATNY/57/1830857/1830857_1_list1_rb.png" alt="여성 토트/탑핸들백" class="max-w-[90%] max-h-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                </a>
                              </div>
                              <div class="pt-[10px]">
                                <p class="truncate">PRADA</p>
                                <p class="mt-1 truncate">여성 토트/탑핸들백</p>
                                <p class="mt-1 truncate">
                                  <span class="font-bold">2,679,000</span>
                                  <span class="text-[11px] text-main-blue">31%</span>
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide mt-1.5">
                              <span class="w-6 h-6 text-xs leading-6 text-center bg-sub-blue-100 absolute top-[5px] left-[5px] z-10">10</span>        
                              <div class="h-[137px] overflow-hidden relative">
                                <a href="javascript:;" class="absolute left-0 top-0 right-0 bottom-0 z-10">
                                  <img src="//img.atny.com/data/goods/ATNY/98/1695898/1695898_0_list1_rb.png" alt="남성 롱 다운/패딩" class="max-w-[90%] max-h-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                </a>
                              </div>
                              <div class="pt-[10px]">
                                <p class="truncate">THOM BROWNE</p>
                                <p class="mt-1 truncate">남성 롱 다운/패딩</p>
                                <p class="mt-1 truncate">
                                  <span class="font-bold">2,696,000</span>
                                  <span class="text-[11px] text-main-blue">47%</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-button-prev !w-10 !h-full !mt-0 absolute !top-0 !left-0 cursor-pointer z-50 bg-[url('../images/ico-arrow-prev.svg')] bg-center bg-no-repeat after:hidden"></div>
                        <div class="swiper-button-next !w-10 !h-full !mt-0 absolute !top-0 !right-0 cursor-pointer z-50 bg-[url('../images/ico-arrow-next.svg')] bg-center bg-no-repeat after:hidden"></div>
                      </div>
                    </div>
                  </div>
                  <script>
                    new Swiper("#ranking-item .swiper", {
                      slidesPerView: 6.5,
                      spaceBetween: 10,
                      loopedSlides: 6,
                      loop: false,
                      watchSlidesProgress: true,
                      navigation: {
                        nextEl: "#ranking-item .swiper-button-next",
                        prevEl: "#ranking-item .swiper-button-prev",
                      }
                    });
                  </script>
                </div>
                <!-- swiper :: END -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2 class="text-sub-blue-500 mt-6 mb-2">첨부 파일</h2>
        <table class="table" summary="첨부 파일">

          <colgroup>
              <col style="width:20%">
              <col style="width:80%">
          </colgroup>
          <tbody>
            <tr>
              <th scope="row">첨부 파일 1</th>
              <td><a href="javascript:;" class="text-main-blue underline">test.txt</a></td>
            </tr>
            <tr>
              <th scope="row">첨부 파일 2</th>
              <td><div class="w-1/2 h-auto overflow-hidden"><img class="w-full" src="https://gifpng.com/560x315/685CCD/FFEAB8/" alt=""/></div></td>
            </tr>
            <tr>
              <th scope="row">첨부 파일 3</th>
              <td><div class="w-1/2 h-auto overflow-hidden"><video class="h-80" src="" controls></video></div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2 class="text-sub-blue-500 mt-6 mb-2">댓글 (<span class="text-red">2</span>)</h2>
        <div>
          <span class="font-bold">이서은 / 다이아</span>
          <span class="pl-1 text-sub-blue-500 text-[11px]">(106.241.28.3)</span>
        </div>
        <div class="relative">
          <div class="h-[100px] overflow-y-auto mt-1 p-2 bg-main-lightblue border border-sub-blue-200 rounded-sm">
            테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.
            테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.
          </div>
          <p class="p-1 text-sub-blue-500 text-[11px] text-right">2022-02-22 22:22:22</p>
        </div>
        <div class="mt-1">
          <div>
            <span class="font-bold">홍길동 / 골드</span>
            <span class="pl-1 text-sub-blue-500 text-[11px]">(106.241.28.3)</span>
          </div>
          <div class="relative">
            <div class="h-[100px] overflow-y-auto mt-1 p-2 bg-main-lightblue border border-sub-blue-200 rounded-sm">
              테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.
            </div>
            <p class="p-1 text-sub-blue-500 text-[11px] text-right">2022-02-22 22:22:22</p>
          </div>
        </div>
        <div>
          <div class="font-bold">댓글 작성</div>
          <div class="flex justify-between mt-1">
            <textarea class="flex-auto w-full h-[100px] overflow-y-auto mr-1 p-2 border border-sub-blue-200 rounded-sm"></textarea>
            <button class="flex-auto h-[100px] whitespace-nowrap btn-m">작성</button>
          </div>
        </div>
      </div>
      <div class="w-full mt-10">
        <div class="table table-fixed w-full border-collapse border-y border-y-sub-blue-200 box-border">
          <ul class="table-row border-b border-b-sub-blue-200">
            <li class="table-cell w-[70px] py-3 px-2 align-middle break-all text-center box-border">
              <span class="cursor-pointer relative"><i class="fa-solid fa-sort-up absolute top-1 left-0"></i></span>
              <span class="ml-4 cursor-pointer">다음글</span>
            </li>
            <li class="table-cell py-3 px-2 align-middle break-all truncate box-border">
              <span class="inline-block h-5 leading-5 px-1 border border-[#92E7E1] text-[#00B0A5] rounded">N</span>
              <span>테스트 다음글 입니다.</span>
            </li>
            <li class="table-cell w-[100px] py-3 px-2 align-middle break-all text-center box-border">
              <span class="font-bold">아이디</span>
            </li>
            <li class="table-cell w-[140px] py-3 px-2 align-middle break-all text-center box-border">
              <span>2022-05-31 10:22:22</span>
            </li>
          </ul>
          <ul class="table-row">
            <li class="table-cell w-[70px] py-3 px-2 align-middle break-all text-center box-border">
              <span class="cursor-pointer relative"><i class="fa-solid fa-sort-down absolute -top-0.5 left-0"></i></span>
              <span class="ml-4 cursor-pointer">이전글</span>
            </li>
            <li class="table-cell py-3 px-2 align-middle break-all truncate box-border">
              <span class="inline-block h-5 leading-5 px-1 border border-[#F5BFCC] text-[#E54E73] rounded">H</span>
              <span>테스트 이전글 입니다.</span>
            </li>
            <li class="table-cell w-[100px] py-3 px-2 align-middle break-all text-center box-border">
              <span class="font-bold">아이디</span>
            </li>
            <li class="table-cell w-[140px] py-3 px-2 align-middle break-all text-center box-border">
              <span>2022-05-31 10:22:22</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
    </div>
  </div>
</div>