<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1>공급사 선택</h1>
      <button type="button" class="btn-close-layer"><span
          class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="text-sub-blue-500 mb-2">공급사 검색</div>
      <table summary="공급사 선택" class="table">

        <colgroup>
          <col style="width:120px" />
          <col style="width:auto" />
        </colgroup>
        <tbody>
          <tr>
            <th scope="row">공급사명</th>
            <td>
              <select class="select-wrap align-middle">
                <option>선택</option>
                <option>아이디</option>
                <option>공급사명</option>
              </select>
              <input type="text" class="input-wrap align-middle" placeholder="placeholder" />
              <button type="button" class="btn-m align-middle">검색</button>
            </td>
          </tr>
          <tr>
            <th scope="row">상태</th>
            <td>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">전체</span>
              </label>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">정상</span>
              </label>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">종료</span>
              </label>
            </td>
          </tr>
          <tr>
            <th scope="row">사업자</th>
            <td>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">전체</span>
              </label>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">개인</span>
              </label>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">법인</span>
              </label>
            </td>
          </tr>
          <tr>
            <th scope="row">입점일</th>
            <td>
              <span class="input-calendar-wrap">
                <button type="button" class="btn-calender"><span
                    class="icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat"></span></button>
                <input type="text" class="inline-block float-right w-[76px] h-[38px]">
              </span>
              <span class="inline-block px-1">~</span>
              <span class="input-calendar-wrap">
                <button type="button" class="btn-calender"><span
                    class="icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat"></span></button>
                <input type="text" class="inline-block float-right w-[76px] h-[38px]">
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">정산 기준</th>
            <td>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">전체</span>
              </label>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">수수료 방식</span>
              </label>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">공급가 방식</span>
              </label>
            </td>
          </tr>
          <tr>
            <th scope="row">정산 주기</th>
            <td>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">전체</span>
              </label>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">월 1회</span>
              </label>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">월 2회</span>
              </label>
              <label class="label">
                <input type="radio" name="" />
                <span class="label-text">월 4회</span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
      <h2 class="text-sub-blue-500 mt-6 mb-2">선택 공급사</h2>
      <div>
        <span class="inline-block">나이키
          <button type="button"
            class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i
              class="fa-solid fa-xmark"></i></button>
        </span> <span>ACTERYX
          <button type="button"
            class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i
              class="fa-solid fa-xmark"></i></button>
        </span> <span>아디다스
          <button type="button"
            class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i
              class="fa-solid fa-xmark"></i></button>
        </span>
        <span class="inline-block">파타고니아
          <button type="button"
            class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i
              class="fa-solid fa-xmark"></i></button>
        </span>
        <span class="inline-block">샤넬
          <button type="button"
            class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i
              class="fa-solid fa-xmark"></i></button>
        </span>
        <span class="inline-block">프라다
          <button type="button"
            class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i
              class="fa-solid fa-xmark"></i></button>
        </span>
        <span class="inline-block">보테가 베네타
          <button type="button"
            class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i
              class="fa-solid fa-xmark"></i></button>
        </span>
        <span class="inline-block">카카오
          <button type="button"
            class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i
              class="fa-solid fa-xmark"></i></button>
        </span>
        <span class="inline-block">네이버
          <button type="button"
            class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i
              class="fa-solid fa-xmark"></i></button>
        </span>
      </div>
      <h2 class="text-sub-blue-500 mt-6 mb-2">공급사 리스트</h2>
      <div class="flex justify-between items-end pb-1">
        <div>조회 <span class="!text-red">0</span>개 / 전체 <span class="!text-red">0</span>개</div>
        <select class="select-wrap">
          <option>10개</option>
          <option>30개</option>
          <option>50개</option>
          <option>100개</option>
        </select>
      </div>
      <table summary="공급사 리스트" class="table">

        <colgroup>
          <col style="width:5%" />
          <col style="width:10%" />
          <col style="width:25%" />
          <col style="width:30%" />
          <col style="width:30%" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center">번호</th>
            <th scope="col" class="text-center">상태</th>
            <th scope="col" class="text-center">공급사명</th>
            <th scope="col" class="text-center">사업자</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <label class="label">
                <input type="radio" name="">
                <span class="label-text"></span>
              </label>
            </td>
            <td class="text-center">115</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td class="text-center">
              <label class="label">
                <input type="radio" name="">
                <span class="label-text"></span>
              </label>
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td class="text-center">
              <label class="label">
                <input type="radio" name="">
                <span class="label-text"></span>
              </label>
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
        </tbody>
      </table>
      <!-- paging -->
      <script>Include('/hbs/component/Paging_1-a.hbs');</script>
      <!-- //paging -->
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">선택 완료</button>
    </div>
  </div>
</div>