<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>관리자 권한 설정 상세보기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="text-sub-blue-500 mb-2">메뉴 권한 설정</div>
      <div>
        선택한 메뉴에
        <label class="label ml-5">
          <input type="radio" checked="">
          <span class="label-text">접근가능</span>
        </label>
        <label class="label">
          <input type="radio">
          <span class="label-text">접근차단</span>
        </label>
      </div>
      <div class="mt-5">
        <div>
          <div class="category-list">
            <ul>
              <li>
                <div class="custom-category-sub">
                  <span class="inline-block w-40 cursor-pointer"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">기본 설정</span></span>
                  <label class="label">
                    <input type="radio" checked="">
                    <span class="label-text">접근가능</span>
                  </label>
                  <label class="label">
                    <input type="radio">
                    <span class="label-text">접근차단</span>
                  </label>
                </div>
                <ul>
                  <li>
                    <span class="inline-block w-40"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">회원 관리</span></span>
                    <label class="label">
                      <input type="radio" checked="">
                      <span class="label-text">접근가능</span>
                    </label>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">접근차단</span>
                    </label>
                  </li>
                  <li>
                    <span class="inline-block w-40"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">회원가입 정책</span></span>
                    <label class="label">
                      <input type="radio" checked="">
                      <span class="label-text">접근가능</span>
                    </label>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">접근차단</span>
                    </label>
                  </li>
                  <li>
                    <span class="inline-block w-40"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">회원가입 항목</span></span>
                    <label class="label">
                      <input type="radio" checked="">
                      <span class="label-text">접근가능</span>
                    </label>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">접근차단</span>
                    </label>
                  </li>
                  <li>
                    <span class="inline-block w-40"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">회원등급 관리</span></span>
                    <label class="label">
                      <input type="radio" checked="">
                      <span class="label-text">접근가능</span>
                    </label>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">접근차단</span>
                    </label>
                  </li>
                  <li>
                    <span class="inline-block w-40"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">휴면회원 관리</span></span>
                    <label class="label">
                      <input type="radio" checked="">
                      <span class="label-text">접근가능</span>
                    </label>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">접근차단</span>
                    </label>
                  </li>
                </ul>
              </li>
              <li class="mt-2">
                <div class="custom-category-sub">
                  <span class="inline-block w-40 cursor-pointer"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">회원</span></span>
                  <label class="label">
                    <input type="radio" checked="">
                    <span class="label-text">접근가능</span>
                  </label>
                  <label class="label">
                    <input type="radio">
                    <span class="label-text">접근차단</span>
                  </label>
                </div>
                <ul>
                  <li>
                    <span class="inline-block w-40"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">회원 관리</span></span>
                    <label class="label">
                      <input type="radio" checked="">
                      <span class="label-text">접근가능</span>
                    </label>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">접근차단</span>
                    </label>
                  </li>
                  <li>
                    <span class="inline-block w-40"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">회원가입 정책</span></span>
                    <label class="label">
                      <input type="radio" checked="">
                      <span class="label-text">접근가능</span>
                    </label>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">접근차단</span>
                    </label>
                  </li>
                  <li>
                    <span class="inline-block w-40"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">회원가입 항목</span></span>
                    <label class="label">
                      <input type="radio" checked="">
                      <span class="label-text">접근가능</span>
                    </label>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">접근차단</span>
                    </label>
                  </li>
                  <li>
                    <span class="inline-block w-40"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">회원등급 관리</span></span>
                    <label class="label">
                      <input type="radio" checked="">
                      <span class="label-text">접근가능</span>
                    </label>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">접근차단</span>
                    </label>
                  </li>
                  <li>
                    <span class="inline-block w-40"><i class="fa-solid fa-folder mr-2 ml-1 mt-1 text-base"></i><span class="">휴면회원 관리</span></span>
                    <label class="label">
                      <input type="radio" checked="">
                      <span class="label-text">접근가능</span>
                    </label>
                    <label class="label">
                      <input type="radio">
                      <span class="label-text">접근차단</span>
                    </label>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">저장</button>
      <button type="button" class="btn-white-l">취소</button>
    </div>
  </div>
</div>