<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[1300px]">
    <div class="layer-header">
      <h1>기획전 불러오기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div>
        <h2 class="text-sub-blue-500 mb-2">기획전 검색</h2>
        <div class="tbl-box">
          <table class="table" summary="기획전 검색">

            <colgroup>
              <col style="width:20%">
              <col style="width:80%">
            </colgroup>
            <tbody>
              <tr>
                <th scope="row">기획전 검색</th>
                <td>
                  <select class="select-wrap align-middle" name="">
                    <option value="">기획전명</option>
                    <option value="">등록자</option>
                  </select>
                  <input type="text" class="input-wrap align-middle" placeholder="placeholder" />
                </td>
              </tr>
              <tr>
                <th scope="row">기간 검색</th>
                <td>
                  <select class="select-wrap align-middle" name="">
                    <option value="">등록일</option>
                    <option value="">진행일</option>
                    <option value="">종료일</option>
                  </select>
                  <span class="input-calendar-wrap">
                    <button type="button" class="btn-calender"><span class="icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat"></span></button>
                    <input type="text" class="inline-block float-right w-[76px] h-[38px]" placeholder="placeholder" />
                  </span>
                  <span class="inline-block px-1">~</span>
                  <span class="input-calendar-wrap">
                    <button type="button" class="btn-calender"><span class="icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat"></span></button>
                    <input type="text" class="inline-block float-right w-[76px] h-[38px]" placeholder="placeholder" />
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">적용 대상</th>
                <td>
                  <label class="label">
                    <input type="radio" name="" checked />
                    <span class="label-text">전체</span>
                  </label>
                  <label class="label">
                    <input type="radio" name="" />
                    <span class="label-text">회원 그룹별</span>
                  </label>
                  <select class="select-wrap ml-1 align-middle" name="">
                    <option value="">일반회원</option>
                    <option value="">브론즈</option>
                    <option value="">실버</option>
                    <option value="">골드</option>
                    <option value="">다이아</option>
                    <option value="">임원</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="row">노출 범위</th>
                <td>
                  <label class="label">
                    <input type="radio" name="" checked />
                    <span class="label-text">전체</span>
                  </label>
                  <label class="label">
                    <input type="radio" name="" />
                    <span class="label-text">PC</span>
                  </label>
                  <label class="label">
                    <input type="radio" name="" />
                    <span class="label-text">Mobile</span>
                  </label>
                  <label class="label">
                    <input type="radio" name="" />
                    <span class="label-text">APP</span>
                  </label>
                </td>
              </tr>
              <tr>
                <th scope="row">진행 상태</th>
                <td>
                  <label class="label">
                    <input type="radio" name="" checked />
                    <span class="label-text">전체</span>
                  </label>
                  <label class="label">
                    <input type="radio" name="" />
                    <span class="label-text">대기</span>
                  </label>
                  <label class="label">
                    <input type="radio" name="" />
                    <span class="label-text">진행중</span>
                  </label>
                  <label class="label">
                    <input type="radio" name="" />
                    <span class="label-text">종료</span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center mt-3">
            <button type="button" class="btn-m">검색</button>
            <button type="button" class="btn-white-m">초기화</button>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-sub-blue-500 mt-6 mb-2">기획전 리스트</h2>
        <div class="flex justify-between items-end pb-1">
          <div>조회 <span class="!text-red">0</span>개 / 전체 <span class="!text-red">0</span>개</div>
          <select class="select-wrap">
            <option>10개</option>
            <option>30개</option>
            <option>50개</option>
            <option>100개</option>
          </select>
        </div>
      </div>
      <div id="app" class="mt-1"></div>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
    </div>
  </div>
</div>