<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[900px]">
    <div class="layer-header">
      <h1>네이버페이 버튼 스타일 선택 PC</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table class='table' summary='네이버페이 버튼 스타일'>
        <caption>네이버페이 버튼 스타일</caption>
        <colgroup>
          <col class='w-[130px]' />
          <col />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">A-1-1<br />(236×88)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_1.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_2.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">A-1-2<br />(285×88)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_3.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_4.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">B-1-1<br />(214×83)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_5.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_6.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">B-1-2<br />(261×83)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_7.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_8.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">C-1-1<br />(225×88)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_9.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_10.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">C-1-2<br />(272×88)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_11.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_12.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">C-2-1<br />(225×88)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_13.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_14.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">C-2-2<br />(227×88)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_15.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_16.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">C-3-1<br />(225×92)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_17.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_18.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">C-3-2<br />(272×92)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_19.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_20.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">D-1-1<br />(210×83)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_21.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_22.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">D-1-2<br />(251×83)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_23.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_24.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">D-2-1<br />(210×83)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_25.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_26.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">D-2-2<br />(251×83)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_27.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_28.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">D-3-1<br />(210×87)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_29.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_30.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">D-3-2<br />(251×87)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_31.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_32.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">E-1-1<br />(124×135)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_33.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_34.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">E-1-2<br />(124×135)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_35.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_36.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">E-2-1<br />(124×135)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_37.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_38.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">E-2-2<br />(124×135)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_39.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_40.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">E-3-1<br />(124×139)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_41.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_42.png' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">E-3-2<br />(124×139)</span>
              </label>
            </td>
            <td>
              <img src='../../images/2308301751_43.png' alt='' />
            </td>
            <td>
              <img src='../../images/2308301751_44.png' alt='' />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">저장</button>
    </div>
  </div>
</div>