<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[900px]">
    <div class="layer-header">
      <h1>네이버페이 버튼 스타일 선택 Mobile</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table class='table' summary='네이버페이 버튼 스타일'>
        <caption>네이버페이 버튼 스타일</caption>
        <colgroup>
          <col class='w-[130px]' />
          <col />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">MA-1-1<br />(290×85)</span>
              </label>
            </td>
            <td>
              <img src='https://gifpng.com/290x85' alt='' />
            </td>
            <td>
              <img src='https://gifpng.com/290x85' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">MA-1-1<br />(290×85)</span>
              </label>
            </td>
            <td>
              <img src='https://gifpng.com/290x85' alt='' />
            </td>
            <td>
              <img src='https://gifpng.com/290x85' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">MB-1-1<br />(320×100)</span>
              </label>
            </td>
            <td>
              <img src='https://gifpng.com/320x100' alt='' />
            </td>
            <td>
              <img src='https://gifpng.com/320x100' alt='' />
            </td>
          </tr>
          <tr>
            <td>
              <label class="label">
                <input type="radio">
                <span class="label-text">MB-1-2<br />(320×100)</span>
              </label>
            </td>
            <td>
              <img src='https://gifpng.com/320x100' alt='' />
            </td>
            <td>
              <img src='https://gifpng.com/320x100' alt='' />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">저장</button>
    </div>
  </div>
</div>