<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>댓글 작성</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <p>댓글을 작성하시겠습니까?</p>
      <div class="mt-3">
        <label class="label">
          <input type="checkbox" name="">
          <span class="label-text">베스트 후기 지정</span>
        </label>
        <label class="label">
          <input type="checkbox" name="">
          <span class="label-text"><span class="!text-main-blue">3,000</span> (포인트) 지급</span>
        </label>
        <label class="label">
          <input type="checkbox" name="">
          <span class="label-text">노출 승인</span>
        </label>
        <label class="label">
          <input type="checkbox" name="">
          <span class="label-text">반려</span>
        </label>
      </div>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">등록</button>
      <button type="button" class="btn-white-l">취소</button>
    </div>
  </div>
</div>