<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>로그인 실패</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <p>
        관리자 정보가 존재하지 않거나 잘못된 정보 입니다.
        <br>
        다시 확인 해주시기 바랍니다.
      </p>
      <br>
      <div>
        <strong>로그인 시도 횟수</strong>
        ( <span class="text-red">2</span> / 5 )
      </div>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">닫기</button>
    </div>
  </div>
</div>