<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[900px]">
    <div class="layer-header">
      <h1>메일 발송내역 상세보기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table class="table mb-2" summary="SMS 발송 내역 상세 보기">

        <colgroup>
          <col style="width:30%">
          <col style="width:70%">
        </colgroup>
        <tbody>
        <tr>
          <th scope="row">발송 유형</th>
          <td>자동</td>
        </tr>
        <tr>
          <th scope="row">제목</th>
          <td>문의하신 문의내용에 대한 답변입니다…</td>
        </tr>
        <tr>
          <th scope="row">발송 일시</th>
          <td>2024-01-01 11:12:42</td>
        </tr>
        <tr>
          <th scope="row">내용</th>
          <td class="!p-0">
            <div class="w-full h-auto max-h-[200px] overflow-y-auto p-2">안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
    </div>
  </div>
</div>