<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1>반품/교환지 주소 관리</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <!-- 교환/반품/환불지등록 -->
      <div>
        <div class="text-sub-blue-500">교환/반품/환불지 등록</div>
        <table class="table mt-1" summary="교환/반품/환불지 등록">

          <colgroup>
            <col class="w-1/5">
            <col class="w-4/5">
          </colgroup>
          <tbody>
            <tr>
              <th scope="row">교환/반품/환불지명</th>
              <td><input type="text" class="input-wrap w-1/2" placeholder="placeholder"></td>
            </tr>
            <tr>
              <th scope="row">대표 교환/반품/환불지 설정</th>
              <td>
                <label class="label">
                  <input type="radio">
                  <span class="label-text">사용안함</span>
                </label>
                <label class="label">
                  <input type="radio">
                  <span class="label-text">사용함</span>
                </label>
                <div class="mt-1 text-red">* 대표 출고지는 한 개만 지정 가능합니다.</div>
              </td>
            </tr>
            <tr>
              <th scope="row">교환/반품/환불지 주소</th>
              <td>
                <div class="H-BOX">
                  <input type="text" class="input-wrap" placeholder="placeholder">
                  <button type="button" class="btn-m">우편번호 찾기</button>
                </div>
                <div class="mt-1">
                  <input type="text" class="input-wrap w-full" placeholder="placeholder">
                </div>
                <div class="mt-1">
                  <input type="text" class="input-wrap w-full" placeholder="placeholder">
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">교환/반품/환불지 전화번호</th>
              <td><input type="text" class="input-wrap w-1/2" placeholder="placeholder"></td>
            </tr>
          </tbody>
        </table>
        <div class="mt-1 text-center">
          <button type="button" class="btn-blue">저장</button>
        </div>
      </div>
      <!-- 교환/반품/환불지등록 -->

      <!-- 교환/반품/환불지리스트 -->
      <div class="mt-10">
        <div class="text-sub-blue-500">교환/반품/환불지 리스트</div>
        <table class="table mt-1" summary="교환/반품/환불지 리스트">

          <thead>
            <tr>
              <th scope="col" class="text-center">번호</th>
              <th scope="col" class="text-center">교환/반품/환불지명</th>
              <th scope="col" class="text-center">주소</th>
              <th scope="col" class="text-center">연락처</th>
              <th scope="col" class="text-center">관리</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center"><span class="text-red">(대표)</span> 평택 물류창고</td>
              <td class="text-center">(22011) 경기도 평택시 경기대로 145</td>
              <td class="text-center">032-125-4445</td>
              <td class="text-center">
                <button type="button" class="btn-m">수정</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">2</td>
              <td class="text-center"><span class="text-red">(대표)</span> 평택 물류창고</td>
              <td class="text-center">(22011) 경기도 평택시 경기대로 145</td>
              <td class="text-center">032-125-4445</td>
              <td class="text-center">
                <button type="button" class="btn-m">수정</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">3</td>
              <td class="text-center"><span class="text-red">(대표)</span> 평택 물류창고</td>
              <td class="text-center">(22011) 경기도 평택시 경기대로 145</td>
              <td class="text-center">032-125-4445</td>
              <td class="text-center">
                <button type="button" class="btn-m">수정</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">4</td>
              <td class="text-center"><span class="text-red">(대표)</span> 평택 물류창고</td>
              <td class="text-center">(22011) 경기도 평택시 경기대로 145</td>
              <td class="text-center">032-125-4445</td>
              <td class="text-center">
                <button type="button" class="btn-m">수정</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">5</td>
              <td class="text-center"><span class="text-red">(대표)</span> 평택 물류창고</td>
              <td class="text-center">(22011) 경기도 평택시 경기대로 145</td>
              <td class="text-center">032-125-4445</td>
              <td class="text-center">
                <button type="button" class="btn-m">수정</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">6</td>
              <td class="text-center"><span class="text-red">(대표)</span> 평택 물류창고</td>
              <td class="text-center">(22011) 경기도 평택시 경기대로 145</td>
              <td class="text-center">032-125-4445</td>
              <td class="text-center">
                <button type="button" class="btn-m">수정</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">7</td>
              <td class="text-center"><span class="text-red">(대표)</span> 평택 물류창고</td>
              <td class="text-center">(22011) 경기도 평택시 경기대로 145</td>
              <td class="text-center">032-125-4445</td>
              <td class="text-center">
                <button type="button" class="btn-m">수정</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">8</td>
              <td class="text-center"><span class="text-red">(대표)</span> 평택 물류창고</td>
              <td class="text-center">(22011) 경기도 평택시 경기대로 145</td>
              <td class="text-center">032-125-4445</td>
              <td class="text-center">
                <button type="button" class="btn-m">수정</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">9</td>
              <td class="text-center"><span class="text-red">(대표)</span> 평택 물류창고</td>
              <td class="text-center">(22011) 경기도 평택시 경기대로 145</td>
              <td class="text-center">032-125-4445</td>
              <td class="text-center">
                <button type="button" class="btn-m">수정</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">10</td>
              <td class="text-center"><span class="text-red">(대표)</span> 평택 물류창고</td>
              <td class="text-center">(22011) 경기도 평택시 경기대로 145</td>
              <td class="text-center">032-125-4445</td>
              <td class="text-center">
                <button type="button" class="btn-m">수정</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mt-1">
          <span class="mr-1">* 선택 교환/반품/환불지</span>
          <button type="button" class="btn-warning-m">삭제</button>
        </div>
        <!-- paging -->
        <script>Include('/hbs/component/Paging_1-a.hbs');</script>
      </div>
      <!-- //교환/반품/환불지리스트 -->
    </div>
  </div>
</div>