<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>브랜드 검색</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <h2 class="text-sub-blue-500 mb-2">브랜드 검색</h2>
      <div>
        <select class="select-wrap" name="">
          <option>브랜드명</option>
          <option>브랜드코드</option>
        </select>
        <input type="text" class="input-wrap" placeholder="placeholder"/>
        <button type="button" class="btn-m">검색</button>
      </div>
      <h2 class="text-sub-blue-500 mt-6 mb-2">선택 브랜드</h2>
      <div class="w-full">
          <span class="inline-block">나이키
            <button type="button" class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i class="fa-solid fa-xmark"></i></button>
          </span> <span>ACTERYX
          <button type="button" class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i class="fa-solid fa-xmark"></i></button>
        </span> <span>아디다스
          <button type="button" class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i class="fa-solid fa-xmark"></i></button>
        </span>
        <span class="inline-block">파타고니아
            <button type="button" class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i class="fa-solid fa-xmark"></i></button>
          </span>
        <span class="inline-block">샤넬
            <button type="button" class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i class="fa-solid fa-xmark"></i></button>
          </span>
        <span class="inline-block">프라다
            <button type="button" class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i class="fa-solid fa-xmark"></i></button>
          </span>
        <span class="inline-block">보테가 베네타
            <button type="button" class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i class="fa-solid fa-xmark"></i></button>
          </span>
        <span class="inline-block">카카오
            <button type="button" class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i class="fa-solid fa-xmark"></i></button>
          </span>
        <span class="inline-block">네이버
            <button type="button" class="w-4 h-4 align-middle text-center border border-sub-blue-300 text-sub-blue-700 mr-1 mb-1"><i class="fa-solid fa-xmark"></i></button>
          </span>
      </div>
      <h2 class="text-sub-blue-500 mt-6 mb-2">브랜드 리스트</h2>
      <div class="sorting-box flex justify-between">
        <div class="left-box">
          <span class="inline-block mt-6">조회 <span class="text-red">0</span>건 / 전체 <span class="text-red">0</span>건</span>
        </div>
        <div class="right-box">
          <select class="select-wrap" name="">
            <option value="">10개씩 보기</option>
            <option value="">30개씩 보기</option>
            <option value="">50개씩 보기</option>
            <option value="">70개씩 보기</option>
            <option value="">100개씩 보기</option>
            <option value="">500개씩 보기</option>
            <option value="">1000개씩 보기</option>
          </select>
        </div>
      </div>
      <div id="app" class="mt-1">
        <table summary="브랜드 정보" class="border-table">

          <colgroup>
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:auto">
          </colgroup>
          <thead>
          <tr>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">번호</th>
            <th scope="col" class="text-center">브랜드 이름</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">
              <label class="label">
                <input type="radio" name="content_input"/>
                <span class="label-text !pl-[20px]"></span>
              </label>
            </td>
            <td class="text-center">100</td>
            <td>ACTERYX</td>
          </tr>
          <tr>
            <td class="text-center">
              <label class="label">
                <input type="radio" name="content_input"/>
                <span class="label-text !pl-[20px]"></span>
              </label>
            </td>
            <td class="text-center">99</td>
            <td>ACTERYX</td>
          </tr>
          <tr>
            <td class="text-center">
              <label class="label">
                <input type="radio" name="content_input"/>
                <span class="label-text !pl-[20px]"></span>
              </label>
            </td>
            <td class="text-center">98</td>
            <td>ACTERYX</td>
          </tr>
          <tr>
            <td class="text-center">
              <label class="label">
                <input type="radio" name="content_input"/>
                <span class="label-text !pl-[20px]"></span>
              </label>
            </td>
            <td class="text-center">97</td>
            <td>ACTERYX</td>
          </tr>
          <tr>
            <td class="text-center">
              <label class="label">
                <input type="radio" name="content_input"/>
                <span class="label-text !pl-[20px]"></span>
              </label>
            </td>
            <td class="text-center">96</td>
            <td>ACTERYX</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- paging -->
      <script>Include('/hbs/component/Paging_1-a.hbs');</script>
      <!-- //paging -->
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
      <button type="button" class="btn-white-l">취소</button>
    </div>
  </div>
</div>