<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1>상품정보제공 고시 등록</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="mb-2">
        상품군 명칭 <input type="text" class="input-wrap ml-5">
      </div>
      <ul class="mt-1">
        <li class="flex">
          <span class="w-3/5 border leading-[40px] border-r-0 text-center bg-main-lightblue">항목</span>
          <span class="w-2/5 border leading-[40px] text-center bg-main-lightblue">관리</span>
        </li>
        <li class="flex">
          <span class="w-3/5 border border-r-0 border-t-0 p-1 text-center flex justify-center items-center">소재</span>
          <span class="w-2/5 border border-t-0 p-1 text-center flex justify-center items-center">
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5"><i class="fa-solid fa-arrow-up"></i></button>
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-arrow-down"></i></button>
              <button type="button" class="rounded-sm bg-red text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-xmark"></i> 삭제</button>
            </span>
        </li>
        <li class="flex">
          <span class="w-3/5 border border-r-0 border-t-0 p-1 text-center flex justify-center items-center">색상</span>
          <span class="w-2/5 border border-t-0 p-1 text-center flex justify-center items-center">
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5"><i class="fa-solid fa-arrow-up"></i></button>
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-arrow-down"></i></button>
              <button type="button" class="rounded-sm bg-red text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-xmark"></i> 삭제</button>
            </span>
        </li>
        <li class="flex">
          <span class="w-3/5 border border-r-0 border-t-0 p-1 text-center flex justify-center items-center">치수</span>
          <span class="w-2/5 border border-t-0 p-1 text-center flex justify-center items-center">
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5"><i class="fa-solid fa-arrow-up"></i></button>
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-arrow-down"></i></button>
              <button type="button" class="rounded-sm bg-red text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-xmark"></i> 삭제</button>
            </span>
        </li>
        <li class="flex">
          <span class="w-3/5 border border-r-0 border-t-0 p-1 text-center flex justify-center items-center">제조사,수입품의 경우 수입자를 함께 표시</span>
          <span class="w-2/5 border border-t-0 p-1 text-center flex justify-center items-center">
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5"><i class="fa-solid fa-arrow-up"></i></button>
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-arrow-down"></i></button>
              <button type="button" class="rounded-sm bg-red text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-xmark"></i> 삭제</button>
            </span>
        </li>
        <li class="flex">
          <span class="w-3/5 border border-r-0 border-t-0 p-1 text-center flex justify-center items-center">제조국</span>
          <span class="w-2/5 border border-t-0 p-1 text-center flex justify-center items-center">
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5"><i class="fa-solid fa-arrow-up"></i></button>
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-arrow-down"></i></button>
              <button type="button" class="rounded-sm bg-red text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-xmark"></i> 삭제</button>
            </span>
        </li>
        <li class="flex">
          <span class="w-3/5 border border-r-0 border-t-0 p-1 text-center flex justify-center items-center">세탁방법 및 취급시 주의사항</span>
          <span class="w-2/5 border border-t-0 p-1 text-center flex justify-center items-center">
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5"><i class="fa-solid fa-arrow-up"></i></button>
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-arrow-down"></i></button>
              <button type="button" class="rounded-sm bg-red text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-xmark"></i> 삭제</button>
            </span>
        </li>
        <li class="flex">
          <span class="w-3/5 border border-r-0 border-t-0 p-1 text-center flex justify-center items-center">제조년월</span>
          <span class="w-2/5 border border-t-0 p-1 text-center flex justify-center items-center">
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5"><i class="fa-solid fa-arrow-up"></i></button>
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-arrow-down"></i></button>
              <button type="button" class="rounded-sm bg-red text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-xmark"></i> 삭제</button>
            </span>
        </li>
        <li class="flex">
          <span class="w-3/5 border border-r-0 border-t-0 p-1 text-center flex justify-center items-center">품질보증기준</span>
          <span class="w-2/5 border border-t-0 p-1 text-center flex justify-center items-center">
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5"><i class="fa-solid fa-arrow-up"></i></button>
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-arrow-down"></i></button>
              <button type="button" class="rounded-sm bg-red text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-xmark"></i> 삭제</button>
            </span>
        </li>
        <li class="flex">
          <span class="w-3/5 border border-r-0 border-t-0 p-1 text-center flex justify-center items-center">A/S책임자와 그 전화번호</span>
          <span class="w-2/5 border border-t-0 p-1 text-center flex justify-center items-center">
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5"><i class="fa-solid fa-arrow-up"></i></button>
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-arrow-down"></i></button>
              <button type="button" class="rounded-sm bg-red text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-xmark"></i> 삭제</button>
            </span>
        </li>
        <li class="flex">
          <span class="w-3/5 border border-r-0 border-t-0 p-1 text-center flex justify-center items-center">기타</span>
          <span class="w-2/5 border border-t-0 p-1 text-center flex justify-center items-center">
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5"><i class="fa-solid fa-arrow-up"></i></button>
              <button type="button" class="rounded-sm bg-sub-blue-900 text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-arrow-down"></i></button>
              <button type="button" class="rounded-sm bg-red text-white px-2.5 py-1.5 ml-1"><i class="fa-solid fa-xmark"></i> 삭제</button>
            </span>
        </li>
      </ul>
      <div class="py-1">
        <button type="button" class="btn-m"><i class="fa-solid fa-plus"></i> 행추가</button>
      </div>
      <div class="text-center">
        <button type="button" class="btn-m">저장</button>
        <button type="button" class="btn-warning-m">삭제</button>
      </div>
    </div>
  </div>
</div>