<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[1300px]">
    <div class="layer-header">
      <h1>상품 문의 상세보기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div>
        <h2 class="text-sub-blue-500 mb-2">기본 정보</h2>
        <table class="table" summary="기본 정보">

          <colgroup>
            <col style="width:15%">
            <col style="width:35%">
            <col style="width:15%">
            <col style="width:35%">
          </colgroup>
          <tbody>
            <tr>
              <th scope="row">문의유형</th>
              <td>사이즈 문의</td>
              <th scope="row">작성자</th>
              <td>홍** / 골드 <span class="text-sub-blue-500 text-[11px]">(106.241.28.3)</span></td>
            </tr>
            <tr>
              <th scope="row">이메일</th>
              <td>test@test.com<br /><span class="text-sub-blue-500 text-[11px]">(답변시 메일 알림 미희망)</span></td>
              <th scope="row">휴대폰번호</th>
              <td>010-1234-5678<br /><span class="text-main-blue text-[11px]">(답변시 SMS 또는 카카오 알림톡 알림 희망)</span></td>
            </tr>
            <tr>
              <th scope="row">작성일시</th>
              <td>2022-11-25 13:23:00</td>
              <th scope="row">문의상태</th>
              <td>답변중</td>
            </tr>
            <tr>
              <th scope="row">제목</th>
              <td colspan="3">테스트 제목 입니다.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2 class="text-sub-blue-500 mt-6 mb-2">상품 정보</h2>
        <div class="flex flex-nowrap justify-between gap-2">
          <div class="flex-auto w-1/12">
            <img class="w-full" src="../images/ico-star.svg" alt=""/>
          </div>
          <div class="flex-auto w-11/12">
            <p class="font-bold truncate">테스트 상품명</p>
            <p class="mt-1 truncate">남성 스니커즈</p>
            <p class="mt-1">370,000원</p>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-sub-blue-500 mt-6 mb-2">문의 내용</h2>
        <div class="h-[100px] overflow-y-auto mt-1 p-2 bg-main-lightblue border border-sub-blue-200 rounded-sm">
          송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고.. 그냥 구매 취소 부탁드립니다.송장번호 추적도 불가능하고..
        </div>
      </div>
      <div>
        <h2 class="text-sub-blue-500 mt-6 mb-2">첨부 파일</h2>
        <table class="table" summary="첨부 파일">

          <colgroup>
            <col style="width:20%">
            <col style="width:80%">
          </colgroup>
          <tbody>
            <tr>
              <th scope="row">첨부 파일 1</th>
              <td><a href="javascript:;" class="text-main-blue underline">test.txt</a></td>
            </tr>
            <tr>
              <th scope="row">첨부 파일 2</th>
              <td><div class="w-1/2 h-auto overflow-hidden"><img class="w-full" src="../images/folder.png" alt=""/></div></td>
            </tr>
            <tr>
              <th scope="row">첨부 파일 3</th>
              <td><div class="w-1/2 h-auto overflow-hidden"><video class="h-80" src="" controls></video></div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2 class="text-sub-blue-500 mt-6 mb-2">답변 내용</h2>
        <div class="relative">
          <div class="h-[100px] overflow-y-auto mt-1 p-2 bg-main-lightblue border border-sub-blue-200 rounded-sm">
            테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.
          </div>
          <p class="p-1 text-sub-blue-500 text-[11px] text-right">2022-02-22 22:22:22</p>
        </div>
        <div class="mt-1">
          <div>
            <span class="inline-block px-1"><i class="fa-solid fa-arrow-turn-up rotate-90"></i></span>
            <span class="font-bold">홍** / 골드</span>
            <span class="pl-1 text-sub-blue-500 text-[11px]">(106.241.28.3)</span>
          </div>
          <div class="relative">
            <div class="h-[100px] overflow-y-auto mt-1 p-2 bg-main-lightblue border border-sub-blue-200 rounded-sm">
              테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.
              테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.
            </div>
            <p class="p-1 text-sub-blue-500 text-[11px] text-right">2022-02-22 22:22:22</p>
          </div>
        </div>
        <div class="mt-1">
          <div>
            <span class="inline-block px-1"><i class="fa-solid fa-arrow-turn-up rotate-90"></i></span>
            <span class="font-bold">이** / 다이아</span>
            <span class="pl-1 text-sub-blue-500 text-[11px]">(106.241.28.3)</span>
          </div>
          <div class="relative">
            <div class="h-[100px] overflow-y-auto mt-1 p-2 bg-main-lightblue border border-sub-blue-200 rounded-sm">
                테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.테스트 입니다.
            </div>
            <p class="p-1 text-sub-blue-500 text-[11px] text-right">2022-02-22 22:22:22</p>
          </div>
        </div>
        <div class="mt-1">
          <div>
            <span class="inline-block px-1"><i class="fa-solid fa-arrow-turn-up rotate-90"></i></span>
            <span class="font-bold">답변 내용</span>
          </div>
          <div class="relative">
            <div class="mt-1">
              <textarea class="w-full h-[100px] overflow-y-auto p-2 bg-main-lightblue border border-sub-blue-200 rounded-sm" name="" readonly>문의 내용 답변 드립니다.</textarea>
            </div>
            <p class="px-1 text-sub-blue-500 text-[11px] text-right">2022-03-11 10:00:51</p>
            <div class="mt-2 text-right">
              <button type="button" class="btn-m">수정</button>
              <button type="button" class="btn-reply-delete btn-warning-m">삭제</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-sub-blue-500 mt-6 mb-2">답변 작성</h2>
        <label class="label">
          <input type="checkbox" name="" />
          <span class="label-text">답변완료</span>
        </label>
        <div class="flex justify-between mt-1">
          <textarea class="flex-auto w-full h-[100px] overflow-y-auto mr-1 p-2 border border-sub-blue-200 rounded-sm"></textarea>
          <button class="flex-auto h-[100px] whitespace-nowrap btn-m">답변</button>
        </div>
      </div>
      <div class="w-full mt-10">
        <div class="table table-fixed w-full border-collapse border-y border-y-sub-blue-200 box-border">
          <ul class="table-row border-b border-b-sub-blue-200">
            <li class="table-cell w-[70px] py-3 px-2 align-middle break-all text-center box-border">
              <span class="cursor-pointer relative"><i class="fa-solid fa-sort-up absolute top-1 left-0"></i></span>
              <span class="ml-4 cursor-pointer">다음글</span>
            </li>
            <li class="table-cell py-3 px-2 align-middle break-all truncate box-border">
              <span class="inline-block h-5 leading-5 px-1 border border-[#92E7E1] text-[#00B0A5] rounded">N</span>
              <span>테스트 다음글 입니다.</span>
            </li>
            <li class="table-cell w-[100px] py-3 px-2 align-middle break-all text-center box-border">
              <span class="font-bold">아이디</span>
            </li>
            <li class="table-cell w-[140px] py-3 px-2 align-middle break-all text-center box-border">
              <span>2022-05-31 10:22:22</span>
            </li>
          </ul>
          <ul class="table-row">
            <li class="table-cell w-[70px] py-3 px-2 align-middle break-all text-center box-border">
              <span class="cursor-pointer relative"><i class="fa-solid fa-sort-down absolute -top-0.5 left-0"></i></span>
              <span class="ml-4 cursor-pointer">이전글</span>
            </li>
            <li class="table-cell py-3 px-2 align-middle break-all truncate box-border">
              <span class="inline-block h-5 leading-5 px-1 border border-[#F5BFCC] text-[#E54E73] rounded">H</span>
              <span>테스트 이전글 입니다.</span>
            </li>
            <li class="table-cell w-[100px] py-3 px-2 align-middle break-all text-center box-border">
              <span class="font-bold">아이디</span>
            </li>
            <li class="table-cell w-[140px] py-3 px-2 align-middle break-all text-center box-border">
              <span>2022-05-31 10:22:22</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>