<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[1000px]">
    <div class="layer-header">
      <h1>상품 상세 이용안내 등록</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="text-sub-blue-500 mb-2">상품 상세 이용안내</div>
      <div class="tbl-box">
        <table class="table" summary="상품 상세 이용안내">

          <colgroup>
            <col width="20%">
            <col width="80%">
          </colgroup>
          <tbody>
          <tr>
            <th scope="col">이용안내 제목</th>
            <td><input type="text" class="input-wrap" placeholder="placeholder"></td>
          </tr>
          <tr>
            <th scope="col">이용안내 분류</th>
            <td>
              <label class="label">
                <input type="radio" name="">
                <span class="label-text">배송안내</span>
              </label>
              <label class="label">
                <input type="radio" name="">
                <span class="label-text">AS 안내</span>
              </label>
              <label class="label">
                <input type="radio" name="">
                <span class="label-text">환불안내</span>
              </label>
              <label class="label">
                <input type="radio" name="">
                <span class="label-text">교환안내</span>
              </label>
              <label class="label">
                <input type="radio" name="">
                <span class="label-text">기타</span>
              </label>
            </td>
          </tr>
          <tr>
            <th scope="col">기본적용 여부</th>
            <td>
              <label class="label">
                <input type="radio" name="">
                <span class="label-text">미사용</span>
              </label>
              <label class="label">
                <input type="radio" name="">
                <span class="label-text">선택</span>
              </label>
              <label class="label">
                <input type="radio" name="">
                <span class="label-text">필수</span>
              </label>
            </td>
          </tr>
          <tr>
            <th scope="col">이용안내 내용</th>
            <td>
            
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">선택 완료</button>
    </div>
  </div>
</div>