<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[900px]">
    <div class="layer-header">
      <h1>상품 반품</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="tit-box text-lg font-bold mb-2"><h3>주문정보</h3></div>
      <table class="table" summary="주문정보">

        <colgroup>
          <col style="width:15%">
          <col style="width:35%">
          <col style="width:15%">
          <col style="width:35%">
        </colgroup>
        <tbody>
        <tr>
          <th scope="row" class="text-center">주문번호</th>
          <td class="text-center">1231403401341340</td>
          <th scope="row" class="text-center">주문일시</th>
          <td class="text-center">2022년 04월 00일 00시 00분</td>
        </tr>
        </tbody>
      </table>
      <div class="tit-box text-lg font-bold mt-7 mb-2"><h3>결제정보</h3></div>
      <table class="table" summary="결제정보">

        <colgroup>
          <col style="width:20%">
          <col style="width:20%">
          <col style="width:20%">
          <col style="width:20%">
          <col style="width:20%">
        </colgroup>
        <thead>
        <tr>
          <th scope="row" class="text-center">상품 판매 금액</th>
          <th scope="row" class="text-center">총 배송비</th>
          <th scope="row" class="text-center">총 할인 금액</th>
          <th scope="row" class="text-center">총 결제 금액</th>
          <th scope="row" class="text-center">총 적립 금액</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">30,000 원</td>
          <td class="text-center">2,500 원</td>
          <td class="text-center">1,000 원</td>
          <td class="text-center">22,500 원</td>
          <td class="text-center">0 원</td>
        </tr>
        </tbody>
      </table>
      <div class="tit-box text-lg font-bold mt-7 mb-2"><h3>주문상품</h3></div>
      <div id="app"></div>
      <div class="flex justify-between items-center mt-7">
        <button type="button" class="btn-white-m"><i class="fa-solid fa-xmark"></i> 선택 상품 삭제</button>
        <p class="text-sub-blue-500">* 구매 확정 상품은 반품할 수 없으므로 목록에 표시되지 않습니다.</p>
      </div>
      <div class="mt-7 border-t border-t-sub-blue-200 border-dashed">
        <div class="tit-box text-lg font-bold mt-7 mb-2"><h3>반품처리</h3></div>
        <div class="tbl-box">
          <table class="table" summary="반품처리">

            <colgroup>
              <col style="width:20%">
              <col style="width:30%">
              <col style="width:20%">
              <col style="width:30%">
            </colgroup>
            <tbody>
            <tr>
              <th scope="row">반품사유</th>
              <td>
                <select class="select-wrap w-full" name="">
                  <option value="">선택</option>
                  <option value="">고객변심</option>
                  <option value="">품절취소</option>
                  <option value="">배송지연취소</option>
                  <option value="">배송불가지역</option>
                  <option value="">중복주문취소</option>
                  <option value="">시스템오류취소</option>
                  <option value="">누락배송</option>
                  <option value="">택배분실</option>
                  <option value="">상품불량</option>
                  <option value="">포장불량</option>
                  <option value="">상품정보상이</option>
                  <option value="">상품불만족</option>
                  <option value="">서비스불만족</option>
                  <option value="">기타</option>
                  <option value="">임의반품접수</option>
                </select>
              </td>
              <th scope="row">환불수단</th>
              <td>
                <select class="select-wrap w-full" name="">
                  <option value="">무통장입금</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">상세사유</th>
              <td colspan="3">
                <textarea class="w-full h-[100px] overflow-y-auto p-2 border border-sub-blue-200"></textarea>
                <div class="mt-1">
                  <label class="label">
                    <input type="checkbox" name="sns_account">
                    <span class="label-text">상세 사유를 고객에게 노출합니다.</span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">환불정보</th>
              <td colspan="3">PG 환불 / 차액이 자동으로 카드 취소됩니다. (카드사 상황에 따라 2~3일 이상 소요)</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
      <button type="button" class="btn-white-l">취소</button>
    </div>
  </div>
</div>