<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>승인 상태 변경</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <p>선택된 항목을 '반려' 상태로 변경하시겠습니까?</p>
      <textarea class="block w-full h-[100px] overflow-y-auto mt-1 p-2 border border-sub-blue-200 rounded-sm" placeholder="placeholder"></textarea>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
      <button type="button" class="btn-white-l">취소</button>
    </div>
  </div>
</div>