<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[400px]">
    <div class="layer-header">
      <h1>아이콘 전체보기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="pb-1">
        <a href="../products/icon-setting.html" class="btn-link">아이콘 관리 바로가기 <i class="fa-solid fa-arrow-right-long"></i></a>
      </div>
      <table summary="아이콘 리스트" class="border-table">

        <thead>
        <tr>
          <th scope="col" class="text-center">
            <label class="label">
              <input type="checkbox">
              <span class="label-text"></span>
            </label>
          </th>
          <th scope="col" class="text-center">No</th>
          <th scope="col" class="text-center">아이콘 명칭</th>
          <th scope="col" class="text-center">이미지</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
            <label class="label">
              <input type="checkbox">
              <span class="label-text"></span>
            </label>
          </td>
          <td class="text-center">1</td>
          <td class="text-center">세일</td>
          <td class="text-center">
            <span class="inline-block px-1 border border-[#F5BFCC] text-[#E54E73] rounded h-[20px] leading-[20px]">세일</span>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <label class="label">
              <input type="checkbox">
              <span class="label-text"></span>
            </label>
          </td>
          <td class="text-center">2</td>
          <td class="text-center">신상품</td>
          <td class="text-center">
            <span class="inline-block px-1 border border-[#92E7E1] text-[#00B0A5] rounded h-[20px] leading-[20px]">신상품</span>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <label class="label">
              <input type="checkbox">
              <span class="label-text"></span>
            </label>
          </td>
          <td class="text-center">3</td>
          <td class="text-center">추천</td>
          <td class="text-center">
            <span class="inline-block px-1 border border-[#FEA188] text-[#DD6C48] rounded h-[20px] leading-[20px]">추천</span>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <label class="label">
              <input type="checkbox">
              <span class="label-text"></span>
            </label>
          </td>
          <td class="text-center">4</td>
          <td class="text-center">예약</td>
          <td class="text-center">
            <span class="inline-block px-1 border border-[#9EEE82] text-[#36D000] rounded h-[20px] leading-[20px]">예약</span>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <label class="label">
              <input type="checkbox">
              <span class="label-text"></span>
            </label>
          </td>
          <td class="text-center">5</td>
          <td class="text-center">쿠폰 30%</td>
          <td class="text-center">
            <span class="inline-block px-1 border border-[#95BEE2] text-[#0088FF] rounded h-[20px] leading-[20px]">쿠폰 30%</span>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center py-4">
        <button class="btn-blue">선택</button>
        <button class="btn-white-l">취소</button>
      </div>
    </div>
  </div>
</div>