<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>엑셀 다운로드 인증 요청</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <h2 class="text-sub-blue-500 mb-2">인증 요청</h2>
      <table class="table" summary="인증 요청">

        <colgroup>
          <col style="width:20%">
          <col style="width:60%">
          <col style="width:20%">
        </colgroup>
        <tbody>
        <tr>
          <th scope="row">인증 수단</th>
          <td>
            <label class="label">
              <input type="radio" name="">
              <span class="label-text">휴대폰번호</span>
            </label>
            <label class="label">
              <input type="radio" name="">
              <span class="label-text">이메일</span>
            </label>
          </td>
          <td>
            <button type="button" class="btn-m w-full whitespace-nowrap">인증요청</button>
          </td>
        </tr>
        <tr>
          <th scope="row">인증 번호</th>
          <td>
            <input type="text" class="input-wrap w-full" placeholder="placeholder">
          </td>
          <td>
            <button type="button" class="btn-m w-full">확인</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">다운로드</button>
    </div>
  </div>
</div>