<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[1000px]">
    <div class="layer-header">
      <h1>옵션 불러올 상품 리스트</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table summary="상품 검색" class="border-table">

        <tbody>
        <tr>
          <th scope="row">상품 검색</th>
          <td><input type="text" class="input-wrap"></td>
        </tr>
        <tr>
          <th scope="row">브랜드 선택</th>
          <td>
            <select class="select-wrap">
              <option>브랜드 선택</option>
              <option>블랙야크</option>
              <option>아크테릭스</option>
            </select>
          </td>
        </tr>
        <tr>
          <th scope="row">카테고리 선택</th>
          <td>
            <select class="select-wrap">
              <option>카테고리 선택</option>
            </select>
            <select class="select-wrap">
              <option>카테고리 선택</option>
            </select>
            <select class="select-wrap">
              <option>카테고리 선택</option>
            </select>
            <select class="select-wrap">
              <option>카테고리 선택</option>
            </select>
          </td>
        </tr>
        <tr>
          <th scope="row">공급사 선택</th>
          <td>
            <button type="button" class="btn-supplier btn-m">공급사 선택</button>
            <span class="group h-10 align-top px-2.5 inline-block border rounded-sm border-sub-blue-200 leading-10 cursor-pointer relative hover:bg-sub-blue-100 hover:border-sub-blue-100 hover:text-sub-blue-200">커머스온
                <button type="button" class="hidden absolute w-5 h-5 top-[-10px] right-[-10px] group-hover:block z-10 bg-sub-blue-900 text-center rounded-full leading-5"><i class="fa-solid fa-xmark text-white"></i></button>
              </span>
            <span class="group h-10 align-top px-2.5 inline-block border rounded-sm border-sub-blue-200 leading-10 cursor-pointer relative hover:bg-sub-blue-100 hover:border-sub-blue-100 hover:text-sub-blue-200">애트니
                <button type="button" class="hidden absolute w-5 h-5 top-[-10px] right-[-10px] group-hover:block z-10 bg-sub-blue-900 text-center rounded-full leading-5"><i class="fa-solid fa-xmark text-white"></i></button>
              </span>
          </td>
        </tr>
        <tr>
          <th scope="row">기간 검색</th>
          <td>
            <select class="select-wrap">
              <option>등록일</option>
              <option>수정일</option>
            </select>
            <span class="input-calendar-wrap">
                <button type="button" class="btn-calender"><span class="icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat"></span></button>
                <input type="text" class="inline-block float-right w-[76px] h-[38px]">
              </span>
            <span class="px-1">~</span>
            <span class="input-calendar-wrap">
                <button type="button" class="btn-calender"><span class="icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat"></span></button>
                <input type="text" class="inline-block float-right w-[76px] h-[38px]">
              </span>
          </td>
        </tr>
        <tr>
          <th scope="row">판매 금액</th>
          <td>
            <input type="text" class="input-wrap"> 원
            <span class="px-1">~</span>
            <input type="text" class="input-wrap"> 원
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pt-2 mb-4 text-center">
        <button type="button" class="btn-m">검색</button>
      </div>
      <div class="flex justify-between items-end pb-1">
        <div>조회 <span class="!text-red">0</span>개 / 전체 <span class="!text-red">0</span>개</div>
        <select class="select-wrap">
          <option>10개</option>
          <option>30개</option>
          <option>50개</option>
          <option>100개</option>
        </select>
      </div>
      <table summary="옵션 불러올 상품 리스트" class="border-table">

        <thead>
        <th scope="row" class="text-center"></th>
        <th scope="row" class="text-center">순번</th>
        <th scope="row" class="text-center">이미지</th>
        <th scope="row" class="text-center">상품명</th>
        <th scope="row" class="text-center">판매가</th>
        <th scope="row" class="text-center">브랜드명</th>
        <th scope="row" class="text-center">공급사</th>
        <th scope="row" class="text-center">옵션</th>
        <th scope="row" class="text-center">판매 상태</th>
        <th scope="row" class="text-center">노출 여부</th>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
            <label class="label">
              <input type="radio" name="">
              <span class="label-text"></span>
            </label>
          </td>
          <td class="text-center">4</td>
          <td class="text-center">
            <img src="http://img.atny.com/data/goods/ATNY/0/169000/16109825_30618092_1000_list1_rb.png" alt="" title="" width="50px">
          </td>
          <td class="text-center">스카이티</td>
          <td class="text-center">10,000원</td>
          <td class="text-center">브랜드1</td>
          <td class="text-center">공급사1</td>
          <td class="text-center">WHITE,BLACK,S,M,L</td>
          <td class="text-center">판매중</td>
          <td class="text-center">노출함</td>
        </tr>
        <tr>
          <td class="text-center">
            <label class="label">
              <input type="radio" name="">
              <span class="label-text"></span>
            </label>
          </td>
          <td class="text-center">3</td>
          <td class="text-center">
            <img src="http://img.atny.com/data/goods/ATNY/0/169000/16109825_30618092_1000_list1_rb.png" alt="" title="" width="50px">
          </td>
          <td class="text-center">스카이티</td>
          <td class="text-center">10,000원</td>
          <td class="text-center">브랜드1</td>
          <td class="text-center">공급사1</td>
          <td class="text-center">WHITE,BLACK,S,M,L</td>
          <td class="text-center">판매중</td>
          <td class="text-center">노출함</td>
        </tr>
        <tr>
          <td class="text-center">
            <label class="label">
              <input type="radio" name="">
              <span class="label-text"></span>
            </label>
          </td>
          <td class="text-center">2</td>
          <td class="text-center">
            <img src="http://img.atny.com/data/goods/ATNY/0/169000/16109825_30618092_1000_list1_rb.png" alt="" title="" width="50px">
          </td>
          <td class="text-center">스카이티</td>
          <td class="text-center">10,000원</td>
          <td class="text-center">브랜드1</td>
          <td class="text-center">공급사1</td>
          <td class="text-center">WHITE,BLACK,S,M,L</td>
          <td class="text-center">판매중</td>
          <td class="text-center">노출함</td>
        </tr>
        <tr>
          <td class="text-center">
            <label class="label">
              <input type="radio" name="">
              <span class="label-text"></span>
            </label>
          </td>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="http://img.atny.com/data/goods/ATNY/0/169000/16109825_30618092_1000_list1_rb.png" alt="" title="" width="50px">
          </td>
          <td class="text-center">스카이티</td>
          <td class="text-center">10,000원</td>
          <td class="text-center">브랜드1</td>
          <td class="text-center">공급사1</td>
          <td class="text-center">WHITE,BLACK,S,M,L</td>
          <td class="text-center">판매중</td>
          <td class="text-center">노출함</td>
        </tr>
        </tbody>
      </table>
      <script>Include('/hbs/component/Paging_1-a.hbs');</script>
      <div class="pt-1 mt-4 text-center">
        <button type="button" class="btn-blue">선택</button>
      </div>
    </div>
  </div>
</div>