<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>옵션 선택</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="flex justify-between items-center">
        <div class="flex-auto w-1/4">
          <img src="https://gifpng.com/{111}x{111}" alt="상품 이미지" class="min-w-[111px] min-h-[111px]">
        </div>
        <div class="flex-auto w-3/4 pl-3">
          <p>기모 체크 셔츠</p>
          <p class="mt-3">배송비 : 2,500원 조건별 배송 주문 시 결제</p>
          <p class="mt-3">
            사이즈
            <select class="select-wrap align-middle ml-1" name="">
              <option value="">옵션 / 가격 / 재고</option>
            </select>
          </p>
        </div>
      </div>
      <div class="flex justify-between items-center mt-7">
        <span class="inline-block">105</span>
        <input type="number" class="input-wrap" value="1">
        <span>20,000원</span>
      </div>
    </div>
    <div class="layer-footer flex justify-between items-center">
      <p>총 상품금액 : 20,000원<br/><span class="ml-1 font-bold">총 합계금액 : 40,000원</span></p>
      <button type="button" class="btn-m">확인</button>
    </div>
  </div>
</div>