<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>옵션 미리보기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table class="table" summary="옵션 미리보기">

        <colgroup>
          <col style="width: 30%">
          <col style="width: 70%">
        </colgroup>
        <tbody>
        <tr>
          <th scope="row">색상</th>
          <td>
            <select class="select-wrap w-full" name="">
              <option value="">RED</option>
              <option value="">BLACK</option>
            </select>
          </td>
        </tr>
        <tr>
          <th scope="row">사이즈</th>
          <td>
            <select class="select-wrap w-full" name="">
              <option value="">95</option>
              <option value="">100</option>
              <option value="">105</option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>