<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>우편번호 찾기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="flex gap-1">
        <input type="text" placeholder="placeholder">
        <button type="button" class="btn-m">검색</button>
      </div>
      <div class="mt-2 p-5 bg-main-lightblue">
        <div class="text-red font-bold text-lg">TIP</div>
        <div class="text-sub-blue-400 mb-3">아래와 같이 검색하면 더욱 정확한 결과가 검색됩니다.</div>
        <div class="font-bold mb-1">· 도로명 + 건물번호</div>
        <div class="indent-2 mb-5">예) 영동대로 513, 제주 첨단로 242</div>
        <div class="font-bold mb-1">· 지역명(동/리) + 번지</div>
        <div class="indent-2 mb-5">예) 삼성동 25, 제주 영평동 2181</div>
        <div class="font-bold mb-1">· 지역명(동/리) + 건물명(아파트명)</div>
        <div class="indent-2">예) 분당 주공, 삼성동 코엑스</div>
      </div>
    </div>
  </div>
</div>