<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1>응모 고객 리스트</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <!-- 탭메뉴 -->
      <div class="tab-apply-list tabmenu">
        <div class="tab">
          <ul>
            <li class="on">1차</li>
            <li>2차</li>
          </ul>
        </div>
        <div class="tab-cont-section">
          <!-- 탭메뉴(1) - 1차 -->
          <h2 class="text-sub-blue-500 mt-6">응모 고객 리스트</h2>
          <div class="pt-5 hidden on">
            <p>1차 : <span class="text-red">000</span>명</p>
            <div class="tbl-box mt-1">
              <table class="table" summary="응모 고객 리스트 1차">

                <colgroup>
                  <col style="width:5%">
                  <col style="width:15%">
                  <col style="width:10%">
                  <col style="width:20%">
                  <col style="width:20%">
                  <col style="width:30%">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" class="text-center">번호</th>
                    <th scope="col" class="text-center">아이디</th>
                    <th scope="col" class="text-center">이름</th>
                    <th scope="col" class="text-center">연락처</th>
                    <th scope="col" class="text-center">신청일시</th>
                    <th scope="col" class="text-center">기타 메모</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">fastfive</td>
                    <td class="text-center">김패파</td>
                    <td class="text-center">010-1234-5678</td>
                    <td class="text-center">2022-09-30 13:14:15</td>
                    <td>꼭 당첨되고 싶어요.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <h2 class="text-sub-blue-500 mt-6 mb-2">응모 당첨자 선정</h2>
              <label class="label">
                <input type="radio" checked />
                <span class="label-text">자동 선정</span>
              </label>
              <label class="label">
                <input type="radio" />
                <span class="label-text">직접 선정</span>
              </label>
            </div>
            <div>
              <h2 class="text-sub-blue-500 mt-6 mb-2">당첨 인원수</h2>
              <input type="text" class="input-wrap w-2/5 align-middle" placeholder="placeholder" />
              <button type="button" class="btn-m align-middle whitespace-nowrap">선정</button>
            </div>
            <div class="tbl-box w-full mt-1">
              <h2 class="text-sub-blue-500 mt-6 mb-2">당첨자</h2>
              <table class="table" summary="당첨자">

                <colgroup>
                  <col style="width:10%">
                  <col style="width:30%">
                  <col style="width:30%">
                  <col style="width:30%">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" class="text-center">번호</th>
                    <th scope="col" class="text-center">아이디</th>
                    <th scope="col" class="text-center">이름</th>
                    <th scope="col" class="text-center">연락처</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">fastfive</td>
                    <td class="text-center">김패파</td>
                    <td class="text-center">010-1234-5678</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 탭메뉴(1) - 1차 -->
          <!-- 탭메뉴(2) - 2차 -->
          <div class="pt-5 hidden">
            <p>2차 : <span class="text-red">000</span>명</p>
            <div class="tbl-box mt-1">
              <table class="table" summary="응모 고객 리스트 2차">

                <colgroup>
                  <col style="width:5%">
                  <col style="width:15%">
                  <col style="width:10%">
                  <col style="width:20%">
                  <col style="width:20%">
                  <col style="width:30%">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" class="text-center">번호</th>
                    <th scope="col" class="text-center">아이디</th>
                    <th scope="col" class="text-center">이름</th>
                    <th scope="col" class="text-center">연락처</th>
                    <th scope="col" class="text-center">신청일시</th>
                    <th scope="col" class="text-center">기타 메모</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">fastfive</td>
                    <td class="text-center">김패파</td>
                    <td class="text-center">010-1234-5678</td>
                    <td class="text-center">2022-09-30 13:14:15</td>
                    <td>꼭 당첨되고 싶어요.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <h2 class="text-sub-blue-500 mt-6 mb-2">응모 당첨자 선정</h2>
              <label class="label">
                <input type="radio" />
                <span class="label-text">자동 선정</span>
              </label>
              <label class="label">
                <input type="radio" checked />
                <span class="label-text">직접 선정</span>
              </label>
            </div>
            <div>
              <h2 class="text-sub-blue-500 mt-6 mb-2">당첨 아이디</h2>
              <input type="text" class="input-wrap w-2/5 align-middle" placeholder="placeholder" />
              <button type="button" class="btn-m align-middle whitespace-nowrap">선정</button>
            </div>
            <div class="tbl-box w-full mt-1">
              <h2 class="text-sub-blue-500 mt-6 mb-2">당첨자</h2>
              <table class="table" summary="당첨자">

                <colgroup>
                  <col style="width:10%">
                  <col style="width:30%">
                  <col style="width:30%">
                  <col style="width:30%">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" class="text-center">번호</th>
                    <th scope="col" class="text-center">아이디</th>
                    <th scope="col" class="text-center">이름</th>
                    <th scope="col" class="text-center">연락처</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">fastfive</td>
                    <td class="text-center">김패파</td>
                    <td class="text-center">010-1234-5678</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 탭메뉴(2) - 2차 -->
        </div>
      </div>
      <!-- //탭메뉴 -->
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">확인</button>
    </div>
  </div>
</div>