<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1>자동 수집 기록</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="tbl-box">
        <table summary="답변내용" class="border-table">

          <colgroup>
            <col width="20%">
            <col width="80%">
          </colgroup>
          <tbody>
          <tr>
            <th scope="row">상품정보</th>
            <td>
              <div class="flex gap-5">
                <div class="w-10">
                  <img src="//img.atny.com/data/goods/ATNY/73/1483173/D46842_020_1_list1_rb.png" alt="" title="">
                </div>
                <div class="">
                  <div>몽클레르 주니어 남아 상의</div>
                  <div>Blue / US 12-18 Mo</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">제휴몰 상품번호</th>
            <td>15421101</td>
          </tr>
          <tr>
            <th scope="row">제휴몰 주문번호</th>
            <td>10284469</td>
          </tr>
          <tr>
            <th scope="row">쇼핑몰 주문번호</th>
            <td>125487-1239510</td>
          </tr>
          <tr>
            <th scope="row">제목</th>
            <td>배송/배송지 변경</td>
          </tr>
          <tr>
            <th scope="row">내용</th>
            <td>안녕하세요 배송지 변경 요청 드립니다. 땡땡댕 주소로 바꿔주세요.</td>
          </tr>
          <tr>
            <th scope="row">답변내용</th>
            <td><textarea class="w-full p-2 border border-sub-blue-200 h-20"></textarea></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">답변 등록</button>
      <button type="button" class="btn-white-l">닫기</button>
    </div>
  </div>
</div>