<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1>자동 수집 기록</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="H-BOX overflow-hidden">
        <select class="select-wrap">
          <option>제휴몰</option>
          <option>사방넷</option>
        </select>
        <span class="input-calendar-wrap">
          <button type="button" class="btn-calender"><span class="icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat"></span></button>
          <input type="text" class="inline-block float-right w-[76px] h-[38px]">
        </span>
        <select class="select-wrap">
          <option>1시</option>
          <option>2시</option>
          <option>3시</option>
          <option>4시</option>
          <option>5시</option>
          <option>6시</option>
          <option>7시</option>
          <option>8시</option>
          <option>9시</option>
          <option>10시</option>
          <option>11시</option>
          <option>12시</option>
          <option>13시</option>
          <option>14시</option>
          <option>15시</option>
          <option>16시</option>
          <option>17시</option>
          <option>18시</option>
          <option>19시</option>
          <option>20시</option>
          <option>21시</option>
          <option>22시</option>
          <option>23시</option>
          <option>24시</option>
        </select>
        <span class="input-calendar-wrap">
          <button type="button" class="btn-calender"><span class="icon-calender inline-block w-[14px] h-[14px] bg-icon-calender bg-center bg-no-repeat"></span></button>
          <input type="text" class="inline-block float-right w-[76px] h-[38px]">
        </span>
        <select class="select-wrap">
          <option>1시</option>
          <option>2시</option>
          <option>3시</option>
          <option>4시</option>
          <option>5시</option>
          <option>6시</option>
          <option>7시</option>
          <option>8시</option>
          <option>9시</option>
          <option>10시</option>
          <option>11시</option>
          <option>12시</option>
          <option>13시</option>
          <option>14시</option>
          <option>15시</option>
          <option>16시</option>
          <option>17시</option>
          <option>18시</option>
          <option>19시</option>
          <option>20시</option>
          <option>21시</option>
          <option>22시</option>
          <option>23시</option>
          <option>24시</option>
        </select>
        <button type="button" class="btn-m">조회</button>
      </div>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">닫기</button>
    </div>
  </div>
</div>