<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[400px]">
    <div class="layer-header">
      <h1>자동 리사이징</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table summary="자동 리사이징 크기 설정" class="border-table">

        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="text-center">가로 픽셀 X 세로 픽셀</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">PC 메인 이미지</th>
          <td class="text-center">
            <input type="text" class="input-wrap !w-16">
            <span class="px-1">X</span>
            <input type="text" class="input-wrap !w-16">
          </td>
        </tr>
        <tr>
          <th scope="row">PC 확대 이미지</th>
          <td class="text-center">
            <input type="text" class="input-wrap !w-16">
            <span class="px-1">X</span>
            <input type="text" class="input-wrap !w-16">
          </td>
        </tr>
        <tr>
          <th scope="row">PC 썸네일 이미지</th>
          <td class="text-center">
            <input type="text" class="input-wrap !w-16">
            <span class="px-1">X</span>
            <input type="text" class="input-wrap !w-16">
          </td>
        </tr>
        <tr>
          <th scope="row">Mobile 메인 이미지</th>
          <td class="text-center">
            <input type="text" class="input-wrap !w-16">
            <span class="px-1">X</span>
            <input type="text" class="input-wrap !w-16">
          </td>
        </tr>
        <tr>
          <th scope="row">Mobile 확대 이미지</th>
          <td class="text-center">
            <input type="text" class="input-wrap !w-16">
            <span class="px-1">X</span>
            <input type="text" class="input-wrap !w-16">
          </td>
        </tr>
        <tr>
          <th scope="row">Mobile 썸네일 이미지</th>
          <td class="text-center">
            <input type="text" class="input-wrap !w-16">
            <span class="px-1">X</span>
            <input type="text" class="input-wrap !w-16">
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center mt-6">
        <button class="btn-blue">저장</button>
        <button class="btn-white-l">취소</button>
      </div>
    </div>
  </div>
</div>