<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>재고 수정 로그</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table summary="재고 수정 로그" class="border-table">

        <thead>
        <tr>
          <th scope="col" class="text-center">수정자</th>
          <th scope="col" class="text-center">대상 옵션</th>
          <th scope="col" class="text-center">조정 전</th>
          <th scope="col" class="text-center">조정 후</th>
          <th scope="col" class="text-center">수정 일자/위치</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">admin11</td>
          <td class="text-center">핑크/90</td>
          <td class="text-center">2</td>
          <td class="text-center">1</td>
          <td class="text-center">2022-04-01 / 직접 수정</td>
        </tr>
        <tr>
          <td class="text-center">admin11</td>
          <td class="text-center">핑크/90</td>
          <td class="text-center">2</td>
          <td class="text-center">1</td>
          <td class="text-center">2022-04-01 / 직접 수정</td>
        </tr>
        <tr>
          <td class="text-center">admin11</td>
          <td class="text-center">핑크/90</td>
          <td class="text-center">2</td>
          <td class="text-center">1</td>
          <td class="text-center">2022-04-01 / 직접 수정</td>
        </tr>
        </tbody>
      </table>
      <script>Include('/hbs/component/Paging_1-a.hbs');</script>
    </div>
  </div>
</div>