<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>적용 상품</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table class="table" summary="적용 상품">

        <colgroup>
          <col style="width:20%">
          <col style="width:80%">
        </colgroup>
        <thead>
        <tr>
          <th scope="col" class="text-center">번호</th>
          <th scope="col" class="text-center">상품 정보</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <div class="flex justify-start">
              <div class="w-[50px] h-[50px] overflow-hidden">
                <img class="w-full" src="https://gifpng.com/{50}x{50}" alt=""/>
              </div>
              <div class="ml-3 text-left">
                <p>상품코드 : 11001100</p>
                <p>상품명 : 반짝이신발</p>
                <p>금액 : 180,000원</p>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>