<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[1300px]">
    <div class="layer-header">
      <h1>직접 등록 사은품 검색</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <h2 class="text-sub-blue-500 mb-2">사은품 검색</h2>
      <div class="tbl-box">
        <table class="table" summary="사은품 검색">

          <colgroup>
            <col style="width:20%">
            <col style="width:80%">
          </colgroup>
          <tbody>
          <tr>
            <th scope="row">사은품 이름</th>
            <td>
              <input type="text" class="input-wrap w-1/2" placeholder="placeholder"/>
            </td>
          </tr>
          <tr>
            <th scope="row">브랜드 선택</th>
            <td>
              <select class="select-wrap" name="">
                <option value="">선택</option>
                <option value="">ACTERYX</option>
                <option value="">BALLY</option>
                <option value="">PATAGONIA</option>
                <option value="">GREGORY</option>
                <option value="">NINTENDO</option>
                <option value="">X-BOX</option>
                <option value="">APPLE</option>
              </select>
              <button class="btn-m">검색</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2 class="text-sub-blue-500 mt-6 mb-2">조회 상품 리스트</h2>
      <div class="sorting-box flex justify-between">
        <div class="left-box">
          <span class="inline-block mt-6">조회 <span class="text-red">0</span>건 / 전체 <span class="text-red">0</span>건</span>
        </div>
        <div class="right-box">
          <select class="select-wrap" name="">
            <option value="">10개씩 보기</option>
            <option value="">30개씩 보기</option>
            <option value="">50개씩 보기</option>
            <option value="">70개씩 보기</option>
            <option value="">100개씩 보기</option>
            <option value="">500개씩 보기</option>
            <option value="">1000개씩 보기</option>
          </select>
        </div>
      </div>
      <div id="app" class="mt-1"></div>
      <!-- paging -->
      <script>Include('/hbs/component/Paging_1-a.hbs');</script>
      <!-- //paging -->
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-blue">선택</button>
    </div>
  </div>
</div>