<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>치환코드 확인하기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table summary="치환코드 확인하기" class="table">

        <colgroup>
          <col style="width: 15%">
          <col style="width: 55%">
          <col style="width: 30%">
        </colgroup>
        <thead>
          <tr>
            <th scope="col" class="text-center">번호</th>
            <th scope="col" class="text-center">치환코드</th>
            <th scope="col" class="text-center">설명</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td class="text-center">{seoShopName}</td>
            <td class="text-center">쇼핑몰 이름</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>