<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[900px]">
    <div class="layer-header">
      <h1>카카오 알림톡 발송 내역 상세 보기</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table class="table mb-2" summary="SMS 발송 내역 상세 보기">

        <colgroup>
          <col style="width:30%">
          <col style="width:70%">
        </colgroup>
        <tbody>
        <tr>
          <th scope="row">발송 상태</th>
          <td>발송성공</td>
        </tr>
        <tr>
          <th scope="row">사용 포인트</th>
          <td>1P</td>
        </tr>
        <tr>
          <th scope="row">발송 일시</th>
          <td>2024-01-01 11:12:42</td>
        </tr>
        <tr>
          <th scope="row">내용</th>
          <td class="!p-0">
            <div class="w-full h-auto max-h-[200px] overflow-y-auto p-2">안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…안녕하세요 이지용 고객님 회원가입을 축하드립니다, 플러스 친구…</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>