<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[1000px]">
    <div class="layer-header">
      <h1>카테고리매칭정보 등록</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="tbl-box">
        <table summary="판매마켓 및 판매자 아이디 정보" class="border-table">

          <colgroup>
            <col width="50%">
            <col width="50%">
          </colgroup>
          <tbody>
          <tr>
            <th colspan="2" class="h-[40px]">
              <span class="text-main-blue">STEP 1.</span> 판매마켓 및 판매자 아이디를 선택하세요.
            </th>
          </tr>
          <tr>
            <th scope="row" class="text-center">판매마켓</th>
            <th scope="row" class="text-center">셀러 아이디</th>
          </tr>
          <tr>
            <td class="text-center">
              <select class="select-wrap">
                <option>사방넷</option>
                <option>무신사</option>
                <option>스마트스토어</option>
              </select>
            </td>
            <td class="text-center">
              <select class="select-wrap">
                <option>셀러 아이디를 선택하세요</option>
                <option>apple123</option>
              </select>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="tbl-box mt-5">
        <table summary="카테고리 선택" class="border-table">

          <colgroup>
            <col width="10%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="10%">
          </colgroup>
          <tbody>
          <tr>
            <th colspan="6" scope="col" class="h-[40px]">
              <span class="text-main-blue">STEP 2.</span> 필수정보를 선택하세요.
            </th>
          </tr>
          <tr>
            <th scope="col">구분</th>
            <th scope="row" class="text-center">1차 분류</th>
            <th scope="row" class="text-center">2차 분류</th>
            <th scope="row" class="text-center">3차 분류</th>
            <th scope="row" class="text-center">4차 분류</th>
            <th scope="row" class="text-center">선택</th>
          </tr>
          <tr>
            <th scope="row">카테고리</th>
            <td class="text-center">
              <select class="select-wrap w-full">
                <option>1차 분류</option>
              </select>
            </td>
            <td class="text-center">
              <select class="select-wrap w-full">
                <option>2차 분류</option>
              </select>
            </td>
            <td class="text-center">
              <select class="select-wrap w-full">
                <option>3차 분류</option>
              </select>
            </td>
            <td class="text-center">
              <select class="select-wrap w-full">
                <option>4차 분류</option>
              </select>
            </td>
            <td class="text-center">
              <button type="button" class="btn-m">선택</button>
            </td>
          </tr>
          <tr>
            <th scope="row">선택 카테고리</th>
            <td colspan="5">WOMEN > 패션의류 > 반팔상의</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="tbl-box mt-5">
        <table summary="카테고리 선택" class="border-table">

          <colgroup>
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="16%">
          </colgroup>
          <tbody>
          <tr>
            <th colspan="8" scope="col" class="h-[40px]">
              <span class="text-main-blue">STEP 2.</span> 필수정보를 선택하세요.
            </th>
          </tr>
          <tr>
            <th scope="col">구분</th>
            <th scope="row" class="text-center">1차 분류</th>
            <th scope="row" class="text-center">2차 분류</th>
            <th scope="row" class="text-center">3차 분류</th>
            <th scope="row" class="text-center">4차 분류</th>
            <th scope="row" class="text-center">5차 분류</th>
            <th scope="row" class="text-center">6차 분류</th>
            <th scope="row" class="text-center">선택</th>
          </tr>
          <tr>
            <th scope="row">마켓 카테고리</th>
            <td class="text-center">
              <select class="select-wrap w-full">
                <option>1차 분류</option>
              </select>
            </td>
            <td class="text-center">
              <select class="select-wrap w-full">
                <option>2차 분류</option>
              </select>
            </td>
            <td class="text-center">
              <select class="select-wrap w-full">
                <option>3차 분류</option>
              </select>
            </td>
            <td class="text-center">
              <select class="select-wrap w-full">
                <option>4차 분류</option>
              </select>
            </td>
            <td class="text-center">
              <select class="select-wrap w-full">
                <option>5차 분류</option>
              </select>
            </td>
            <td class="text-center">
              <select class="select-wrap w-full">
                <option>6차 분류</option>
              </select>
            </td>
            <td class="text-center">
              <button type="button" class="btn-m">카테고리매칭</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="tbl-box mt-5">
        <table summary="연결된 카테고리" class="border-table">

          <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="30%">
            <col width="30%">
            <col width="10%">
          </colgroup>
          <tbody>
          <tr>
            <th scope="col" colspan="6">연결된 카테고리</th>
          </tr>
          <tr>
            <th scope="col" class="text-center">판매 마켓</th>
            <th scope="col" class="text-center">판매처 아이디</th>
            <th scope="col" class="text-center">매칭 카테고리 코드</th>
            <th scope="col" class="text-center">매칭 카테고리</th>
            <th scope="col" class="text-center">마켓 기타 정보</th>
            <th scope="col" class="text-center">삭제</th>
          </tr>
          <tr>
            <td class="text-center">사방넷</td>
            <td class="text-center">apple123</td>
            <td class="text-center">0010211</td>
            <td>WOMEN > 의류 > 상의</td>
            <td></td>
            <td class="text-center">
              <button type="button" class="btn-white-m">삭제</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="layer-footer">
      <div>
        <button type="button" class="btn-close-layer btn-white-m">닫기</button>
      </div>
    </div>
  </div>
</div>