<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>포인트 환수</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <p><span class="text-red">($회원)</span>에게 <span class="text-main-blue">3,000</span> (포인트)를 환수합니다.</p>
      <table class="table mt-1" summary="포인트 환수">

        <colgroup>
          <col style="width:20%">
          <col style="width:80%">
        </colgroup>
        <tbody>
        <tr>
          <th scope="row">사유 <span class="text-red">*</span></th>
          <td>
            <input type="text" class="input-wrap w-full" placeholder="placeholder">
          </td>
        </tr>
        <tr>
          <th scope="row">안내</th>
          <td>
            <label class="label">
              <input type="checkbox" name="">
              <span class="label-text">SMS</span>
            </label>
            <label class="label">
              <input type="checkbox" name="">
              <span class="label-text">메일</span>
            </label>
            <label class="label">
              <input type="checkbox" name="">
              <span class="label-text">카카오톡</span>
            </label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-warning-l">환수</button>
    </div>
  </div>
</div>