<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[800px]">
    <div class="layer-header">
      <h1>필수정보 설정 > 필수정보 수정</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <div class="text-sub-blue-500 mb-2 mt-4">템플릿</div>
      <div class="tbl-box">
        <table summary="템플릿 정보" class="border-table">

          <colgroup>
            <col width="20%">
            <col width="30%">
            <col width="50%">
          </colgroup>
          <thead>
          <tr>
            <th scope="col">API ID</th>
            <th scope="col">마켓 상품코드</th>
            <th scope="col">마켓 상품명</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>apple123</td>
            <td>10518585</td>
            <td>BK엘리워터 티셔츠</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="text-sub-blue-500 mb-2 mt-4">카테고리 정보</div>
      <div class="tbl-box">
        <table summary="카테고리 정보" class="border-table">

          <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
          </colgroup>
          <thead>
          <tr>
            <th scope="col">구분</th>
            <th scope="col" class="text-center">1차 카테고리</th>
            <th scope="col" class="text-center">2차 카테고리</th>
            <th scope="col" class="text-center">3차 카테고리</th>
            <th scope="col" class="text-center">4차 카테고리</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row"><span class="text-main-blue">*</span> 선택 카테고리</th>
            <td><input type="text" class="input-wrap w-full"></td>
            <td><input type="text" class="input-wrap w-full"></td>
            <td><input type="text" class="input-wrap w-full"></td>
            <td><input type="text" class="input-wrap w-full"></td>
          </tr>
          <tr>
            <th scope="row">필수정보 변경</th>
            <td colspan="4">
              <select class="select-wrap">
                <option>- 변경할 필수정보를 선택하세요.</option>
              </select>
              <button type="button" class="btn-white-m ml-1">변경</button>
              <div class="mt-1">※ 해당 상품의 브랜드에 등록 가능한 카테고리로 설정된 필수정보로만 변경이 가능합니다.</div>
            </td>
          </tr>
          <tr>
            <th scope="row">마켓가격</th>
            <td colspan="4"><input type="text" value="0" class="input-wrap"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="layer-footer">
      <div>
        <button type="button" class="btn-m">마켓 상품 정보 수정</button>
      </div>
    </div>
  </div>
</div>