<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>회원 가입 거부</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table class="table mb-2" summary="사유">

        <colgroup>
          <col style="width:30%">
          <col style="width:70%">
        </colgroup>
        <tbody>
        <tr>
          <th scope="row">사유</th>
          <td>
            <input type="text" class="input-wrap w-full" placeholder="placeholder"></input>
          </td>
        </tr>
        </tbody>
      </table>
      <p>승인 대기 상태의 회원 외에는 승인 여부 변경이 불가능 합니다.</p>
      <p>선택한 회원 중 <span class="text-red">($cnt)</span>명의 회원을 가입 거부 하시겠습니까?</p>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-white-l text-sm mr-1">확인</button>
      <button type="button" class="btn-l text-sm">취소</button>
    </div>
  </div>
</div>