<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content">
    <div class="layer-header">
      <h1>회원 등급 변경</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <table class="table" summary="회원 등급 변경">

        <colgroup>
          <col style="width:30%">
          <col style="width:70%">
        </colgroup>
        <tbody>
        <tr>
          <th scope="row">변경 등급</th>
          <td>
            <select class="select-wrap w-full">
              <option>선택</option>
              <option>브론즈</option>
              <option>실버</option>
              <option>골드</option>
              <option>플래티넘</option>
              <option>다이아</option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
      <p class="mt-3">회원 1명의 등급을 선택한 등급으로 변경하시겠습니까?</p>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-white-l text-sm mr-1">확인</button>
      <button type="button" class="btn-l text-sm">취소</button>
    </div>
  </div>
</div>