<div class="layer">
  <div class="bg-layer"></div>
  <div class="layer-content !w-[900px]">
    <div class="layer-header">
      <h1>회원 탈퇴 상세 정보</h1>
      <button type="button" class="btn-close-layer"><span class="icon-close-layer text-2xl inline-block w-[30px] h-[30px] bg-icon-close-layer bg-center bg-no-repeat"></span></button>
    </div>
    <div class="layer-body">
      <h2 class="text-sub-blue-500 mb-2">탈퇴 내역 상세 보기</h2>
      <table class="table" summary="탈퇴 내역 상세 보기">

        <colgroup>
          <col style="width:20%">
          <col style="width:30%">
          <col style="width:20%">
          <col style="width:30%">
        </colgroup>
        <tbody>
        <tr>
          <th scope="row">아이디</th>
          <td>test1</td>
          <th scope="row">탈퇴 유형</th>
          <td>직접 (본인) 탈퇴</td>
        </tr>
        <tr>
          <th scope="row">탈퇴 처리 IP</th>
          <td>210.180.192.189</td>
          <th scope="row">탈퇴일</th>
          <td>2021-11-16 09:05:12</td>
        </tr>
        <tr>
          <th scope="row">재가입 여부</th>
          <td>가능</td>
          <th scope="row">처리자</th>
          <td>-</td>
        </tr>
        <tr>
          <th scope="row">불편 사항</th>
          <td colspan="3">사이트 이용 불편</td>
        </tr>
        <tr>
          <th scope="row">충고 말씀</th>
          <td colspan="3">
            <textarea class="w-full h-[100px] overflow-y-auto p-2 border border-sub-blue-200" name=""></textarea>
          </td>
        </tr>
        </tbody>
      </table>
      <h2 class="text-sub-blue-500 mt-7 mb-2">관리자 메모</h2>
      <table class="table" summary="관리자 메모">

        <colgroup>
          <col style="width:20%">
          <col style="width:80%">
        </colgroup>
        <tbody>
        <tr>
          <th scope="row">메모</th>
          <td>
            <textarea class="w-full h-[100px] overflow-y-auto p-2 border border-sub-blue-200" name=""></textarea>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="layer-footer">
      <button type="button" class="btn-white-l text-sm">저장</button>
    </div>
  </div>
</div>